Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

js-lint:
  name: js-lint
  entry: npm run --prefix front lint
  pass_filenames: false
  language: system

js-type-check:
  name: js-type-check
  entry: npm run --prefix front type-check
  pass_filenames: false
  language: system

django-test:
  name: django-test
  entry: bash -c "cd back && coverage run manage.py test && coverage report --fail-under=75"
  pass_filenames: false
  language: system

check-django-migrations:
  name: Check django migrations
  entry: bash -c "cd back && python3 manage.py makemigrations --dry-run --check"
  language: system
  pass_filenames: false

remove unused files
  static/layouts/partials/hero-fullscreen.html
  static/layouts/partials/telescoop-section.html
Due: none

remove contact section
  static/assets/sass/main.scss
  static/layouts/_default/baseof.html
  static/layouts/_default/home.html
Due: none

update svg
  static/assets/sass/main.scss
  static/layouts/_default/baseof.html
  static/layouts/_default/home.html
  static/layouts/partials/contact-section.html
  static/layouts/partials/features-grid.html
  static/layouts/partials/newsletter-section.html
Due: none

update container and images
  static/assets/sass/main.scss
  static/layouts/_default/baseof.html
  static/layouts/_internal/navbar.html
  static/layouts/partials/hero-main.html
  static/static/images/map-city.jpg
Due: none

Update legend
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
Due: js-lint, js-type-check

feat(front): new layer with heat vulnerability + plantibilty (#394)
  front/components.d.ts
  front/src/components/layerSwitcher/LayerSwitcher.vue
  front/src/components/map/legend/MapLegend.vue
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
  front/src/components/map/score/BivariateCellLabel.vue
  front/src/composables/useContextData.ts
  front/src/router/index.ts
  front/src/stores/map.ts
  front/src/types/map.ts
  front/src/utils/enum.ts
  front/src/utils/plant_vulnerability.ts
Due: js-lint, js-type-check

enh: compute average vulnerability when zoomed out
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

update article
  static/assets/sass/main.scss
  static/layouts/_default/news.html
  static/layouts/_default/post.html
Due: none

Up
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

fix name of field
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

fix field name for the front
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

Fix
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

update partner logo with link
  static/assets/sass/main.scss
  static/layouts/partials/about-section.html
  static/layouts/partials/bandeau-cdc.html
  static/layouts/partials/mockup-section.html
  static/layouts/partials/newsletter.html
Due: none

update partner logo with link
  static/assets/sass/main.scss
  static/layouts/_internal/navbar.html
  static/layouts/partials/newsletter-section.html
Due: none

Update backup
  back/requirements.txt
Due: none

up
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

enh: update website (#395)
  .DS_Store
  static/.gitignore
  static/assets/sass/main.scss
  static/hugo.toml
  static/layouts/_default/baseof.html
  static/layouts/_default/home.html
  static/layouts/_default/news.html
  static/layouts/_default/post.html
  static/layouts/_internal/navbar.html
  static/layouts/partials/about-section.html
  static/layouts/partials/bandeau-cdc.html
  static/layouts/partials/bandeau-france2030.html
  static/layouts/partials/consortium-partners.html
  static/layouts/partials/consortium-section.html
  static/layouts/partials/features-grid.html
  static/layouts/partials/hero-main.html
  static/layouts/partials/iarbre-section.html
  static/layouts/partials/newsletter-section.html
  static/layouts/partials/partners-section.html
  static/layouts/partials/team.html
  static/layouts/partials/telescoop-about.html
  static/layouts/shortcodes/rawhtml.html
  static/static/images/2030.png
  static/static/images/logo-erasme.jpg
  static/static/images/logo-iarbre-2.png
  static/static/images/logo-liris.webp
  static/static/images/logo-metropole-lyon.svg
  static/static/images/logo2.png
  static/static/images/map-city.jpg
  static/static/images/trees2.jpg
Due: none

enh(front): faster regex for tiles color
  front/src/utils/plant_vulnerability.ts
Due: js-lint, js-type-check

Fix logical error
  back/api/constants.py
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

chore: cleaning
  back/compute_factors.sh
Due: none

remove filtering
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
Due: js-lint, js-type-check

feat(front): interactions for plantability x vulnerability
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
  front/src/components/map/score/BivariateCellLabel.vue
  front/src/stores/map.ts
  front/src/utils/map.ts
  front/src/utils/plant_vulnerability.ts
Due: js-lint, js-type-check

fix(front): naming
  front/cypress/components/SidebarHeader.cy.ts
  front/src/components/map/panels/sidepanel/MapSidePanelHeader.vue
Due: js-lint, js-type-check

enh(doc): files naming
  docs/methodology/plantability.md
  mkdocs.yml
Due: none

enh(front): link to methodology
  front/src/components/contextData/MapContextDataClimateZone.vue
  front/src/components/contextData/MapContextDataPlantability.vue
  front/src/components/contextData/MapContextHeader.vue
  front/src/components/contextData/shared/ContextDataMainContainer.vue
Due: js-lint, js-type-check

fix(front): naming (#412)
  front/cypress/components/SidebarHeader.cy.ts
  front/src/components/map/panels/sidepanel/MapSidePanelHeader.vue
Due: js-lint, js-type-check

Revert "fix(front): naming (#412)"
  front/cypress/components/SidebarHeader.cy.ts
  front/src/components/map/panels/sidepanel/MapSidePanelHeader.vue
Due: js-lint, js-type-check

Revert "fix(front): naming (#412)" (#413)
  front/cypress/components/SidebarHeader.cy.ts
  front/src/components/map/panels/sidepanel/MapSidePanelHeader.vue
Due: js-lint, js-type-check

feat(front): plantability gridSize display
  front/src/components/contextData/MapContextDataPlantability.vue
  front/src/components/contextData/MapContextDataVulnerability.vue
  front/src/components/contextData/shared/ContextDataMainContainer.vue
  front/src/utils/plantability.ts
Due: js-lint, js-type-check

Up
  front/src/components/contextData/shared/ContextDataMainContainer.vue
  front/src/utils/plantability.ts
Due: js-lint, js-type-check

fix(front): some small chores (#414)
  docs/methodology/plantability.md
  front/cypress/components/SidebarHeader.cy.ts
  front/src/components/contextData/MapContextDataClimateZone.vue
  front/src/components/contextData/MapContextDataPlantability.vue
  front/src/components/contextData/MapContextDataVulnerability.vue
  front/src/components/contextData/MapContextHeader.vue
  front/src/components/contextData/shared/ContextDataMainContainer.vue
  front/src/components/map/panels/sidepanel/MapSidePanelHeader.vue
  front/src/utils/plantability.ts
  mkdocs.yml
Due: js-lint, js-type-check

feat: update makefile
  Makefile
Due: none

fix: map split
  front/src/components/map/MapComponent.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/styles/main.css
  front/src/styles/variables.css
Due: js-lint, js-type-check

fix
  front/src/components/map/MapComponent.vue
Due: js-lint, js-type-check

enh(back): compute average vulnerability when zoomed out (#403)
  back/api/constants.py
  back/api/utils/mvt_generator.py
  back/requirements.txt
Due: django-test, check-django-migrations

first iteration
  back/iarbre_data/settings.py
  front/.gitignore
  front/.nycrc.json
  front/components.d.ts
  front/cypress/components/CircularProgress.cy.ts
  front/cypress/components/ClimateContextDataMetrics.cy.ts
  front/cypress/components/ClimateContextDataScore.cy.ts
  front/cypress/components/ContextDataAccordionItem.cy.ts
  front/cypress/components/ContextDataItem.cy.ts
  front/cypress/components/ContextDataListContainer.cy.ts
  front/cypress/components/ContextDataScore.cy.ts
  front/cypress/components/FeedbackForm.cy.ts
  front/cypress/components/PlantabilityContextDataList.cy.ts
  front/cypress/components/PlantabilityContextDataScore.cy.ts
  front/cypress/components/VulnerabilityContextDataList.cy.ts
  front/cypress/components/VulnerabilityContextDataScoreBadge.cy.ts
  front/cypress/components/VulnerabilityMainContextDataScore.cy.ts
  front/cypress/e2e/contextData.cy.ts
  front/package-lock.json
  front/package.json
  front/src/components/contextData/climate/ClimateContextDataScore.vue
  front/src/components/contextData/shared/ContextDataAccordionItem.vue
  front/src/composables/usePlantabilityData.ts
  front/vite.config.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

update package
  front/package-lock.json
  front/package.json
Due: none

update package lock
  front/cypress/components/ClimateContextDataMetrics.cy.ts
  front/cypress/components/ClimateContextDataScore.cy.ts
Due: js-lint, js-type-check

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
