Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)

chore: "En maintenance"
  deploy/telescoop-deploy/tasks/setup-nginx.yml
  deploy/telescoop-deploy/tasks/templates/maintenance.html
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
  front/components.d.ts
Due: js-lint, js-type-check

feat(front): share basemap and overlay layers in the map URL (#789)
  front/cypress/e2e/map.cy.ts
  front/src/components/dashboard/DashboardHeader.vue
  front/src/components/map/MapComponent.vue
  front/src/components/sidebar/SidebarComponent.vue
  front/src/composables/useMapRoute.ts
  front/src/composables/useTutorial.ts
  front/src/stores/map.ts
  front/src/types/map.ts
  front/src/utils/constants.ts
  front/src/utils/enum.ts
  front/src/utils/mapUrlState.ts
  front/src/views/MapView.vue
  front/tests/unit/composables/useMapRoute.spec.ts
  front/tests/unit/stores/map.displayState.spec.ts
  front/tests/unit/utils/mapUrlState.spec.ts
Due: js-lint, js-type-check

deploy: postgres16
  deploy/telescoop-deploy/tasks/install-database.yml
Due: none

chore(front): bump typescript to 5.9.3
  front/package-lock.json
  front/package.json
Due: none

fix(front): button hover contrast on touch screens and map overlay placement
  front/cypress/e2e/mapLayout.cy.ts
  front/src/components/map/MapLayerToggles.vue
  front/src/components/map/ShapeToolbar.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/components/sidebar/SidebarComponent.vue
  front/src/styles/main.css
  front/src/styles/maplibre.css
  front/tests/unit/styles/hoverStyles.spec.ts
Due: js-lint, js-type-check

fix(front): keep overlay layers above data layer when switching 2D/3D
  front/src/stores/map.ts
  front/src/utils/map.ts
  front/tests/unit/stores/map.layerOrder.spec.ts
Due: js-lint, js-type-check

test(front): extract fake maplibre map into a test helper
  front/tests/helpers/fakeMap.ts
  front/tests/unit/stores/map.layerOrder.spec.ts
Due: js-lint, js-type-check

npm audit fix
  front/package-lock.json
Due: none

test(front): check QPV layer order on 2D/3D switch with the real map
  front/cypress/e2e/map.cy.ts
  front/tests/helpers/fakeMap.ts
  front/tests/unit/stores/map.layerOrder.spec.ts
Due: js-lint, js-type-check

fix(front): keep overlay layers above data layer when switching 2D/3D (#792)
  front/cypress/e2e/map.cy.ts
  front/src/stores/map.ts
  front/src/utils/map.ts
Due: js-lint, js-type-check

eslint 10
  front/.eslintrc.cjs
  front/components.d.ts
  front/eslint.config.mjs
  front/package-lock.json
  front/package.json
  front/src/components/dashboard/shared/DashboardBubbleChart.vue
  front/src/components/shared/CircularScore.vue
  front/src/composables/useTutorial.ts
  front/src/utils/color.ts
Due: js-lint, js-type-check

fix(front): keep street view and shape panel clear of the legend and map controls
  front/cypress/e2e/mapLayout.cy.ts
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapPanoramaxViewer.vue
  front/src/components/map/ShapeToolbar.vue
  front/src/styles/main.css
Due: js-lint, js-type-check

chore(back): update Django
  back/requirements.txt
Due: none

feat(front): fold background selector and shape panel on outside tap
  front/cypress/e2e/mapOverlays.cy.ts
  front/src/components/map/MapBackgroundSelector.vue
  front/src/components/map/ShapeToolbar.vue
Due: js-lint, js-type-check

fix(front): guard map layer stacking on 2D/3D switch
  front/cypress/e2e/map.cy.ts
  front/cypress/support/commands.ts
  front/cypress/support/index.d.ts
  front/src/stores/map.ts
  front/src/utils/map.ts
Due: js-lint, js-type-check

fix(front): keep background selector clear of the draw trigger and zone card under panels
  front/cypress/e2e/mapLayout.cy.ts
  front/src/components/map/MapBackgroundSelector.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/ShapeLiveChip.vue
  front/src/components/map/ZoneDashboardCard.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/styles/main.css
Due: js-lint, js-type-check

test(front): read map store through the shared Cypress command
  front/cypress/e2e/mapLayout.cy.ts
Due: js-lint, js-type-check

fix(front): show tooltips on mouse hover and keyboard focus only
  front/cypress/components/Tooltip.cy.ts
  front/src/directives/tooltip.ts
Due: js-lint, js-type-check

fix(front): address map overlays review (stacking, escape, drag, street view sizing)
  front/cypress/components/Tooltip.cy.ts
  front/cypress/e2e/map.cy.ts
  front/cypress/e2e/mapLayout.cy.ts
  front/cypress/e2e/mapOverlays.cy.ts
  front/cypress/support/commands.ts
  front/cypress/support/index.d.ts
  front/cypress/support/viewports.ts
  front/src/components/map/MapBackgroundSelector.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapPanoramaxViewer.vue
  front/src/components/map/ShapeLiveChip.vue
  front/src/components/map/ShapeToolbar.vue
  front/src/components/map/ZoneDashboardCard.vue
  front/src/composables/useTapOutside.ts
  front/src/directives/tooltip.ts
  front/src/stores/map.ts
  front/src/styles/main.css
  front/tests/unit/styles/hoverStyles.spec.ts
Due: js-lint, js-type-check

description
  front/src/components/map/panels/sidepanel/MapLayerDescription.vue
  front/src/components/shared/MethodologyButton.vue
  front/src/utils/rasterLayers.ts
Due: js-lint, js-type-check

feat: add filter
  back/api/tests/test_heat_views.py
  back/api/views/heat_views.py
  front/src/components/map/legend/MapLegend.vue
  front/src/stores/map.ts
  front/src/utils/rasterLayers.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

correct date
  front/src/utils/rasterLayers.ts
Due: js-lint, js-type-check

cexport 2020
  back/api/tests/test_raster_views.py
  back/api/views/raster_views.py
Due: django-test, check-django-migrations

0.40.0 (2026-10-07)
  docs/changelog/product.md
Due: none

refactor(front): merge zone card into the shape panel and simplify layout tests
  front/components.d.ts
  front/cypress/e2e/map.cy.ts
  front/cypress/e2e/mapLayout.cy.ts
  front/cypress/support/commands.ts
  front/cypress/support/index.d.ts
  front/src/components/map/MapComponent.vue
  front/src/components/map/ShapeLiveChip.vue
  front/src/components/map/ShapeToolbar.vue
  front/src/components/map/ZoneDashboardCard.vue
  front/src/styles/main.css
  front/tests/unit/components/ShapeToolbar.spec.ts
  front/tests/unit/styles/hoverStyles.spec.ts
Due: js-lint, js-type-check

enh(back): update files names for 2020
  back/api/constants.py
  back/api/tests/test_raster_views.py
  back/api/views/raster_views.py
  back/heat/management/commands/split_pet_index.py
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

feat(back,front): display also PET 2090
  back/api/constants.py
  back/api/tests/test_heat_views.py
  back/api/views/heat_views.py
  back/api/views/raster_views.py
  front/src/utils/rasterLayers.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

chore(back,front): remove and clean sun exposure
  back/api/constants.py
  back/api/tests/test_heat_views.py
  back/api/views/heat_views.py
  back/api/views/raster_views.py
  front/src/utils/rasterLayers.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

Revert "feat(back,front): display also PET 2090"
  back/api/constants.py
  back/api/tests/test_heat_views.py
  back/api/views/heat_views.py
  back/api/views/raster_views.py
  front/src/utils/rasterLayers.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

Revert "enh(back): update files names for 2020"
  back/api/constants.py
  back/api/tests/test_raster_views.py
  back/api/views/raster_views.py
  back/heat/management/commands/split_pet_index.py
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

chore: default to 16h
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
  front/src/utils/rasterLayers.ts
Due: js-lint, js-type-check

fix
  back/api/constants.py
  back/api/tests/test_raster_views.py
  back/api/views/raster_views.py
  back/heat/management/commands/split_pet_index.py
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
  front/src/utils/rasterLayers.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

DB is not up to d date
  back/api/constants.py
  back/api/tests/test_raster_views.py
  back/api/views/raster_views.py
  back/heat/management/commands/split_pet_index.py
Due: django-test, check-django-migrations
