Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)

add 2015 in API and front
  back/api/constants.py
  front/components.d.ts
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

feat: links to experiments in welcome
  front/src/components/ExperimentsMessage.vue
  front/src/components/WelcomeMessage.vue
  front/src/components/icons/IconExperiment.vue
Due: js-lint, js-type-check

update icon
  front/src/components/icons/IconExperiment.vue
Due: js-lint, js-type-check

Update db version
  back/.db_recover_target
  docs/changelog/database.md
Due: none

feat: links to experiments in welcome (#759)
  back/.db_recover_target
  docs/changelog/database.md
  front/src/components/ExperimentsMessage.vue
  front/src/components/WelcomeMessage.vue
  front/src/components/icons/IconExperiment.vue
Due: js-lint, js-type-check

feat: add panoramax + viewer
  front/components.d.ts
  front/package-lock.json
  front/package.json
  front/src/components/icons/IconPanoramax.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapLayerToggles.vue
  front/src/components/map/MapPanoramaxCredit.vue
  front/src/components/map/MapPanoramaxViewer.vue
  front/src/stores/map.ts
  front/src/types/maplibre-gl-panoramax.d.ts
  front/src/utils/mapLayers.ts
  front/src/utils/panoramax.ts
Due: js-lint, js-type-check

add tests
  front/cypress/components/MapLayerToggles.cy.ts
  front/cypress/components/MapPanoramaxViewer.cy.ts
  front/cypress/e2e/map.cy.ts
  front/cypress/support/commands.ts
  front/cypress/support/index.d.ts
  front/tests/unit/utils/panoramax.spec.ts
Due: js-lint, js-type-check

review from Claude
  front/cypress/support/commands.ts
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapPanoramaxViewer.vue
  front/src/stores/map.ts
  front/src/utils/panoramax.ts
Due: js-lint, js-type-check

chore(front): update coverage report
  .github/nyc-comment-template.md
  .github/workflows/checks.yml
Due: none

chore(front): update coverage report (#763)
  .github/nyc-comment-template.md
  .github/workflows/checks.yml
Due: none

useless and failing test
  front/cypress/e2e/map.cy.ts
Due: js-lint, js-type-check

correct panoramax logo
  front/src/components/icons/IconPanoramax.vue
  front/src/components/map/MapPanoramaxViewer.vue
Due: js-lint, js-type-check

feat(front): add panoramx (#761)
  front/components.d.ts
  front/cypress/components/MapLayerToggles.cy.ts
  front/cypress/components/MapPanoramaxViewer.cy.ts
  front/cypress/e2e/map.cy.ts
  front/cypress/support/commands.ts
  front/cypress/support/index.d.ts
  front/package-lock.json
  front/package.json
  front/src/components/icons/IconPanoramax.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapLayerToggles.vue
  front/src/components/map/MapPanoramaxCredit.vue
  front/src/components/map/MapPanoramaxViewer.vue
  front/src/stores/map.ts
  front/src/types/maplibre-gl-panoramax.d.ts
  front/src/utils/mapLayers.ts
  front/src/utils/panoramax.ts
  front/tests/unit/utils/panoramax.spec.ts
Due: js-lint, js-type-check

feat(back): split heat file per hour
  back/heat/__init__.py
  back/heat/management/__init__.py
  back/heat/management/commands/__init__.py
  back/heat/management/commands/split_pet_index.py
  back/heat/raster.py
  back/iarbre_data/settings.py
Due: django-test, check-django-migrations

feat(back): endpoint to stream heat data + serve front
  back/api/constants.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/heat_views.py
  back/api/views/raster_views.py
  back/api/views/wms_views.py
Due: django-test, check-django-migrations

chore(front): clean script related to vegestrate
  front/cypress/components/MapContextDataVegetation.cy.ts
  front/cypress/components/VegestrateHeightGauge.cy.ts
  front/src/components/contextData/vegestrate/VegestrateContextDataInfo.vue
  front/src/components/contextData/vegestrate/VegestrateHeightGauge.vue
  front/src/components/contextData/vegestrate/VegestratePanel.vue
  front/src/components/contextTools/VegestrateContextTool.vue
  front/src/components/contextTools/VegestrateHeightRanges.vue
  front/src/components/icons/IconVegestrate.vue
  front/src/services/vegetationService.ts
  front/src/types/vegetation.ts
  front/src/utils/vegetation.ts
  front/tests/unit/utils/vegetation.spec.ts
Due: js-lint, js-type-check

feat(front): replace vegestrate by heat
  front/components.d.ts
  front/src/components/contextData/MapContextData.vue
  front/src/components/contextData/MapContextDataHeat.vue
  front/src/components/contextTools/HeatContextTool.vue
  front/src/components/contextTools/MapContextTools.vue
  front/src/components/layerSwitcher/LayerSwitcher.vue
  front/src/components/map/legend/HeatLegend.vue
  front/src/components/map/legend/MapLegend.vue
  front/src/components/map/legend/VegetationLegend.vue
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
  front/src/composables/useContextData.ts
  front/src/composables/useMapFilters.ts
  front/src/router/index.ts
  front/src/stores/map.ts
  front/src/styles/main.css
  front/src/types/LocalStorageTypes.ts
  front/src/utils/constants.ts
  front/src/utils/enum.ts
  front/src/utils/heat.ts
Due: js-lint, js-type-check

feat(db): add heat related rasters in db
  back/.db_recover_target
  docs/changelog/database.md
Due: none

fix(back): abort tarteaucitron and matomo when generating dashboard
  back/api/utils/pdf_renderer.py
Due: django-test, check-django-migrations

fix: missing module
  front/package-lock.json
Due: none

update default params
  front/src/stores/map.ts
  front/src/utils/heat.ts
Due: js-lint, js-type-check

fix: A4 print format
  back/api/utils/pdf_renderer.py
Due: django-test, check-django-migrations

Small layout correction
  front/src/components/dashboard/widgets/PlantabilityWidget.vue
Due: js-lint, js-type-check

fricadelle: ajout de lien
  front/src/components/ExperimentsMessage.vue
Due: js-lint, js-type-check

fix(back): abort tarteaucitron and matomo when generating dashboard (#766)
  back/api/utils/pdf_renderer.py
  front/src/components/ExperimentsMessage.vue
  front/src/components/dashboard/widgets/PlantabilityWidget.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

enh(front): update dashboard layout
  front/src/components/dashboard/DashboardNarrative.vue
  front/src/components/dashboard/NarrativeSection.vue
  front/src/components/dashboard/widgets/HeatWidget.vue
  front/src/components/icons/IconMetropoleMap.vue
Due: js-lint, js-type-check

Simplify svg
  front/src/components/icons/IconMetropoleMap.vue
Due: js-lint, js-type-check

enh(front): update dashboard layout (#767)
  front/src/components/dashboard/DashboardNarrative.vue
  front/src/components/dashboard/NarrativeSection.vue
  front/src/components/dashboard/widgets/HeatWidget.vue
  front/src/components/icons/IconMetropoleMap.vue
Due: js-lint, js-type-check

test(front): add smoke test against prod
  .github/dependabot.yml
  .github/workflows/prod-smoke.yml
  front/cypress.prod.config.ts
  front/cypress/prod/smoke.cy.ts
  front/cypress/prod/tsconfig.json
  front/cypress/support/e2e-prod.ts
  front/package.json
  front/tsconfig.node.json
Due: js-lint, js-type-check

chore: .github was wrongly in the gitignore
  .gitignore
Due: none

clean healt-check
  back/api/views/heath_views.py
Due: django-test, check-django-migrations

feat(doc): ajout de notre mco
  docs/mco.md
  mkdocs.yml
Due: none

reorg
  docs/mco.md
  docs/mco/depannage.md
  mkdocs.yml
Due: none

feat: doc and improvMCO (#769)
  .github/dependabot.yml
  .github/workflows/prod-smoke.yml
  .gitignore
  back/api/views/heath_views.py
  docs/mco.md
  docs/mco/depannage.md
  front/cypress.prod.config.ts
  front/cypress/prod/smoke.cy.ts
  front/cypress/prod/tsconfig.json
  front/cypress/support/e2e-prod.ts
  front/package.json
  front/tsconfig.node.json
  mkdocs.yml
Due: js-lint, js-type-check, django-test, check-django-migrations

chore: update CI with higher python 3.12 and ubuntu 24.04
  .github/workflows/checks.yml
  .github/workflows/delete-feature.yml
  .github/workflows/deploy-feature.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/docs.yml
  .github/workflows/prod-smoke.yml
  back/iarbre_data/tests/test_c03_data.py
Due: django-test, check-django-migrations

fix: pre-commit python version
  .pre-commit-config.yaml
  back/.flake8
  deploy/ansible.cfg
Due: none

feat(front): share basemap and overlay layers in the map URL
  front/cypress/e2e/map.cy.ts
  front/src/components/dashboard/DashboardHeader.vue
  front/src/components/map/MapComponent.vue
  front/src/components/sidebar/SidebarComponent.vue
  front/src/composables/useMapRoute.ts
  front/src/composables/useTutorial.ts
  front/src/stores/map.ts
  front/src/types/map.ts
  front/src/utils/constants.ts
  front/src/utils/enum.ts
  front/src/utils/mapUrlState.ts
  front/src/views/MapView.vue
  front/tests/unit/composables/useMapRoute.spec.ts
  front/tests/unit/stores/map.displayState.spec.ts
  front/tests/unit/utils/mapUrlState.spec.ts
Due: js-lint, js-type-check

changelog 0.39.0 (2026-10-01)
  docs/changelog/product.md
Due: none

refactor(front): drop leftover comments and trim map store tests
  front/src/stores/map.ts
  front/src/utils/mapUrlState.ts
  front/tests/unit/stores/map.displayState.spec.ts
Due: js-lint, js-type-check

chore: "En maintenance"
  deploy/telescoop-deploy/tasks/setup-nginx.yml
  deploy/telescoop-deploy/tasks/templates/maintenance.html
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
  front/components.d.ts
Due: js-lint, js-type-check
