Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

js-lint:
  name: js-lint
  entry: npm run --prefix front lint
  pass_filenames: false
  language: system

js-type-check:
  name: js-type-check
  entry: npm run --prefix front type-check
  pass_filenames: false
  language: system

django-test:
  name: django-test
  entry: bash -c "cd back && coverage run manage.py test && coverage report --fail-under=75"
  pass_filenames: false
  language: system

check-django-migrations:
  name: Check django migrations
  entry: bash -c "cd back && python3 manage.py makemigrations --dry-run --check"
  language: system
  pass_filenames: false

Fix
  front/src/components/division/IpaveDivisionDataDisplay.vue
Due: js-lint, js-type-check

doc: update readme
  README.md
Due: none

Modify URLs section for preproduction updates
  README.md
Due: none

doc: update readme (#440)
  README.md
Due: none

Speed is fast
  .github/workflows/checks.yml
  back/api/management/commands/generate_mvt.py
  back/api/tests/test_generate_mvt.py
  back/iarbre_data/management/commands/populate.py
Due: django-test, check-django-migrations

fix: static
  static/layouts/_default/baseof.html
Due: none

docs: add readme
  static/README.md
Due: none

fix: static preview img url (#442)
  static/README.md
  static/layouts/_default/baseof.html
Due: none

Speed is faster
  .github/workflows/checks.yml
Due: none

fix
  static/layouts/_default/baseof.html
Due: none

test(back): improve speed (#441)
  .github/workflows/checks.yml
  back/api/management/commands/generate_mvt.py
  back/api/tests/test_generate_mvt.py
  back/iarbre_data/management/commands/populate.py
Due: django-test, check-django-migrations

fix: image
  static/layouts/_default/baseof.html
Due: none

fix: preview img
  static/layouts/_default/baseof.html
Due: none

fix: reset to origin version of preview
  static/layouts/_default/baseof.html
Due: none

0.19.0 (2025-10-29) : Recherche de lieux améliorée et améliorations pour les tests
  docs/changelog/changelog.md
  docs/changelog/database_changelog.md
Due: none

0.19.0 (2025-10-29) : Recherche de lieux améliorée et améliorations pour les tests (#443)
  docs/changelog/changelog.md
  docs/changelog/database_changelog.md
Due: none

Keep proper DB recover target
  back/.db_recover_target
Due: none

Default filter for plantability
  front/src/composables/useMapFilters.ts
  front/src/stores/map.ts
Due: js-lint, js-type-check

Fix reseaux infra error
  back/iarbre_data/management/commands/raster_to_land_use.py
Due: django-test, check-django-migrations

feat(back): add pca analysis on plantability factors
  back/plantability/analysis/pca_analysis.py
Due: django-test, check-django-migrations

feat: add 404 pqge
  front/src/router/index.ts
  front/src/styles/components.css
  front/src/styles/main.css
  front/src/views/NotFoundView.vue
Due: js-lint, js-type-check

feat: add claude.md to say instructions to claude
  CLAUDE.md
Due: none

WIP
  front/src/components/map/MapComponent.vue
  front/src/utils/constants.ts
  front/src/views/MapView.vue
Due: js-lint, js-type-check

fix
  CLAUDE.md
  front/src/styles/components.css
  front/src/styles/main.css
Due: none

fix
  CLAUDE.md
Due: none

feat: add 404 page and share claude.md (#452)
  front/src/router/index.ts
  front/src/views/NotFoundView.vue
Due: js-lint, js-type-check

v1
  front/components.d.ts
  front/cypress/components/MapContextDataPlantability.cy.ts
  front/package-lock.json
  front/package.json
  front/src/components/contextData/CompactContextData.vue
  front/src/components/contextData/MapContextData.vue
  front/src/components/contextData/MapContextDataMobile.vue
  front/src/composables/useContextData.ts
  front/src/stores/map.ts
Due: js-lint, js-type-check

Update docs for vulnérability
  docs/methodology/vulnerability.md
  front/src/utils/enum.ts
Due: js-lint, js-type-check

feat: url to download plantability raster
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/raster_views.py
  back/plantability/management/commands/compute_plantability_raster.py
Due: django-test, check-django-migrations

feat: start adding shape to get score (WIP)
  back/api/constants.py
  back/api/serializers/serializers.py
  back/api/urls.py
  back/api/views/tile_views.py
  front/components.d.ts
  front/package-lock.json
  front/package.json
  front/public/icons/angled-rectangle-white.svg
  front/public/icons/angled-rectangle.svg
  front/public/icons/circle-white.svg
  front/public/icons/circle.svg
  front/public/icons/point-white.svg
  front/public/icons/point.svg
  front/public/icons/polygon-white.svg
  front/public/icons/polygon.svg
  front/public/icons/rectangle-white.svg
  front/public/icons/rectangle.svg
  front/public/icons/sector-white.svg
  front/public/icons/sector.svg
  front/src/components/contextData/MapContextData.vue
  front/src/components/contextData/MapContextDataClimateZone.vue
  front/src/components/contextData/MapContextDataMobile.vue
  front/src/components/contextData/MapContextDataPlantability.vue
  front/src/components/contextData/MapContextDataPlantabilityVulnerability.vue
  front/src/components/contextData/MapContextDataVulnerability.vue
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
  front/src/components/map/DrawingControls.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/SelectionModeToggle.vue
  front/src/components/shared/CircularScore.vue
  front/src/composables/useContextData.ts
  front/src/composables/useTerraDraw.ts
  front/src/services/tileService.ts
  front/src/stores/map.ts
  front/src/types/api.ts
  front/src/utils/enum.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

WIP
  front/src/components/contextData/MapContextData.vue
  front/src/components/contextData/MapContextDataPlantability.vue
  front/src/components/division/ClickPlantabilityDivisionData.vue
  front/src/components/division/DivisionDataDisplay.vue
  front/src/components/division/PlantabilityDivisionData.vue
  front/src/components/map/DrawingControls.vue
  front/src/composables/useTerraDraw.ts
  front/src/services/tileService.ts
  front/src/stores/map.ts
  front/src/types/api.ts
  front/src/types/plantability.ts
Due: js-lint, js-type-check

fix
  front/components.d.ts
  front/public/icons/map-draw-white.svg
  front/public/icons/map-draw.svg
  front/src/components/map/DrawingModeToggle.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/SelectionModeToolbar.vue
  front/src/stores/map.ts
Due: js-lint, js-type-check

fix: show distribution again
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
  front/src/services/tileService.ts
  front/src/types/plantability.ts
Due: js-lint, js-type-check

feat: move control in bottom center
  front/src/components/map/DrawingControls.vue
Due: js-lint, js-type-check

fix
  front/src/components/map/DrawingControls.vue
Due: js-lint, js-type-check

fix
  back/plantability/analysis/pca_analysis.py
Due: django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
