Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

js-lint:
  name: js-lint
  entry: npm run --prefix front lint
  pass_filenames: false
  language: system

js-type-check:
  name: js-type-check
  entry: npm run --prefix front type-check
  pass_filenames: false
  language: system

django-test:
  name: django-test
  entry: bash -c "cd back && coverage run manage.py test && coverage report --fail-under=75"
  pass_filenames: false
  language: system

check-django-migrations:
  name: Check django migrations
  entry: bash -c "cd back && python3 manage.py makemigrations --dry-run --check"
  language: system
  pass_filenames: false

Remove prints
  front/src/utils/map.ts
Due: js-lint, js-type-check

Faster import lcz correction
  back/iarbre_data/management/commands/import_lcz.py
Due: django-test, check-django-migrations

re-add mailgun api key
  deploy/group_vars/all/cross_env_vault.yml
Due: none

re-add mailgun api key (#377)
  deploy/group_vars/all/cross_env_vault.yml
Due: none

fix double comparison
  back/iarbre_data/management/commands/import_lcz.py
Due: django-test, check-django-migrations

Fix big geom for LCZ
  back/api/utils/mvt_generator.py
  back/iarbre_data/management/commands/import_lcz.py
  back/iarbre_data/utils/data_processing.py
Due: django-test, check-django-migrations

add test
  back/iarbre_data/tests/test_utils_data_processing.py
  back/iarbre_data/utils/data_processing.py
Due: django-test, check-django-migrations

black
  back/iarbre_data/utils/data_processing.py
Due: django-test, check-django-migrations

Fix
  back/api/tests/test_generate_mvt.py
  back/iarbre_data/management/commands/import_lcz.py
Due: django-test, check-django-migrations

fix(front) : filter status UI
  front/src/components/map/MapComponent.vue
  front/src/components/map/panels/MapFiltersStatus.vue
Due: js-lint, js-type-check

Fix selection
  front/src/components/map/legend/PlantabilityLegend.vue
  front/src/components/map/score/ScoreLabel.vue
Due: js-lint, js-type-check

fix(front) : legend and filtering (#383)
  front/src/components/map/MapComponent.vue
  front/src/components/map/legend/PlantabilityLegend.vue
  front/src/components/map/panels/MapFiltersStatus.vue
  front/src/components/map/score/ScoreLabel.vue
Due: js-lint, js-type-check

fix display of QPV on mobile
  front/src/components/map/panels/MapConfigDrawer.vue
  front/src/components/map/panels/MapQpvToggleButton.vue
  front/src/components/mapSwitcher/MapBgSwitcher.vue
Due: js-lint, js-type-check

fix display of QPV on mobile (#384)
  front/src/components/map/panels/MapConfigDrawer.vue
  front/src/components/map/panels/MapQpvToggleButton.vue
  front/src/components/mapSwitcher/MapBgSwitcher.vue
Due: js-lint, js-type-check

Fix
  front/src/components/map/score/ScoreLabel.vue
Due: js-lint, js-type-check

In rem
  front/src/components/map/score/ScoreLabel.vue
Due: js-lint, js-type-check

Fix(front): legend (#385)
  front/src/components/map/score/ScoreLabel.vue
Due: js-lint, js-type-check

fix(front): re-add score on mobile
  front/components.d.ts
  front/src/components/contextData/MapContextDataMobile.vue
  front/src/components/map/MapComponent.vue
Due: js-lint, js-type-check

Fix tests
  front/cypress/components/MapLegend.cy.ts
  front/cypress/e2e/legendFiltering.cy.ts
  front/src/components/map/legend/ClimateZoneLegend.vue
  front/src/components/map/legend/PlantabilityLegend.vue
  front/src/components/map/legend/VulnerabilityLegend.vue
  front/src/components/map/score/ClimateZoneScoreLabel.vue
  front/src/components/map/score/VulnerabilityScoreLabel.vue
Due: js-lint, js-type-check

fix(front): re-add score on mobile (#386)
  front/components.d.ts
  front/cypress/components/MapLegend.cy.ts
  front/cypress/e2e/legendFiltering.cy.ts
  front/src/components/contextData/MapContextDataMobile.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/legend/ClimateZoneLegend.vue
  front/src/components/map/legend/PlantabilityLegend.vue
  front/src/components/map/legend/VulnerabilityLegend.vue
  front/src/components/map/score/ClimateZoneScoreLabel.vue
  front/src/components/map/score/VulnerabilityScoreLabel.vue
Due: js-lint, js-type-check

Auto stash befor0.16.0 (2025-09-24) : Contexte plantabilité et score mobilee checking out "origin/dev"
  docs/assets/images/changelog/v0.16.0/plantability_context.jpg
  docs/changelog.md
Due: none

0.16.0 (2025-09-24) : Contexte plantabilité et score mobile
  docs/assets/images/changelog/v0.16.0/plantability_context.jpg
  docs/changelog.md
Due: none

chore
  .coderabbit.yaml
  CODING_STANDARDS.md
Due: none

Add welcome message and LocalStorage handler
  front/components.d.ts
  front/src/components/WelcomeMessage.vue
  front/src/components/map/MapComponent.vue
  front/src/styles/main.css
  front/src/types/LocalStorageTypes.ts
  front/src/utils/LocalStorageHandler.ts
Due: js-lint, js-type-check

Colors
  front/src/components/WelcomeMessage.vue
Due: js-lint, js-type-check

add NL + legend SVG
  front/src/components/WelcomeMessage.vue
Due: js-lint, js-type-check

icons chore
  front/components.d.ts
  front/src/components/WelcomeMessage.vue
  front/src/components/icons/LayerSwitcherIcon.vue
  front/src/components/icons/LegendIcon.vue
Due: js-lint, js-type-check

fix tests
  front/cypress/e2e/legendFiltering.cy.ts
  front/cypress/e2e/map.cy.ts
  front/cypress/e2e/mapFeedback.cy.ts
  front/cypress/e2e/navigation.cy.ts
  front/src/components/map/MapComponent.vue
Due: js-lint, js-type-check

Fix
  front/cypress/e2e/map.cy.ts
Due: js-lint, js-type-check

colors with plantability.ts
  front/src/components/icons/LegendIcon.vue
Due: js-lint, js-type-check

test(front): add e2e test for welcome message
  front/cypress/e2e/map.cy.ts
  front/src/components/WelcomeMessage.vue
Due: js-lint, js-type-check

feat(front): first visit welcome message (#389)
  .coderabbit.yaml
  CODING_STANDARDS.md
  front/components.d.ts
  front/cypress/e2e/legendFiltering.cy.ts
  front/cypress/e2e/map.cy.ts
  front/cypress/e2e/mapFeedback.cy.ts
  front/cypress/e2e/navigation.cy.ts
  front/src/components/WelcomeMessage.vue
  front/src/components/icons/LayerSwitcherIcon.vue
  front/src/components/icons/LegendIcon.vue
  front/src/components/map/MapComponent.vue
  front/src/styles/main.css
  front/src/types/LocalStorageTypes.ts
  front/src/utils/LocalStorageHandler.ts
Due: js-lint, js-type-check

Update logo position and font
  static/assets/sass/main.scss
  static/layouts/_internal/navbar.html
Due: none

Up
  static/assets/sass/main.scss
Due: none

Minor UI update to static website (#390)
  static/assets/sass/main.scss
  static/layouts/_internal/navbar.html
Due: none

fix(deploy): remove cron for automatic backup
  deploy/telescoop-deploy/tasks/install-and-update-django.yml
Due: none

enh(front): move Jour/Nuit toogle
  front/src/components/layerSwitcher/MapLayerSwitcher.vue
  front/src/components/mapSwitcher/MapBgSwitcher.vue
  front/src/styles/main.css
Due: js-lint, js-type-check

enh(front): allow to display welcomeMessage from navbar
  front/src/components/WelcomeMessage.vue
  front/src/components/navbar/NavbarComponent.vue
Due: js-lint, js-type-check

feat(back): project Vulnerability on same grid as Tile (#363)
  back/api/management/commands/clean_mvt_files.py
  back/api/tests/test_generate_mvt.py
  back/api/utils/mvt_generator.py
  back/iarbre_data/factories.py
  back/iarbre_data/management/commands/import_lcz.py
  back/iarbre_data/management/commands/vulnerability_projection.py
  back/iarbre_data/migrations/0029_tile_vulnerability_idx.py
  back/iarbre_data/migrations/0030_alter_tile_vulnerability_idx.py
  back/iarbre_data/models.py
  back/iarbre_data/tests/test_project_vulnerability.py
  back/iarbre_data/tests/test_utils_data_processing.py
  back/iarbre_data/utils/data_processing.py
  front/src/stores/map.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

new layer
  front/src/components/layerSwitcher/LayerSwitcher.vue
  front/src/stores/map.ts
  front/src/types/map.ts
  front/src/utils/enum.ts
Due: js-lint, js-type-check

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
