Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)

text contrast
  front/src/components/contextData/MapContextDataClimateZone.vue
  front/src/components/contextData/climate/ClimateContextDataScore.vue
Due: js-lint, js-type-check

Review
  front/src/components/contextData/plantability/PlantabilityContextDataScore.vue
  front/src/components/contextData/vulnerability/VulnerabilityMainContextDataScore.vue
  front/src/utils/color.ts
Due: js-lint, js-type-check

feat(front) : context panels for vulnerability and climate zone (#366)
  front/components.d.ts
  front/cypress/components/MapContextDataClimateZone.cy.ts
  front/cypress/components/MapContextDataVulnerability.cy.ts
  front/src/components/contextData/MapContextData.vue
  front/src/components/contextData/MapContextDataClimateZone.vue
  front/src/components/contextData/MapContextDataPlantability.vue
  front/src/components/contextData/MapContextDataVulnerability.vue
  front/src/components/contextData/MapContextHeader.vue
  front/src/components/contextData/climate/ClimateContextDataScore.vue
  front/src/components/contextData/plantability/PlantabilityContextDataScore.vue
  front/src/components/contextData/vulnerability/VulnerabilityMainContextDataScore.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/components/map/panels/sidepanel/MapSidePanelFooter.vue
  front/src/components/map/score/ScoreLabel.vue
  front/src/composables/useVulnerabilityData.ts
  front/src/router/index.ts
  front/src/stores/map.ts
  front/src/styles/main.css
  front/src/types/climate.ts
  front/src/utils/color.ts
Due: js-lint, js-type-check

refacto(front): a single component for accordion list
  front/components.d.ts
  front/src/components/contextData/ContextDataAccordionItem.vue
  front/src/components/contextData/ContextDataItem.vue
  front/src/components/contextData/climate/ClimateContextDataMetrics.vue
  front/src/components/contextData/plantability/PlantabilityContextDataAccordionItem.vue
  front/src/components/contextData/plantability/PlantabilityContextDataItem.vue
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
Due: js-lint, js-type-check

chore(front): shared contextData components
  front/components.d.ts
  front/src/components/contextData/climate/ClimateContextDataMetrics.vue
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
  front/src/components/contextData/shared/ContextDataAccordionItem.vue
  front/src/components/contextData/shared/ContextDataItem.vue
Due: js-lint, js-type-check

test(front): fix climate zone tests
  front/cypress/components/MapContextDataClimateZone.cy.ts
  front/cypress/components/MapContextDataPlantability.cy.ts
Due: js-lint, js-type-check

chore
  front/cypress/components/MapContextDataClimateZone.cy.ts
  front/src/components/contextData/climate/ClimateContextDataMetrics.vue
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
  front/src/components/contextData/shared/ContextDataAccordionItem.vue
  front/src/components/contextData/shared/ContextDataItem.vue
  front/src/types/contextData.ts
Due: js-lint, js-type-check

up
  front/src/components/contextData/shared/ContextDataAccordionItem.vue
  front/src/components/contextData/shared/ContextDataItem.vue
Due: js-lint, js-type-check

up
  front/cypress/components/MapContextDataClimateZone.cy.ts
Due: js-lint, js-type-check

refacto(front): first iteration
  front/components.d.ts
  front/src/components/contextData/MapContextDataVulnerability.vue
  front/src/components/contextData/vulnerability/VulnerabilityContexDataTableRow.vue
  front/src/components/contextData/vulnerability/VulnerabilityContextDataList.vue
  front/src/components/contextData/vulnerability/VulnerabilityContextDataTable.vue
  front/src/components/contextData/vulnerability/VulnerabilityContextDataTableHeader.vue
  front/src/types/contextData.ts
Due: js-lint, js-type-check

up
  front/components.d.ts
  front/src/components/contextData/vulnerability/VulnerabilityContextDataList.vue
Due: js-lint, js-type-check

Up
  front/components.d.ts
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
Due: js-lint, js-type-check

Mutualize DataScore
  front/components.d.ts
  front/src/components/contextData/MapContextDataClimateZone.vue
  front/src/components/contextData/MapContextDataPlantability.vue
  front/src/components/contextData/MapContextDataVulnerability.vue
  front/src/components/contextData/plantability/PlantabilityContextDataScore.vue
  front/src/components/contextData/shared/ContextDataAccordionItem.vue
  front/src/components/contextData/shared/ContextDataItem.vue
  front/src/components/contextData/shared/ContextDataMainContainer.vue
  front/src/components/contextData/shared/ContextDataScore.vue
  front/src/components/contextData/vulnerability/VulnerabilityContextDataList.vue
  front/src/components/contextData/vulnerability/VulnerabilityMainContextDataScore.vue
  front/src/types/contextData.ts
Due: js-lint, js-type-check

Mutualization
  front/components.d.ts
  front/src/components/contextData/climate/ClimateContextDataMetrics.vue
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
  front/src/components/contextData/shared/ContextDataListContainer.vue
  front/src/components/contextData/vulnerability/VulnerabilityContextDataList.vue
  front/src/composables/useContextDataStyles.ts
Due: js-lint, js-type-check

Fix tests
  front/cypress/components/MapContextDataVulnerability.cy.ts
  front/cypress/e2e/map.cy.ts
Due: js-lint, js-type-check

Update
  docs/assets/images/changelog/v0.15.0/context.jpg
  docs/assets/images/changelog/v0.15.0/cover.png
  docs/changelog.md
Due: none

up
  docs/changelog.md
Due: none

refacto(front): a single component for accordion list (#371)
  front/components.d.ts
  front/cypress/components/MapContextDataClimateZone.cy.ts
  front/cypress/components/MapContextDataPlantability.cy.ts
  front/cypress/components/MapContextDataVulnerability.cy.ts
  front/cypress/e2e/map.cy.ts
  front/src/components/contextData/MapContextDataClimateZone.vue
  front/src/components/contextData/MapContextDataPlantability.vue
  front/src/components/contextData/MapContextDataVulnerability.vue
  front/src/components/contextData/climate/ClimateContextDataMetrics.vue
  front/src/components/contextData/plantability/PlantabilityContextDataAccordionItem.vue
  front/src/components/contextData/plantability/PlantabilityContextDataItem.vue
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
  front/src/components/contextData/plantability/PlantabilityContextDataScore.vue
  front/src/components/contextData/shared/ContextDataAccordionItem.vue
  front/src/components/contextData/shared/ContextDataItem.vue
  front/src/components/contextData/shared/ContextDataListContainer.vue
  front/src/components/contextData/shared/ContextDataMainContainer.vue
  front/src/components/contextData/shared/ContextDataScore.vue
  front/src/components/contextData/vulnerability/VulnerabilityContexDataTableRow.vue
  front/src/components/contextData/vulnerability/VulnerabilityContextDataList.vue
  front/src/components/contextData/vulnerability/VulnerabilityContextDataTable.vue
  front/src/components/contextData/vulnerability/VulnerabilityContextDataTableHeader.vue
  front/src/components/contextData/vulnerability/VulnerabilityMainContextDataScore.vue
  front/src/composables/useContextDataStyles.ts
  front/src/types/contextData.ts
Due: js-lint, js-type-check

Up
  docs/changelog.md
Due: none

Changelog 2025-09-18 : Tests, refactoring Ansible et changements UI/UX (#372)
  docs/assets/images/changelog/v0.15.0/context.jpg
  docs/assets/images/changelog/v0.15.0/cover.png
  docs/changelog.md
Due: none

Bigger
  static/assets/sass/main.scss
Due: none

add pie chart for plantability
  front/components.d.ts
  front/package-lock.json
  front/package.json
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
  front/src/composables/useContextData.ts
  front/src/composables/usePlantabilityData.ts
  front/src/stores/map.ts
  front/src/types/plantability.ts
Due: js-lint, js-type-check

Correct colors in score badge
  front/src/utils/color.ts
Due: js-lint, js-type-check

Init on first click
  front/src/composables/useContextData.ts
Due: js-lint, js-type-check

Up
  front/src/stores/map.ts
Due: js-lint, js-type-check

Remove filtering
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
Due: js-lint, js-type-check

Up
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
Due: js-lint, js-type-check

Reveiws update
  .coderabbit.yaml
  CODING_STANDARDS.md
  front/src/composables/useContextData.ts
  front/src/utils/color.ts
Due: js-lint, js-type-check

up
  .coderabbit.yaml
Due: none

feat(front): add context for plantability with zoom < 17 (#374)
  .coderabbit.yaml
  CODING_STANDARDS.md
  front/components.d.ts
  front/package-lock.json
  front/package.json
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
  front/src/composables/useContextData.ts
  front/src/composables/usePlantabilityData.ts
  front/src/stores/map.ts
  front/src/types/plantability.ts
  front/src/utils/color.ts
Due: js-lint, js-type-check

Fix(front): multiple MVT with same ID causing multiple highligthing
  back/api/utils/mvt_generator.py
  front/components.d.ts
  front/src/stores/map.ts
  front/src/utils/map.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

Update back/iarbre_data/management/commands/vulnerability_projection.py
  back/iarbre_data/management/commands/vulnerability_projection.py
Due: django-test, check-django-migrations

Reviews updates
  back/api/management/commands/clean_mvt_files.py
  back/api/management/commands/update_mvt_vulnerability.py
  back/api/utils/mvt_generator.py
  back/iarbre_data/models.py
Due: django-test, check-django-migrations

Fix
  back/iarbre_data/management/commands/vulnerability_projection.py
Due: django-test, check-django-migrations

Makemigration
  back/iarbre_data/migrations/0030_alter_tile_vulnerability_idx.py
Due: none

Fix
  back/api/management/commands/update_mvt_vulnerability.py
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

Up
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

fix(back): some large LCZ areas are overlapping with smaller ones
  back/iarbre_data/management/commands/import_lcz.py
Due: django-test, check-django-migrations

chore: cleaning
  back/api/management/commands/update_mvt_vulnerability.py
  back/iarbre_data/management/commands/import_lcz.py
Due: django-test, check-django-migrations

quick fix
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations
