Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

js-lint:
  name: js-lint
  entry: npm run --prefix front lint
  pass_filenames: false
  language: system

js-type-check:
  name: js-type-check
  entry: npm run --prefix front type-check
  pass_filenames: false
  language: system

django-test:
  name: django-test
  entry: bash -c "cd back && coverage run manage.py test && coverage report --fail-under=75"
  pass_filenames: false
  language: system

check-django-migrations:
  name: Check django migrations
  entry: bash -c "cd back && python3 manage.py makemigrations --dry-run --check"
  language: system
  pass_filenames: false

fix: try to speed up WFS
  back/api/tests/test_wfs_views.py
  back/api/views/wfs_views.py
  back/iarbre_data/settings.py
Due: django-test, check-django-migrations

0.25.0 (2026-03-11)
  back/README.md
  docs/changelog/product.md
  docs/methodology/vegetation.md
Due: none

Fricadelle
  back/README.md
  back/api/views/wfs_views.py
  back/iarbre_data/settings.py
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
Due: django-test, check-django-migrations

fix plantability/vulnerability legend (#567)
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
Due: js-lint, js-type-check

Tuto update
  front/src/composables/useTutorial.ts
Due: js-lint, js-type-check

Retravaille le dashboard (#555)
  .pre-commit-config.yaml
  front/components.d.ts
  front/src/components/dashboard/DashboardGrid.vue
  front/src/components/dashboard/DashboardHeader.vue
  front/src/components/dashboard/shared/DashboardArcScore.vue
  front/src/components/dashboard/shared/DashboardBubbleChart.vue
  front/src/components/dashboard/widgets/BuildingWidget.vue
  front/src/components/dashboard/widgets/HeatWidget.vue
  front/src/components/dashboard/widgets/PlantabilityWidget.vue
  front/src/components/dashboard/widgets/SurfaceTypeWidget.vue
  front/src/components/dashboard/widgets/VegetationWaterWidget.vue
  front/src/components/dashboard/widgets/VegetationWidget.vue
  front/src/composables/useD3Chart.ts
  front/src/services/dashboardService.ts
  front/src/stores/dashboard.ts
  front/src/types/dashboard.ts
Due: js-lint, js-type-check

0.25.0 (2026-03-11) : Dashboard de données, WFS, pipeline de données et vegestrate vectoriel (#569)
  back/README.md
  back/api/views/wfs_views.py
  back/iarbre_data/settings.py
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
  docs/changelog/product.md
  docs/methodology/vegetation.md
Due: django-test, check-django-migrations

Oupsi
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
Due: js-lint, js-type-check

Répare le tutoriel sur mobile (#566)
  front/components.d.ts
  front/cypress/components/SidebarComponent.cy.ts
  front/cypress/e2e/map.cy.ts
  front/cypress/support/component.ts
  front/src/components/contextData/plantability/PlantabilityDistributionChart.vue
  front/src/components/contextData/shared/ContextDataMainContainer.vue
  front/src/components/contextTools/MapContextTools.vue
  front/src/components/layerSwitcher/MapLayerSwitcher.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapGeocoder.vue
  front/src/components/map/panels/MapConfigDrawer.vue
  front/src/components/map/panels/MapConfigDrawerToggle.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/components/mapSwitcher/MapBgSwitcher.vue
  front/src/composables/useTutorial.ts
  front/src/stores/app.ts
  front/src/stores/tutorial.ts
  front/src/styles/main.css
  front/src/types/tutorial.ts
  front/src/views/MapView.vue
Due: js-lint, js-type-check

Fix: some toogles were duplicated
  front/src/components/contextTools/MapContextTools.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
Due: js-lint, js-type-check

Add django-prometheus
  back/iarbre_data/settings.py
  back/iarbre_data/urls.py
  back/requirements.txt
Due: django-test, check-django-migrations

Add metric
  deploy/frontend.yml
Due: none

fix
  back/iarbre_data/urls.py
Due: django-test, check-django-migrations

Revert
  back/iarbre_data/urls.py
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
Due: django-test, check-django-migrations

hide metrics
  deploy/group_vars/all/cross_env_vault.yml
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
Due: none

Fix
  deploy/frontend.yml
Due: none

Feat: add django-prometheus
  back/iarbre_data/settings.py
  back/iarbre_data/urls.py
  back/requirements.txt
  deploy/group_vars/all/cross_env_vault.yml
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
Due: django-test, check-django-migrations

fix: add proxy_pass
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
Due: none

Faster wfs
  back/api/views/wfs_views.py
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
  deploy/templates/settings-custom.ini.j2
Due: django-test, check-django-migrations

fix: changes in the geocoder API
  front/components.d.ts
  front/cypress/e2e/map.cy.ts
Due: js-lint, js-type-check

revert snaptogrid (too slow)
  back/api/views/wfs_views.py
  back/iarbre_data/settings.py
Due: django-test, check-django-migrations

Linter
  back/api/views/wfs_views.py
Due: django-test, check-django-migrations

Fix: improve wfs speed (#573)
  back/api/views/wfs_views.py
  back/iarbre_data/settings.py
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
  deploy/templates/settings-custom.ini.j2
  front/components.d.ts
  front/cypress/e2e/map.cy.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

first draft
  static/assets/sass/main.scss
  static/layouts/_default/home.html
  static/layouts/partials/value-proposition.html
Due: none

more gunicorn
  deploy/backend.yml
Due: none

Nginx caching
  deploy/group_vars/all/vars.yml
  deploy/telescoop-deploy/tasks/setup-nginx.yml
  deploy/telescoop-deploy/tasks/templates/nginx-wfs-cache.conf.j2
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
Due: none

enh(back, front): improve WFS speed (#575)
  deploy/backend.yml
  deploy/group_vars/all/vars.yml
  deploy/telescoop-deploy/tasks/setup-nginx.yml
  deploy/telescoop-deploy/tasks/templates/nginx-wfs-cache.conf.j2
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
Due: none

enh(back): import gaz and elec from ORE
  back/iarbre_data/data_config.py
  back/iarbre_data/management/commands/c03_import_data.py
  back/iarbre_data/utils/download.py
Due: django-test, check-django-migrations

chore + add entrée parkings
  back/iarbre_data/data_config.py
Due: django-test, check-django-migrations

Block computation if blocking factor
  back/plantability/management/commands/compute_plantability_raster.py
Due: django-test, check-django-migrations

fix tests
  back/plantability/tests/test_compute_plantabilty_raster.py
Due: django-test, check-django-migrations

replace hardcoded srid with variable
  back/api/filters/geometry_filters.py
  back/api/tests/test_boundary_views.py
  back/api/tests/test_dashboard_views.py
  back/api/tests/test_tile_views.py
  back/api/tests/test_wfs_views.py
  back/api/utils/mvt_generator.py
  back/api/views/tile_views.py
  back/api/views/wfs_views.py
  back/iarbre_data/management/commands/c03_import_data.py
  back/iarbre_data/management/commands/import_cadastre.py
  back/iarbre_data/models.py
  back/iarbre_data/settings.py
  back/iarbre_data/tests/test_data_to_raster.py
  back/iarbre_data/tests/test_import_cadastre.py
  back/iarbre_data/tests/test_import_lcz.py
  back/iarbre_data/tests/test_import_vulnerability.py
  back/iarbre_data/tests/test_project_vulnerability.py
  back/iarbre_data/tests/test_raster_to_land_use.py
  back/iarbre_data/tests/test_utils_data_processing.py
  back/iarbre_data/tests/test_utils_database.py
  back/iarbre_data/tests/test_views.py
  back/iarbre_data/utils/data_processing.py
  back/iarbre_data/utils/utils_populate.py
  back/vegetation/tests/test_add_vegestrate_data.py
Due: django-test, check-django-migrations

enh: SQL query time tracking
  back/iarbre_data/settings.py
Due: django-test, check-django-migrations

enh: SQL query time tracking (#581)
  back/iarbre_data/settings.py
Due: django-test, check-django-migrations

Renommer les noms des variables pour les code SRID
  back/api/filters/geometry_filters.py
  back/api/tests/test_boundary_views.py
  back/api/tests/test_dashboard_views.py
  back/api/tests/test_tile_views.py
  back/api/tests/test_wfs_views.py
  back/api/utils/mvt_generator.py
  back/api/views/tile_views.py
  back/api/views/wfs_views.py
  back/iarbre_data/management/commands/c01_insert_cities_and_iris.py
  back/iarbre_data/management/commands/c03_import_data.py
  back/iarbre_data/management/commands/import_cadastre.py
  back/iarbre_data/management/commands/import_lcz.py
  back/iarbre_data/management/commands/import_vulnerability.py
  back/iarbre_data/management/commands/update_data.py
  back/iarbre_data/models.py
  back/iarbre_data/settings.py
  back/iarbre_data/tests/test_c03_data.py
  back/iarbre_data/tests/test_data_to_raster.py
  back/iarbre_data/tests/test_import_cadastre.py
  back/iarbre_data/tests/test_import_lcz.py
  back/iarbre_data/tests/test_import_vulnerability.py
  back/iarbre_data/tests/test_project_vulnerability.py
  back/iarbre_data/tests/test_raster_to_land_use.py
  back/iarbre_data/tests/test_utils_data_processing.py
  back/iarbre_data/tests/test_utils_database.py
  back/iarbre_data/tests/test_views.py
  back/iarbre_data/utils/data_processing.py
  back/iarbre_data/utils/database.py
  back/iarbre_data/utils/download.py
  back/iarbre_data/utils/utils_populate.py
  back/plantability/management/commands/raster_plantability_to_geom.py
  back/vegetation/management/commands/add_vegestrate_data.py
  back/vegetation/tests/test_add_vegestrate_data.py
Due: django-test, check-django-migrations

feat(back): add logger for WFS requests
  back/api/views/wfs_views.py
  back/iarbre_data/settings.py
Due: django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
