Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)

Update DB + raster dl button
  back/.db_recover_target
  back/api/views/raster_views.py
  docs/changelog/database.md
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

fix: test no more URL
  front/cypress/components/SidebarDownload.cy.ts
Due: js-lint, js-type-check

feat(back,front): ajout WMS et API pour rasters entiers (#613)
  back/.db_recover_target
  back/api/constants.py
  back/api/tests/test_wms_views.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/raster_views.py
  back/api/views/wfs_views.py
  back/api/views/wms_views.py
  back/iarbre_data/management/commands/generate_calque_rasters.py
  back/iarbre_data/tests/test_utils_database.py
  back/iarbre_data/utils/calque_config.py
  back/iarbre_data/utils/palettes.py
  back/vegetation/management/commands/vegestrate_to_raster.py
  deploy/backend.yml
  docs/changelog/database.md
  front/cypress/components/SidebarDownload.cy.ts
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

Update narrative UI
  front/src/components/dashboard/DashboardNarrative.vue
  front/src/components/dashboard/NarrativeSection.vue
Due: js-lint, js-type-check

Add texts and narrative sections
  front/src/components/dashboard/DashboardNarrative.vue
  front/src/components/dashboard/NarrativeSection.vue
  front/src/components/dashboard/shared/DashboardWidgetCard.vue
Due: js-lint, js-type-check

Update meta factor chart
  front/src/components/dashboard/widgets/PlantabilityWidget.vue
Due: js-lint, js-type-check

Add links to doc
  front/src/components/dashboard/DashboardNarrative.vue
  front/src/components/dashboard/NarrativeSection.vue
Due: js-lint, js-type-check

0.31.0 (2026-05-27)
  docs/changelog/product.md
Due: none

typo
  docs/changelog/product.md
Due: none

fix: restore delete test data
  deploy/backend.yml
Due: none

🔖 0.31.0 (2026-05-27) : Tableau de bord narratif et améliorations des services WMF/WMS (#658)
  deploy/backend.yml
  docs/changelog/product.md
Due: none

typo
  front/src/components/dashboard/DashboardNarrative.vue
Due: js-lint, js-type-check

corrections after PR review by claude plugin
  back/api/tests/test_dashboard_views.py
  back/plantability/tests/test_compute_meta_factors_avg.py
  front/src/components/dashboard/DashboardNarrative.vue
  front/src/components/dashboard/widgets/VegetationSurfaceWidget.vue
  front/src/stores/dashboard.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

front: use polished for text colors in dashboard
  front/src/components/dashboard/shared/DashboardWidgetCard.vue
  front/src/components/dashboard/widgets/BuildingCharacteristicsWidget.vue
  front/src/components/dashboard/widgets/PlantabilityWidget.vue
  front/src/components/dashboard/widgets/VegetationSurfaceWidget.vue
Due: js-lint, js-type-check

Vegetation viz update + constrat
  front/src/components/dashboard/NarrativeSection.vue
  front/src/components/dashboard/widgets/BuildingCharacteristicsWidget.vue
  front/src/components/dashboard/widgets/SurfaceTypeWidget.vue
  front/src/components/dashboard/widgets/VegetationSurfaceWidget.vue
Due: js-lint, js-type-check

enh(front): refacto de la vue dashboard pour la rendre plus pédagogique (#651)
  back/api/serializers/dashboard_serializer.py
  back/api/tests/test_dashboard_views.py
  back/api/views/dashboard_views.py
  back/iarbre_data/factories.py
  back/iarbre_data/migrations/0042_add_meta_factors_avg_to_city_iris.py
  back/iarbre_data/models.py
  back/plantability/management/commands/compute_meta_factors_avg.py
  back/plantability/tests/test_compute_meta_factors_avg.py
  docs/changelog/database.md
  front/components.d.ts
  front/src/components/dashboard/DashboardGrid.vue
  front/src/components/dashboard/DashboardHeader.vue
  front/src/components/dashboard/DashboardNarrative.vue
  front/src/components/dashboard/NarrativeSection.vue
  front/src/components/dashboard/shared/DashboardWidgetCard.vue
  front/src/components/dashboard/widgets/BiosphereWidget.vue
  front/src/components/dashboard/widgets/BuildingCharacteristicsWidget.vue
  front/src/components/dashboard/widgets/HeatWidget.vue
  front/src/components/dashboard/widgets/PermeabilityWidget.vue
  front/src/components/dashboard/widgets/PlantabilityWidget.vue
  front/src/components/dashboard/widgets/SurfaceTypeWidget.vue
  front/src/components/dashboard/widgets/VegetationSurfaceWidget.vue
  front/src/components/dashboard/widgets/VegetationWidget.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/components/sidebar/SidebarComponent.vue
  front/src/stores/dashboard.ts
  front/src/styles/main.css
  front/src/theme/iArbre.ts
  front/src/types/dashboard.ts
  front/src/utils/dashboardColors.ts
  front/src/utils/plantability.ts
  front/src/views/DashboardView.vue
  front/src/views/MapView.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

fix: free port for gisserver
  deploy/group_vars/prod/vars.yml
Due: none

front: add dashboard DL footer
  front/components.d.ts
  front/src/components/dashboard/DashboardFooter.vue
  front/src/components/dashboard/DashboardNarrative.vue
  front/src/components/dashboard/NarrativeSection.vue
  front/src/styles/main.css
Due: js-lint, js-type-check

interpreation row length and font size
  front/src/components/dashboard/NarrativeSection.vue
Due: js-lint, js-type-check

Update widget sizes
  front/src/components/dashboard/widgets/HeatWidget.vue
  front/src/components/dashboard/widgets/SurfaceTypeWidget.vue
Due: js-lint, js-type-check

up
  front/components.d.ts
  front/cypress/components/ClimateContextDataScore.cy.ts
  front/cypress/components/MapContextDataBiosphereIntegrity.cy.ts
  front/cypress/components/VulnerabilityContextDataScoreBadge.cy.ts
  front/src/components/WelcomeMessage.vue
  front/src/components/contextData/MapContextDataBiosphereIntegrity.vue
  front/src/components/contextData/MapContextDataPlantabilityVulnerability.vue
  front/src/components/contextData/biosphereIntegrity/BiosphereLandCoverInfo.vue
  front/src/components/contextData/climate/ClimateContextDataMetrics.vue
  front/src/components/contextData/climate/ClimateContextDataScore.vue
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
  front/src/components/contextData/shared/ContextDataAccordionItem.vue
  front/src/components/contextData/shared/ContextDataFactorRow.vue
  front/src/components/contextData/shared/ContextDataIcon.vue
  front/src/components/contextData/shared/ContextDataItem.vue
  front/src/components/contextData/shared/ContextDataListContainer.vue
  front/src/components/contextData/shared/ContextDataMainContainer.vue
  front/src/components/contextData/vegestrate/VegestrateContextDataInfo.vue
  front/src/components/contextData/vulnerability/VulnerabilityContextDataList.vue
  front/src/components/contextData/vulnerability/VulnerabilityContextDataScore.vue
  front/src/components/contextData/vulnerability/VulnerabilityContextDataScoreBadge.vue
  front/src/components/contextData/vulnerability/VulnerabilityMainContextDataScore.vue
  front/src/components/division/PlantabilityDivisionData.vue
  front/src/components/layerSwitcher/MapLayerSwitcher.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/components/map/panels/sidepanel/MapSidePanelDownload.vue
  front/src/composables/useClimateZone.ts
  front/src/composables/useContextDataStyles.ts
  front/src/composables/usePlantabilityData.ts
  front/src/styles/main.css
  front/src/utils/enum.ts
  front/src/utils/plantability.ts
Due: js-lint, js-type-check

feat(ui) : improve zoom/dezoom, fix responsive
  front/components.d.ts
  front/cypress/components/ContextDataCompactScore.cy.ts
  front/cypress/components/PlantabilityContextDataList.cy.ts
  front/src/components/EmptyMessage.vue
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
  front/src/components/contextData/shared/ContextDataCompactScore.vue
  front/src/components/contextData/shared/ContextDataMainContainer.vue
  front/src/components/contextData/vulnerability/VulnerabilityMainContextDataScore.vue
  front/src/components/layerSwitcher/MapLayerSwitcher.vue
  front/src/components/map/MapBackgroundSelector.vue
  front/src/components/map/legend/BiosphereFunctionalIntegrityLegend.vue
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
  front/src/components/map/legend/PlantabilityLegend.vue
  front/src/components/map/legend/VegetationLegend.vue
  front/src/components/map/legend/VulnerabilityLegend.vue
  front/src/components/map/panels/MapBoundaryToggleButton.vue
  front/src/components/map/panels/MapCadastreToggleButton.vue
  front/src/components/map/panels/MapQpvToggleButton.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/components/shared/AppButton.vue
  front/src/components/shared/CircularScore.vue
  front/src/components/sidebar/SidebarComponent.vue
  front/src/stores/map.ts
  front/src/styles/main.css
Due: js-lint, js-type-check

up
  front/src/components/layerSwitcher/MapLayerSwitcher.vue
Due: js-lint, js-type-check

fix test
  front/cypress/components/ContextDataItem.cy.ts
Due: js-lint, js-type-check

Revert "chore(deps-dev): bump vitest from 3.2.4 to 4.1.0 in /front (#664)"
  front/package-lock.json
  front/package.json
Due: none

front: add dashboard DL footer (#663)
  front/components.d.ts
  front/src/components/dashboard/DashboardFooter.vue
  front/src/components/dashboard/DashboardNarrative.vue
  front/src/components/dashboard/NarrativeSection.vue
  front/src/components/dashboard/widgets/HeatWidget.vue
  front/src/components/dashboard/widgets/SurfaceTypeWidget.vue
  front/src/styles/main.css
Due: js-lint, js-type-check

feat(ui): up
  front/components.d.ts
  front/cypress/components/ClimateContextDataScore.cy.ts
  front/cypress/components/ContextDataScoreHeader.cy.ts
  front/cypress/components/ContextDataSkeleton.cy.ts
  front/cypress/components/ContextDataZoomHint.cy.ts
  front/cypress/components/MapContextData.cy.ts
  front/src/components/contextData/MapContextData.vue
  front/src/components/contextData/MapContextDataBiosphereIntegrity.vue
  front/src/components/contextData/climate/ClimateContextDataScore.vue
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
  front/src/components/contextData/shared/ContextDataMainContainer.vue
  front/src/components/contextData/shared/ContextDataScoreHeader.vue
  front/src/components/contextData/shared/ContextDataSkeleton.vue
  front/src/components/contextData/shared/ContextDataZoomHint.vue
  front/src/components/layerSwitcher/MapLayerSwitcher.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/legend/BiosphereFunctionalIntegrityLegend.vue
  front/src/components/map/legend/ClimateZoneLegend.vue
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
  front/src/components/map/legend/VegetationLegend.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/components/shared/MethodologyButton.vue
  front/src/composables/useContextData.ts
  front/src/services/tileService.ts
  front/src/stores/map.ts
  front/src/styles/main.css
  front/src/utils/enum.ts
  front/src/utils/plantability.ts
Due: js-lint, js-type-check

feat(front): add component for feedback banner
  front/components.d.ts
  front/src/components/FeedbackBanner.vue
  front/src/layouts/DefaultLayout.vue
Due: js-lint, js-type-check

feat(front): add component for feedback banner (#666)
  front/components.d.ts
  front/src/components/FeedbackBanner.vue
  front/src/layouts/DefaultLayout.vue
Due: js-lint, js-type-check

🔖 0.32.0 (2026-06-03) : Correctifs mineurs d'UI
  docs/changelog/product.md
Due: none

🔖 0.32.0 (2026-06-03) : Correctifs mineurs d'UI (#667)
  docs/changelog/product.md
Due: none

up shapetoolbar position
  .gitignore
  front/src/components/map/MapComponent.vue
  front/src/components/map/ShapeLiveChip.vue
  front/src/components/map/ShapeToolbar.vue
  front/src/styles/main.css
Due: js-lint, js-type-check

up style
  front/src/components/map/MapGeocoder.vue
  front/src/components/map/ShapeToolbar.vue
Due: js-lint, js-type-check

revue
  back/api/tests/test_tile_views.py
  front/src/components/FeedbackBanner.vue
  front/src/composables/useTerraDraw.ts
  front/src/styles/maplibre.css
  front/src/utils/geo.ts
  front/src/utils/mapControls.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

revue
  front/src/styles/maplibre.css
Due: none

up style
  front/src/styles/maplibre.css
Due: none

fix(back): vegestrate raster path
  back/api/views/raster_views.py
Due: django-test, check-django-migrations
