Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

js-lint:
  name: js-lint
  entry: npm run --prefix front lint
  pass_filenames: false
  language: system

js-type-check:
  name: js-type-check
  entry: npm run --prefix front type-check
  pass_filenames: false
  language: system

django-test:
  name: django-test
  entry: bash -c "cd back && coverage run manage.py test && coverage report --fail-under=75"
  pass_filenames: false
  language: system

check-django-migrations:
  name: Check django migrations
  entry: bash -c "cd back && python3 manage.py makemigrations --dry-run --check"
  language: system
  pass_filenames: false

clean code
  back/api/tests/test_orthophoto_views.py
  back/api/utils/tile_math.py
  back/api/views/orthophoto_views.py
Due: django-test, check-django-migrations

try to add osm on background
  back/api/tests/test_orthophoto_views.py
  back/api/views/orthophoto_views.py
  front/src/map/map-style.json
Due: django-test, check-django-migrations

Update variable names
  back/iarbre_data/management/commands/import_biosphere_functional_integrity.py
Due: django-test, check-django-migrations

feat(front): make legend interactiv
  front/src/components/map/legend/BiosphereFunctionalIntegrityLegend.vue
  front/src/composables/useMapFilters.ts
  front/src/utils/biosphere_functional_integrity.ts
Due: js-lint, js-type-check

Restore ContextData + circularScore colors
  front/src/components/contextData/MapContextDataBiosphereIntegrity.vue
  front/src/components/contextData/biosphereIntegrity/BiosphereIntegrityMainContextDataScore.vue
  front/src/components/shared/CircularScore.vue
  front/src/composables/useContextData.ts
  front/src/stores/map.ts
Due: js-lint, js-type-check

Update attribution
  front/src/utils/enum.ts
Due: js-lint, js-type-check

refacto IFB to land cover
  back/iarbre_data/management/commands/import_biosphere_functional_integrity_landcover.py
  back/iarbre_data/migrations/0041_biosphere_land_cover_fields.py
  back/iarbre_data/models.py
  back/iarbre_data/utils/biosphere_land_cover.py
Due: django-test, check-django-migrations

naive IFB computation
  back/iarbre_data/management/commands/compute_biosphere_functional_integrity.py
Due: django-test, check-django-migrations

rework on layout
  front/components.d.ts
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapCoordinates.vue
  front/src/components/map/MapGeocoder.vue
  front/src/components/map/MapTopRightPanel.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
Due: js-lint, js-type-check

fix test
  front/cypress/components/MapSidePanel.cy.ts
Due: js-lint, js-type-check

fix test data on prod
  back/api/management/commands/safe_backup.py
  back/iarbre_data/management/commands/delete_test_data.py
  back/iarbre_data/tests/test_delete_test_data.py
Due: django-test, check-django-migrations

Update IFB with vectorization
  back/iarbre_data/management/commands/import_biosphere_functional_integrity.py
  back/iarbre_data/management/commands/vectorize_raster.py
Due: django-test, check-django-migrations

Fix MVT generation
  back/api/management/commands/generate_mvt.py
Due: django-test, check-django-migrations

Update corresponding tests
  back/api/management/commands/generate_mvt.py
  back/api/tests/test_generate_mvt.py
Due: django-test, check-django-migrations

Missing comma
  back/api/tests/test_generate_mvt.py
Due: django-test, check-django-migrations

fix villard
  back/iarbre_data/management/commands/delete_test_data.py
  back/iarbre_data/tests/test_delete_test_data.py
Due: django-test, check-django-migrations

New DB target
  back/.db_recover_target
  docs/changelog/database.md
Due: none

feat(db): add biodiv data
  back/.db_recover_target
Due: none

add roadmap
  static/static/images/roadmap.svg
Due: none

Change CTA
  static/layouts/partials/hero-main.html
Due: none

Badges update
  static/assets/sass/main.scss
  static/layouts/partials/hero-main.html
Due: none

first iteration
  back/api/constants.py
  back/api/serializers/serializers.py
  back/api/tests/test_tile_views.py
  back/api/urls.py
  back/api/utils/soil_occupancy.py
  back/api/views/tile_views.py
  back/iarbre_data/migrations/0040_alter_mvttile_datatype.py
  front/src/components/contextData/vegestrate/VegestrateContextDataInfo.vue
  front/src/composables/useContextData.ts
  front/src/services/tileService.ts
  front/src/stores/map.ts
  front/src/types/vegetation.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

move button on bottom left
  front/components.d.ts
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapCoordinates.vue
  front/src/components/map/MapGeocoder.vue
  front/src/components/map/MapLayerToggles.vue
  front/src/components/map/MapTopRightPanel.vue
Due: js-lint, js-type-check

update control position
  front/cypress/components/MapLayerToggles.cy.ts
  front/cypress/e2e/map.cy.ts
  front/src/components/map/MapComponent.vue
Due: js-lint, js-type-check

enh : update layout to prevent button being cropped on small screens
  front/components.d.ts
  front/cypress/components/MapLayerToggles.cy.ts
  front/cypress/components/MapSidePanel.cy.ts
  front/cypress/e2e/map.cy.ts
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapCoordinates.vue
  front/src/components/map/MapLayerToggles.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
Due: js-lint, js-type-check

adds orthophoto
  back/api/tests/test_orthophoto_views.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/orthophoto_views.py
  front/cypress/e2e/map.cy.ts
  front/public/images/orthophoto.png
  front/src/components/map/MapBackgroundSelector.vue
  front/src/map/map-style.json
  front/src/stores/map.ts
  front/src/utils/enum.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

Session link
  static/assets/sass/main.scss
  static/layouts/_default/_markup/render-heading.html
Due: none

refactor(front): centralize map style sources in a single module and fixes reviews
  back/api/tests/test_orthophoto_views.py
  back/api/utils/tile_math.py
  back/api/views/orthophoto_views.py
  back/iarbre_data/settings.py
  front/cypress/e2e/legendFiltering.cy.ts
  front/cypress/e2e/map.cy.ts
  front/src/components/map/MapBackgroundSelector.vue
  front/src/map/map-style.json
  front/src/stores/map.ts
  front/src/utils/enum.ts
  front/src/utils/mapStyleOptions.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

Import Landcover fixes
  back/iarbre_data/management/commands/import_biosphere_functional_integrity_landcover.py
Due: django-test, check-django-migrations

Simplify large geom to reduce loading
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

Update
  front/package-lock.json
  front/package.json
Due: none

Revert "chore(deps-dev): bump vite from 5.4.21 to 8.0.8 in /front (#608)"
  front/package-lock.json
  front/package.json
Due: none

Updates en masse
  static/assets/sass/main.scss
  static/layouts/_default/page.html
  static/layouts/partials/hero-main.html
  static/layouts/partials/newsletter-section.html
  static/static/images/banner.jpg
  static/static/images/banner.webp
Due: none

Smaller
  static/assets/sass/main.scss
Due: none

Update doc and add QPV
  back/.db_recover_target
  back/iarbre_data/data_config.py
  back/iarbre_data/management/commands/c03_import_data.py
  docs/changelog/database.md
Due: django-test, check-django-migrations

fix(db): add QPV + simplified MVTs for biosphere
  back/.db_recover_target
Due: none

enh(static): many and minor update to showcase (#602)
  static/assets/sass/main.scss
  static/layouts/_default/_markup/render-heading.html
  static/layouts/_default/page.html
  static/layouts/partials/hero-main.html
  static/layouts/partials/newsletter-section.html
  static/static/images/banner.jpg
  static/static/images/banner.webp
  static/static/images/roadmap.svg
Due: none

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
