Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)

update readme
  README.md
  docs/index.md
Due: none

modify buttons
  front/src/components/AppDrawer.vue
  front/src/components/map/MapLayerToggles.vue
  front/src/components/map/panels/MapScoresDrawer.vue
Due: js-lint, js-type-check

modify buttons
  front/src/components/map/MapLayerToggles.vue
  front/src/components/map/panels/MapBoundaryToggleButton.vue
  front/src/components/map/panels/MapCadastreToggleButton.vue
  front/src/components/map/panels/MapQpvToggleButton.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
Due: js-lint, js-type-check

back: update api for dashboard
  back/api/serializers/dashboard_serializer.py
  back/api/tests/test_dashboard_views.py
  back/api/views/dashboard_views.py
  back/iarbre_data/factories.py
Due: django-test, check-django-migrations

front: dashboard grid to dashboard narrative
  front/components.d.ts
  front/src/components/dashboard/DashboardGrid.vue
  front/src/components/dashboard/DashboardHeader.vue
  front/src/components/dashboard/DashboardNarrative.vue
  front/src/components/dashboard/NarrativeSection.vue
  front/src/components/dashboard/widgets/BuildingCharacteristicsWidget.vue
  front/src/components/dashboard/widgets/HeatWidget.vue
  front/src/components/dashboard/widgets/PermeabilityWidget.vue
  front/src/components/dashboard/widgets/PlantabilityWidget.vue
  front/src/components/dashboard/widgets/SurfaceTypeWidget.vue
  front/src/components/dashboard/widgets/VegetationSurfaceWidget.vue
  front/src/types/dashboard.ts
  front/src/utils/dashboardColors.ts
  front/src/views/DashboardView.vue
Due: js-lint, js-type-check

remove border layer
  front/src/stores/map.ts
Due: js-lint, js-type-check

refactor app drawer css
  front/src/components/AppDrawer.vue
Due: js-lint, js-type-check

Améliore les boutons cadastres, QPV, communes (#646)
  front/src/components/AppDrawer.vue
  front/src/components/map/panels/MapBoundaryToggleButton.vue
  front/src/components/map/panels/MapCadastreToggleButton.vue
  front/src/components/map/panels/MapQpvToggleButton.vue
  front/src/components/map/panels/MapScoresDrawer.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/stores/map.ts
Due: js-lint, js-type-check

up
  deploy/backend.yml
Due: none

fix villard
  back/iarbre_data/management/commands/delete_test_data.py
  back/iarbre_data/tests/test_delete_test_data.py
Due: django-test, check-django-migrations

front: update charts
  front/src/components/dashboard/widgets/BuildingCharacteristicsWidget.vue
  front/src/components/dashboard/widgets/HeatWidget.vue
  front/src/components/dashboard/widgets/PlantabilityWidget.vue
  front/src/components/dashboard/widgets/SurfaceTypeWidget.vue
  front/src/components/dashboard/widgets/VegetationSurfaceWidget.vue
  front/src/utils/dashboardColors.ts
Due: js-lint, js-type-check

ha to km2
  back/api/serializers/dashboard_serializer.py
  back/api/tests/test_dashboard_views.py
  back/api/views/dashboard_views.py
  front/src/components/dashboard/widgets/VegetationSurfaceWidget.vue
  front/src/types/dashboard.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

simplify CSS
  front/src/components/dashboard/DashboardNarrative.vue
  front/src/components/dashboard/NarrativeSection.vue
  front/src/components/dashboard/widgets/BuildingCharacteristicsWidget.vue
  front/src/components/dashboard/widgets/HeatWidget.vue
  front/src/components/dashboard/widgets/PlantabilityWidget.vue
  front/src/components/dashboard/widgets/SurfaceTypeWidget.vue
  front/src/components/dashboard/widgets/VegetationSurfaceWidget.vue
  front/src/styles/main.css
Due: js-lint, js-type-check

Links + font size
  front/src/components/dashboard/DashboardHeader.vue
  front/src/components/dashboard/NarrativeSection.vue
  front/src/components/dashboard/shared/DashboardWidgetCard.vue
  front/src/components/dashboard/widgets/BuildingCharacteristicsWidget.vue
  front/src/components/dashboard/widgets/SurfaceTypeWidget.vue
Due: js-lint, js-type-check

Supprime les données de Villard de Lans en (pré)-production (#600)
  back/iarbre_data/management/commands/delete_test_data.py
  back/iarbre_data/tests/test_delete_test_data.py
  deploy/backend.yml
Due: django-test, check-django-migrations

Two logos + text
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/components/sidebar/SidebarComponent.vue
  front/src/views/DashboardView.vue
  front/src/views/MapView.vue
Due: js-lint, js-type-check

small fixes
  back/api/serializers/dashboard_serializer.py
  back/api/tests/test_dashboard_views.py
  back/api/views/dashboard_views.py
  front/src/components/dashboard/DashboardHeader.vue
  front/src/components/dashboard/NarrativeSection.vue
  front/src/components/dashboard/widgets/HeatWidget.vue
  front/src/components/dashboard/widgets/VegetationSurfaceWidget.vue
  front/src/types/dashboard.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

feat: add biodiv widget
  front/components.d.ts
  front/src/components/dashboard/DashboardNarrative.vue
  front/src/components/dashboard/widgets/BiosphereWidget.vue
  front/src/components/dashboard/widgets/VegetationSurfaceWidget.vue
Due: js-lint, js-type-check

db version with buildings
  back/.db_recover_target
  docs/changelog/database.md
Due: none

small fixes
  front/src/components/dashboard/NarrativeSection.vue
  front/src/components/dashboard/widgets/BiosphereWidget.vue
  front/src/components/dashboard/widgets/HeatWidget.vue
Due: js-lint, js-type-check

feat: add WMS service
  back/api/constants.py
  back/api/views/wms_views.py
  back/iarbre_data/management/commands/generate_calque_rasters.py
  back/iarbre_data/utils/calque_config.py
  back/iarbre_data/utils/palettes.py
  back/vegetation/management/commands/vegestrate_to_raster.py
Due: django-test, check-django-migrations

revert
  deploy/backend.yml
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
Due: none

feat(front): WMS option
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check

fix: add wms url
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/wms_views.py
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

fix: url path
  back/api/constants.py
Due: django-test, check-django-migrations

enh: get from back list of available rasters
  back/api/views/wms_views.py
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

refacto: remove duplicates
  back/iarbre_data/utils/calque_config.py
  back/vegetation/management/commands/vegestrate_to_raster.py
Due: django-test, check-django-migrations

enh: fix bounds for WMS raster
  back/api/views/wms_views.py
  back/vegetation/management/commands/vegestrate_to_raster.py
Due: django-test, check-django-migrations

test(back): add a test for WMS view
  back/api/tests/test_wms_views.py
Due: django-test, check-django-migrations

getCapabilities for WFS + core cache behavior updates
  back/api/tests/test_wms_views.py
  back/api/views/wfs_views.py
  back/api/views/wms_views.py
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

enh: update biodiv indicator for histogram
  back/api/serializers/dashboard_serializer.py
  back/api/views/dashboard_views.py
  front/src/components/dashboard/widgets/BiosphereWidget.vue
  front/src/types/dashboard.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

enh: add a dedicated gunicorn supervisor for WFS/WMS
  deploy/group_vars/all/vars.yml
  deploy/group_vars/feature/vars.yml
  deploy/group_vars/preprod/vars.yml
  deploy/group_vars/prod/vars.yml
  deploy/telescoop-deploy/tasks/clean-django.yml
  deploy/telescoop-deploy/tasks/install-and-update-django.yml
  deploy/telescoop-deploy/tasks/templates/django-supervisor-wfs.conf.j2
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
Due: none

renaming: switch name to gisserver to make it clearer
  deploy/README.md
  deploy/group_vars/all/vars.yml
  deploy/group_vars/feature/vars.yml
  deploy/group_vars/preprod/vars.yml
  deploy/group_vars/prod/vars.yml
  deploy/telescoop-deploy/tasks/clean-django.yml
  deploy/telescoop-deploy/tasks/install-and-update-django.yml
  deploy/telescoop-deploy/tasks/templates/django-supervisor-gisserver.conf.j2
  deploy/telescoop-deploy/tasks/templates/django-supervisor-wfs.conf.j2
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
Due: none

enh: make sure both supevisor are running and with correct conf
  deploy/telescoop-deploy/tasks/install-and-update-django.yml
Due: none

Forgot some naming conversion
  deploy/telescoop-deploy/tasks/clean-django.yml
  deploy/telescoop-deploy/tasks/templates/django-supervisor-gisserver.conf.j2
Due: none

enh(devOps): add a dedicated gunicorn supervisor for WFS/WMS (#656)
  deploy/README.md
  deploy/group_vars/all/vars.yml
  deploy/group_vars/feature/vars.yml
  deploy/group_vars/preprod/vars.yml
  deploy/group_vars/prod/vars.yml
  deploy/telescoop-deploy/tasks/clean-django.yml
  deploy/telescoop-deploy/tasks/install-and-update-django.yml
  deploy/telescoop-deploy/tasks/templates/django-supervisor-gisserver.conf.j2
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
Due: none

feat: add spider chart for meta data factors usage for plantability
  back/api/serializers/dashboard_serializer.py
  back/api/views/dashboard_views.py
  back/iarbre_data/migrations/0042_add_meta_factors_avg_to_city_iris.py
  back/iarbre_data/models.py
  back/plantability/management/commands/compute_meta_factors_avg.py
  front/src/components/dashboard/widgets/PlantabilityWidget.vue
  front/src/theme/iArbre.ts
  front/src/types/dashboard.ts
  front/src/utils/plantability.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

Update DB
  back/.db_recover_target
  docs/changelog/database.md
Due: none
