Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)

Chore: clean coms
  .github/workflows/showcase.yml
Due: none

feat: CI triggered by submodule updates (#516)
  .github/workflows/showcase.yml
Due: none

feat: new tif
  back/api/views/vegetation_views.py
  front/src/stores/map.ts
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

Update doc
  docs/changelog/database.md
  docs/methodology/vegetation.md
Due: none

Update deploy to include media version
  back/.db_recover_target
  deploy/backend.yml
Due: none

enh: update the vegestrate version and doc (#517)
  back/.db_recover_target
  back/api/views/vegetation_views.py
  deploy/backend.yml
  docs/changelog/database.md
  docs/methodology/vegetation.md
  front/src/stores/map.ts
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

improve
  .DS_Store
  back/.DS_Store
  front/package-lock.json
  front/package.json
  front/src/api.ts
  front/src/components/contextData/MapContextData.vue
  front/src/components/contextData/MapContextDataPlantability.vue
  front/src/components/contextData/MapContextDataPlantabilityVulnerability.vue
  front/src/components/contextData/MapContextDataVegetation.vue
  front/src/components/contextData/plantability/PlantabilityDistributionChart.vue
  front/src/components/contextData/shared/ContextDataAccordionItem.vue
  front/src/components/contextData/shared/ContextDataMainContainer.vue
  front/src/components/map/MapBackgroundSelector.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/composables/useContextDataStyles.ts
  front/src/styles/main.css
  front/src/styles/maplibre.css
  front/src/utils/mapControls.ts
Due: js-lint, js-type-check

fix tests
  front/cypress/components/ContextDataAccordionItem.cy.ts
  front/cypress/components/MapContextDataPlantability.cy.ts
  front/cypress/components/MapContextDataVulnerability.cy.ts
  front/cypress/components/PlantabilityContextDataList.cy.ts
  front/src/components/contextData/shared/ContextDataMainContainer.vue
Due: js-lint, js-type-check

fix: new DB version
  back/.db_recover_target
  docs/changelog/database.md
Due: none

update
  front/components.d.ts
  front/src/components/WelcomeMessage.vue
  front/src/components/forms/FeedbackForm.vue
  front/src/components/icons/IconLegal.vue
  front/src/router/index.ts
  front/src/views/LegalView.vue
  front/src/views/NotFoundView.vue
Due: js-lint, js-type-check

Add tests for legal mentions feature (#521)
  front/cypress/components/LegalView.cy.ts
  front/cypress/e2e/legalMentions.cy.ts
Due: js-lint, js-type-check

fix: add loger and improve robustness of connections
  back/api/utils/mvt_generator.py
  back/iarbre_data/settings.py
Due: django-test, check-django-migrations

fix: double legend
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
Due: js-lint, js-type-check

Fix: wrong veget colors
  back/api/views/vegetation_views.py
Due: django-test, check-django-migrations

update DB version to include all tiles
  back/.db_recover_target
Due: none

Changelog
  docs/changelog/product.md
Due: none

fix: update MVT generation tests
  back/iarbre_data/tests/test_views.py
Due: django-test, check-django-migrations

Fix: populate.py
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

feat : add filter on plantability vulnerability (#476)
  back/api/management/commands/generate_mvt.py
  back/api/tests/test_generate_mvt.py
  back/api/utils/mvt_generator.py
  back/iarbre_data/settings.py
  back/iarbre_data/tests/test_views.py
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
  front/src/components/map/score/BivariateCellLabel.vue
  front/src/composables/useMapFilters.ts
  front/src/utils/plantability_vulnerability.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

0.24.0 (2026-02-12) : Refonte UI et amélioration calque de végétation stratifié (#522)
  back/.db_recover_target
  back/api/views/vegetation_views.py
  docs/changelog/product.md
Due: django-test, check-django-migrations

update test
  front/cypress/components/FeedbackPopin.cy.ts
  front/cypress/components/LegalView.cy.ts
  front/cypress/components/NavbarComponent.cy.ts
  front/cypress/components/SidebarComponent.cy.ts
Due: js-lint, js-type-check

update test
  front/cypress/components/LegalView.cy.ts
  front/cypress/e2e/legalMentions.cy.ts
Due: js-lint, js-type-check

update test
  front/cypress/components/LegalView.cy.ts
Due: js-lint, js-type-check

enh : adds legal mentions (#519)
  front/components.d.ts
  front/cypress/components/FeedbackPopin.cy.ts
  front/cypress/components/LegalView.cy.ts
  front/cypress/components/NavbarComponent.cy.ts
  front/cypress/components/SidebarComponent.cy.ts
  front/cypress/e2e/legalMentions.cy.ts
  front/src/components/WelcomeMessage.vue
  front/src/components/forms/FeedbackForm.vue
  front/src/components/icons/IconLegal.vue
  front/src/router/index.ts
  front/src/views/LegalView.vue
  front/src/views/NotFoundView.vue
Due: js-lint, js-type-check

update content
  static/assets/sass/main.scss
  static/layouts/_default/news.html
Due: none

update blog layout
  static/archetypes/default.md
  static/assets/sass/main.scss
  static/layouts/_default/baseof.html
  static/layouts/_default/news.html
  static/layouts/_default/post.html
Due: none

update content
  docs/methodology/vegetation.md
  static/assets/sass/main.scss
  static/layouts/_default/news.html
Due: none

feat: add mentions legales
  static/assets/sass/main.scss
  static/layouts/_default/baseof.html
  static/layouts/_default/legal.html
Due: none

fix: useless stuff
  static/assets/sass/main.scss
  static/layouts/_default/legal.html
Due: none

enh: add legal mentions to showcase (#525)
  static/layouts/_default/baseof.html
Due: none

update content
  static/assets/sass/main.scss
  static/layouts/_default/post.html
Due: none

update content
  static/assets/sass/main.scss
Due: none

enh container responsive
  static/assets/sass/main.scss
Due: none

feat: from vegestrate
  back/iarbre_data/management/commands/vectorize_raster.py
  back/requirements.txt
Due: django-test, check-django-migrations

feat: add vectorize_raster (#528)
  back/iarbre_data/management/commands/vectorize_raster.py
  back/requirements.txt
Due: django-test, check-django-migrations
