Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)

update vegestrate height gauge
  front/cypress/components/VegestrateHeightGauge.cy.ts
  front/src/components/contextData/MapContextDataVegetation.vue
  front/src/components/contextData/vegestrate/VegestrateHeightGauge.vue
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check

Update strate info to gauge
  front/src/components/contextData/MapContextDataVegetation.vue
  front/src/components/contextData/vegestrate/VegestrateContextDataInfo.vue
  front/src/components/contextData/vegestrate/VegestrateHeightGauge.vue
  front/src/styles/main.css
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check

smaller font size
  front/src/components/contextData/vegestrate/VegestrateContextDataInfo.vue
  front/src/components/contextData/vegestrate/VegestrateHeightGauge.vue
  front/src/styles/main.css
Due: js-lint, js-type-check

chore: reorganize and mutualize + dead code
  front/src/components/contextData/vegestrate/VegestrateContextDataInfo.vue
  front/src/components/contextData/vegestrate/VegestrateHeightGauge.vue
  front/src/components/contextData/vegestrate/VegestratePanel.vue
  front/src/components/contextTools/VegestrateContextTool.vue
  front/src/components/contextTools/VulnerabilityContextTool.vue
  front/src/components/icons/IconVegestrate.vue
  front/src/utils/vegetation.ts
  front/tests/unit/utils/vegetation.spec.ts
Due: js-lint, js-type-check

Make Vegestrate contextdata filterable
  front/src/components/contextData/vegestrate/VegestrateContextDataInfo.vue
  front/src/components/contextData/vegestrate/VegestratePanel.vue
  front/src/styles/main.css
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check

Mutualize legendItem for filter
  front/components.d.ts
  front/src/components/contextData/vegestrate/VegestratePanel.vue
  front/src/components/contextTools/VegestrateContextTool.vue
  front/src/components/contextTools/VulnerabilityContextTool.vue
  front/src/components/map/legend/BiosphereFunctionalIntegrityLegend.vue
  front/src/components/map/legend/FilterableLegendItem.vue
  front/src/components/map/legend/VegetationLegend.vue
  front/src/styles/main.css
Due: js-lint, js-type-check

chore: re-add surface
  front/src/components/contextData/vegestrate/VegestrateContextDataInfo.vue
Due: js-lint, js-type-check

enh: update color palette and gauge for vegestrate (#704)
  back/iarbre_data/utils/palettes.py
  front/components.d.ts
  front/cypress/components/VegestrateHeightGauge.cy.ts
  front/src/components/contextData/MapContextDataVegetation.vue
  front/src/components/contextData/vegestrate/VegestrateContextDataInfo.vue
  front/src/components/contextData/vegestrate/VegestrateHeightGauge.vue
  front/src/components/contextData/vegestrate/VegestratePanel.vue
  front/src/components/contextTools/VegestrateContextTool.vue
  front/src/components/contextTools/VulnerabilityContextTool.vue
  front/src/components/icons/IconVegestrate.vue
  front/src/components/map/legend/BiosphereFunctionalIntegrityLegend.vue
  front/src/components/map/legend/FilterableLegendItem.vue
  front/src/components/map/legend/VegetationLegend.vue
  front/src/styles/main.css
  front/src/utils/vegetation.ts
  front/tests/unit/utils/vegetation.spec.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

back: replace vegestrate raster streaming with colors by raw values
  back/api/tests/test_vegetation_height_views.py
  back/api/views/vegetation_height_views.py
  back/iarbre_data/utils/palettes.py
Due: django-test, check-django-migrations

front: mecanism to filter vegestrate height
  front/components.d.ts
  front/src/components/contextTools/VegestrateContextTool.vue
  front/src/components/contextTools/VegestrateHeightRanges.vue
  front/src/components/map/legend/LegendItem.vue
  front/src/components/map/legend/VegetationLegend.vue
  front/src/stores/map.ts
  front/src/styles/main.css
  front/src/utils/vegetation.ts
  front/tests/unit/utils/vegetation.spec.ts
Due: js-lint, js-type-check

fix(front): markraw to avoid error
  back/iarbre_data/management/commands/import_vulnerability.py
  docs/methodology/biosphere_functional_integrity.md
  front/src/stores/map.ts
  front/src/utils/vegetation.ts
  front/tests/unit/utils/vegetation.spec.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

autofilll + set maximum
  front/src/components/contextTools/VegestrateHeightRanges.vue
Due: js-lint, js-type-check

Filtering in a separate bloc
  front/src/components/contextTools/VegestrateContextTool.vue
Due: js-lint, js-type-check

Keep set value in localstorage
  front/src/stores/map.ts
  front/src/types/LocalStorageTypes.ts
Due: js-lint, js-type-check

Adjacent bands
  front/src/components/contextTools/VegestrateHeightRanges.vue
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check

Center toogle
  front/src/components/contextTools/MapContextTools.vue
Due: js-lint, js-type-check

feat(back, front): allow flexible thresholds on vegestrate heights (#707)
  back/api/tests/test_vegetation_height_views.py
  back/api/views/vegetation_height_views.py
  back/iarbre_data/management/commands/import_vulnerability.py
  back/iarbre_data/utils/palettes.py
  docs/methodology/biosphere_functional_integrity.md
  front/components.d.ts
  front/src/components/contextTools/MapContextTools.vue
  front/src/components/contextTools/VegestrateContextTool.vue
  front/src/components/contextTools/VegestrateHeightRanges.vue
  front/src/components/map/legend/LegendItem.vue
  front/src/components/map/legend/VegetationLegend.vue
  front/src/stores/map.ts
  front/src/styles/main.css
  front/src/types/LocalStorageTypes.ts
  front/src/utils/vegetation.ts
  front/tests/unit/utils/vegetation.spec.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

enh: adjust no data out of raster for vegestrate
  back/api/tests/test_vegetation_height_views.py
  back/api/views/vegetation_height_views.py
Due: django-test, check-django-migrations

raster-dem as maplibre terrain in map.ts
  front/src/stores/map.ts
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check

0.36.0(2026-07-23)
  docs/changelog/product.md
Due: none

0.36.0(2026-07-23) (#715)
  docs/changelog/product.md
Due: none

Feat: ajouter le filtre par score dans l'url
  front/src/components/map/MapComponent.vue
  front/src/composables/useMapFilters.ts
  front/src/stores/map.ts
  front/src/views/MapView.vue
Due: js-lint, js-type-check

Feat: créer un bouton Copier le lien de la vue qui copier l'url
  front/components.d.ts
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapCopyLinkButton.vue
  front/src/components/map/panels/MapFiltersStatus.vue
Due: js-lint, js-type-check

Adapter le style après merge dev
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapCopyLinkButton.vue
  front/src/components/map/legend/MapLegend.vue
Due: js-lint, js-type-check

fix(front): add carto api key
  deploy/group_vars/all/cross_env_vault.yml
  deploy/templates/frontend.env
  front/src/map/map-style.json
  front/src/stores/map.ts
Due: js-lint, js-type-check

back: zone token
  back/api/tests/test_pdf_export_views.py
  back/api/utils/pdf_export.py
Due: django-test, check-django-migrations

back: dashboard view
  back/api/urls.py
  back/api/views/dashboard_views.py
Due: django-test, check-django-migrations

back: endpoint to export PDF with palywright
  back/api/tests/test_pdf_renderer.py
  back/api/utils/pdf_renderer.py
  back/iarbre_data/settings.py
  back/requirements.txt
Due: django-test, check-django-migrations

PDF version from playwright renderer
  back/api/tests/test_pdf_export_views.py
  back/api/urls.py
  back/api/views/dashboard_views.py
Due: django-test, check-django-migrations

front: print mode in the dashboard and scale selection with token
  front/src/components/dashboard/DashboardNarrative.vue
  front/src/composables/useD3Chart.ts
  front/src/services/pdfExportService.ts
  front/src/stores/dashboard.ts
  front/src/utils/printMode.ts
  front/src/views/DashboardView.vue
Due: js-lint, js-type-check

front: dashboard pagination
  front/src/components/dashboard/NarrativeSection.vue
  front/src/styles/main.css
Due: js-lint, js-type-check

front: toast for dashboard export
  front/cypress/components/DashboardFooter.cy.ts
  front/src/components/dashboard/DashboardFooter.vue
  front/src/services/pdfExportService.ts
Due: js-lint, js-type-check

Linter
  back/api/utils/pdf_renderer.py
  back/iarbre_data/settings.py
  front/src/services/pdfExportService.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

deploy: chromium for playwright
  deploy/backend.yml
Due: none

front: test dashboard print
  front/cypress/e2e/dashboardPrintMode.cy.ts
  front/cypress/fixtures/dashboard.json
Due: js-lint, js-type-check

fix: playwright install for iarbre and not sudo user
  deploy/backend.yml
Due: none

fix: correct PDF_EXPORT_FRONTEND_URL variable value
  back/api/tests/test_pdf_export_views.py
  back/api/tests/test_pdf_renderer.py
  back/api/utils/pdf_renderer.py
  back/api/views/dashboard_views.py
  back/iarbre_data/settings.py
Due: django-test, check-django-migrations

Linter
  back/api/views/dashboard_views.py
  front/cypress/fixtures/dashboard.json
Due: django-test, check-django-migrations

feat: dashboard export (#728)
  back/api/tests/test_pdf_export_views.py
  back/api/tests/test_pdf_renderer.py
  back/api/urls.py
  back/api/utils/pdf_export.py
  back/api/utils/pdf_renderer.py
  back/api/views/dashboard_views.py
  back/iarbre_data/settings.py
  back/requirements.txt
  deploy/backend.yml
  front/cypress/components/DashboardFooter.cy.ts
  front/cypress/e2e/dashboardPrintMode.cy.ts
  front/cypress/fixtures/dashboard.json
  front/src/components/dashboard/DashboardFooter.vue
  front/src/components/dashboard/DashboardNarrative.vue
  front/src/components/dashboard/NarrativeSection.vue
  front/src/composables/useD3Chart.ts
  front/src/services/pdfExportService.ts
  front/src/stores/dashboard.ts
  front/src/styles/main.css
  front/src/utils/printMode.ts
  front/src/views/DashboardView.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

chore(front): remove postcss
  front/components.d.ts
  front/package-lock.json
  front/package.json
Due: js-lint, js-type-check
