Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)

fix
  back/api/tests/test_generate_mvt.py
Due: django-test, check-django-migrations

fix
  back/api/tests/test_generate_mvt.py
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

feat: use both processpoolexecutor and threadpoolexecutor to optimize mvt generation
  back/api/management/commands/generate_mvt.py
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

merge migrations
  back/iarbre_data/migrations/0033_merge_20260121_0809.py
Due: none

migrations
  back/iarbre_data/migrations/0034_merge_20260121_0813.py
Due: none

feat: statique vegetation layer for métropole
  back/api/constants.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/vegetation_views.py
  back/iarbre_data/migrations/0032_alter_mvttile_datatype.py
  back/iarbre_data/migrations/0033_merge_20260121_0809.py
  back/iarbre_data/settings.py
  back/requirements.txt
  deploy/backend.yml
  deploy/group_vars/feature/vars.yml
  deploy/group_vars/preprod/vars.yml
  deploy/group_vars/prod/vars.yml
  deploy/telescoop-deploy/tasks/install-and-update-django.yml
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
  deploy/telescoop-deploy/tasks/templates/settings.ini.j2
  deploy/templates/settings-custom.ini.j2
  docs/methodology/vegetation.md
  front/components.d.ts
  front/src/components/contextData/MapContextData.vue
  front/src/components/contextData/MapContextDataVegetation.vue
  front/src/components/layerSwitcher/LayerSwitcher.vue
  front/src/components/map/legend/MapLegend.vue
  front/src/components/map/legend/VegetationLegend.vue
  front/src/router/index.ts
  front/src/stores/map.ts
  front/src/types/contextData.ts
  front/src/types/vegetation.ts
  front/src/utils/enum.ts
  front/src/utils/vegetation.ts
  mkdocs.yml
Due: js-lint, js-type-check, django-test, check-django-migrations

changelog: 2026-01-21
  docs/changelog/product.md
Due: none

veget: change color maps
  back/api/views/vegetation_views.py
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

0.22.0 (2026-01-21) : Ajout du calque inventaire du végétal stratifié
  back/api/views/vegetation_views.py
  docs/changelog/product.md
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

dep: backup current cleaning
  back/api/management/commands/generate_mvt.py
  back/api/utils/mvt_generator.py
  back/iarbre_data/management/commands/import_biosphere_functional_integrity.py
  back/requirements.txt
Due: django-test, check-django-migrations

feat: extrude 3D on the map
  front/src/stores/map.ts
  front/src/utils/mapControls.ts
Due: js-lint, js-type-check

add button to control
  front/components.d.ts
  front/src/styles/maplibre.css
  front/src/utils/mapControls.ts
Due: js-lint, js-type-check

fix
  front/src/stores/map.ts
Due: js-lint, js-type-check

misc
  back/api/utils/mvt_generator.py
  back/iarbre_data/migrations/0036_merge_20260122_1319.py
  front/components.d.ts
  front/src/utils/biosphere_functional_integrity.ts
  front/src/utils/enum.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

lower certificat
  deploy/telescoop-deploy/tasks/create-https-certificate.yml
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
Due: none

lower access log
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
Due: none

fix: mobile and drawer buttons
  front/src/components/map/DrawingModeToggle.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/SelectionModeToolbar.vue
Due: js-lint, js-type-check

feat: start to implements tutorials
  .gitignore
  front/components.d.ts
  front/package-lock.json
  front/package.json
  front/src/components/AppDrawer.vue
  front/src/components/WelcomeMessage.vue
  front/src/components/contextData/MapContextDataMobile.vue
  front/src/components/map/panels/MapScoresDrawer.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/composables/useTutorial.ts
  front/src/stores/tutorial.ts
  front/src/styles/main.css
  front/src/types/tutorial.ts
Due: js-lint, js-type-check

WIP
  front/src/components/WelcomeMessage.vue
  front/src/components/navbar/NavbarComponent.vue
  front/src/composables/useTutorial.ts
  front/src/types/tutorial.ts
Due: js-lint, js-type-check

WIP
  front/src/components/AppDrawer.vue
  front/src/components/map/panels/MapConfigDrawer.vue
  front/src/composables/useTutorial.ts
  front/src/types/tutorial.ts
Due: js-lint, js-type-check

WIP
  front/src/components/map/MapComponent.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/composables/useTutorial.ts
Due: js-lint, js-type-check

fix: first tutorial
  front/src/components/map/panels/MapConfigDrawer.vue
  front/src/composables/useTutorial.ts
  front/src/types/tutorial.ts
Due: js-lint, js-type-check

fix: mobile and drawer buttons (#490)
  front/src/components/map/DrawingModeToggle.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/SelectionModeToolbar.vue
Due: js-lint, js-type-check

perf: huge optimization if some mvt tiles exist and we use keep option
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

clean: remove some debug code on import biosphere code
  back/iarbre_data/management/commands/import_biosphere_functional_integrity.py
Due: django-test, check-django-migrations

db: point db to latest backup
  back/.db_recover_target
Due: none

enh: replace iso with 3D
  front/src/utils/mapControls.ts
Due: js-lint, js-type-check

fix: e2e testing
  front/cypress.config.ts
  front/src/stores/map.ts
Due: js-lint, js-type-check

feat: viz index in 3D extrusion (#489)
  deploy/telescoop-deploy/tasks/create-https-certificate.yml
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
  front/components.d.ts
  front/cypress.config.ts
  front/src/stores/map.ts
  front/src/styles/maplibre.css
  front/src/utils/mapControls.ts
Due: js-lint, js-type-check

enh: factorize clickhandler
  front/src/composables/useTutorial.ts
Due: js-lint, js-type-check

fix: add Pinia to detect mobile or desktop
  front/cypress/components/NavbarComponent.cy.ts
Due: js-lint, js-type-check

Update tuto
  front/src/components/WelcomeMessage.vue
  front/src/components/navbar/NavbarComponent.vue
  front/src/composables/useTutorial.ts
  front/src/stores/tutorial.ts
Due: js-lint, js-type-check

buttons
  front/src/composables/useTutorial.ts
Due: js-lint, js-type-check

feat: Add tutorials (#491)
  .gitignore
  front/components.d.ts
  front/cypress/components/NavbarComponent.cy.ts
  front/package-lock.json
  front/package.json
  front/src/components/AppDrawer.vue
  front/src/components/WelcomeMessage.vue
  front/src/components/contextData/MapContextDataMobile.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/panels/MapConfigDrawer.vue
  front/src/components/map/panels/MapScoresDrawer.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/components/navbar/NavbarComponent.vue
  front/src/composables/useTutorial.ts
  front/src/stores/tutorial.ts
  front/src/styles/main.css
  front/src/types/tutorial.ts
Due: js-lint, js-type-check

0.23.0 (2026-01-28) : Vue 3D et tutoriel
  docs/changelog/product.md
Due: none

Add illustration
  docs/assets/images/changelog/v0.23.0/3D_view.jpg
  docs/changelog/product.md
Due: none

0.23.0 (2026-01-28) : Vue 3D et tutoriel
  docs/assets/images/changelog/v0.23.0/3D_view.jpg
  docs/changelog/product.md
Due: none

fix : remove layer only if exists 0.23
  front/src/stores/map.ts
Due: js-lint, js-type-check
