Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

js-lint:
  name: js-lint
  entry: npm run --prefix front lint
  pass_filenames: false
  language: system

js-type-check:
  name: js-type-check
  entry: npm run --prefix front type-check
  pass_filenames: false
  language: system

django-test:
  name: django-test
  entry: bash -c "cd back && coverage run manage.py test && coverage report --fail-under=75"
  pass_filenames: false
  language: system

check-django-migrations:
  name: Check django migrations
  entry: bash -c "cd back && python3 manage.py makemigrations --dry-run --check"
  language: system
  pass_filenames: false

fix
  back/api/serializers/serializers.py
  back/api/views/tile_views.py
  front/src/services/tileService.ts
  front/src/stores/map.ts
  front/src/types/api.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

fix: update to put layer before terra-draw layer
  front/src/stores/map.ts
  front/src/utils/constants.ts
Due: js-lint, js-type-check

fix
  front/src/components/map/DrawingControls.vue
Due: js-lint, js-type-check

Add LinearReg
  back/plantability/analysis/pca_analysis.py
Due: django-test, check-django-migrations

Add plots
  back/plantability/analysis/pca_plot.py
Due: django-test, check-django-migrations

Add content + correct structure
  docs/changelog/database.md
  docs/changelog/product.md
  mkdocs.yml
Due: none

up
  docs/changelog/product.md
Due: none

0.20.0 (2025-11-26) : Analyse des facteurs de plantabilité et améliorations diverses (#458)
  docs/changelog/database.md
  docs/changelog/product.md
  mkdocs.yml
Due: none

Le calcul des zones climatiques n'est pas supporté pour les sélections de type polygone, rectangle ou cercle. Utilisez le mode de sélection par point.
  back/api/views/tile_views.py
  front/components.d.ts
  front/src/components/contextData/MapContextDataClimateZone.vue
  front/src/components/contextData/shared/ContextDataMainContainer.vue
  front/src/components/contextData/shared/UnsupportedShapeModeMessage.vue
  front/src/components/map/DrawingControls.vue
  front/src/components/map/SelectionModeToolbar.vue
  front/src/composables/useTerraDraw.ts
  front/src/stores/map.ts
  front/src/types/map.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

refactor: standardize API field naming and remove duplicate fields
  back/api/serializers/serializers.py
  back/api/views/tile_views.py
  front/src/components/contextData/MapContextDataVulnerability.vue
  front/src/services/tileService.ts
  front/src/types/api.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

fix: score on vulnerability
  front/src/utils/vulnerability.ts
Due: js-lint, js-type-check

Fix: plantability_vulnerability
  back/api/constants.py
  back/api/serializers/serializers.py
  back/api/views/tile_views.py
  front/src/components/contextData/MapContextDataPlantabilityVulnerability.vue
  front/src/composables/useContextData.ts
  front/src/services/tileService.ts
  front/src/stores/map.ts
  front/src/types/api.ts
  front/src/types/vulnerability_plantability.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

re
  front/src/components/contextData/MapContextData.vue
  front/src/components/contextData/MapContextDataClimateZone.vue
  front/src/components/contextData/MapContextDataMobile.vue
  front/src/components/contextData/MapContextDataPlantability.vue
  front/src/components/contextData/MapContextDataPlantabilityVulnerability.vue
  front/src/components/contextData/MapContextDataVulnerability.vue
  front/src/composables/useContextData.ts
  front/src/stores/map.ts
Due: js-lint, js-type-check

Remove debug console logs
  front/src/components/division/PlantabilityDivisionData.vue
Due: js-lint, js-type-check

fix
  front/src/composables/useTerraDraw.ts
  front/src/utils/color.ts
Due: js-lint, js-type-check

Remove debug logs from tileService
  front/src/services/tileService.ts
Due: js-lint, js-type-check

Update front/src/composables/useTerraDraw.ts
  front/src/composables/useTerraDraw.ts
Due: js-lint, js-type-check

fix
  front/src/utils/vulnerability.ts
Due: js-lint, js-type-check

fix
  front/src/components/division/ClickPlantabilityDivisionData.vue
Due: js-lint, js-type-check

fix: comments
  front/src/composables/useTerraDraw.ts
  front/src/stores/map.ts
Due: js-lint, js-type-check

fix
  front/src/services/tileService.ts
Due: js-lint, js-type-check

fix
  back/api/serializers/serializers.py
  back/api/views/tile_views.py
Due: django-test, check-django-migrations

fix: comments
  back/api/serializers/serializers.py
  back/api/views/tile_views.py
  front/src/components/contextData/MapContextDataPlantability.vue
  front/src/components/contextData/MapContextDataVulnerability.vue
  front/src/composables/usePlantabilityData.ts
  front/src/types/vulnerability.ts
  front/src/utils/plantability.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

Add TIF serializer
  back/api/constants.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/vegetation_views.py
  back/iarbre_data/migrations/0032_alter_mvttile_datatype.py
Due: django-test, check-django-migrations

Add raster layer in the front
  front/components.d.ts
  front/src/components/layerSwitcher/LayerSwitcher.vue
  front/src/components/map/legend/MapLegend.vue
  front/src/components/map/legend/VegetationLegend.vue
  front/src/stores/map.ts
  front/src/utils/enum.ts
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check

Update doc
  docs/methodology/vegetation.md
  mkdocs.yml
Due: none

Add sidepanel
  front/components.d.ts
  front/src/components/contextData/MapContextData.vue
  front/src/components/contextData/MapContextDataVegetation.vue
  front/src/types/contextData.ts
  front/src/types/vegetation.ts
Due: js-lint, js-type-check

Up
  front/src/components/contextData/MapContextDataVegetation.vue
Due: js-lint, js-type-check

Add PIL
  back/requirements.txt
Due: none

Up
  front/src/utils/enum.ts
Due: js-lint, js-type-check

Update DB
  back/.db_recover_target
Due: none

Update deploy to put the raster media
  back/iarbre_data/settings.py
  deploy/group_vars/feature/vars.yml
  deploy/group_vars/preprod/vars.yml
  deploy/group_vars/prod/vars.yml
  deploy/telescoop-deploy/tasks/install-and-update-django.yml
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
  deploy/telescoop-deploy/tasks/templates/settings.ini.j2
  deploy/templates/settings-custom.ini.j2
Due: django-test, check-django-migrations

enh: update DB version
  back/.db_recover_target
Due: none

Up
  back/iarbre_data/settings.py
  deploy/backend.yml
  deploy/templates/settings-custom.ini.j2
Due: django-test, check-django-migrations

Fix
  deploy/backend.yml
Due: none

FIx
  deploy/backend.yml
Due: none

fix: standardize static path
  deploy/backend.yml
  deploy/group_vars/feature/vars.yml
Due: none

Last fix
  deploy/backend.yml
  deploy/group_vars/feature/vars.yml
  deploy/group_vars/preprod/vars.yml
  deploy/group_vars/prod/vars.yml
Due: none

Comments
  front/src/router/index.ts
  front/src/views/MapView.vue
Due: js-lint, js-type-check

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
