Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

js-lint:
  name: js-lint
  entry: npm run --prefix front lint
  pass_filenames: false
  language: system

js-type-check:
  name: js-type-check
  entry: npm run --prefix front type-check
  pass_filenames: false
  language: system

django-test:
  name: django-test
  entry: bash -c "cd back && coverage run manage.py test && coverage report --fail-under=75"
  pass_filenames: false
  language: system

check-django-migrations:
  name: Check django migrations
  entry: bash -c "cd back && python3 manage.py makemigrations --dry-run --check"
  language: system
  pass_filenames: false

chore(deploy): avoid concurency on preprod deploy
  .github/workflows/deploy-prod.yml
  deploy/backend.yml
  deploy/telescoop-deploy/tasks/install-and-update-django.yml
Due: none

feat(front): report first page layout
  front/src/components/dashboard/DashboardHeader.vue
  front/src/views/DashboardView.vue
Due: js-lint, js-type-check

enh(front): report layout updates
  front/src/components/dashboard/DashboardNarrative.vue
  front/src/components/dashboard/NarrativeSection.vue
  front/src/components/dashboard/shared/DashboardWidgetCard.vue
  front/src/styles/main.css
Due: js-lint, js-type-check

fix: test class narrative-section
  front/src/components/dashboard/NarrativeSection.vue
Due: js-lint, js-type-check

fix: don't print feedback banner
  front/src/components/FeedbackBanner.vue
Due: js-lint, js-type-check

enh(front): enhance report layout (#730)
  front/src/components/FeedbackBanner.vue
  front/src/components/dashboard/DashboardHeader.vue
  front/src/components/dashboard/DashboardNarrative.vue
  front/src/components/dashboard/NarrativeSection.vue
  front/src/components/dashboard/shared/DashboardWidgetCard.vue
  front/src/styles/main.css
  front/src/views/DashboardView.vue
Due: js-lint, js-type-check

chore(front): cosmetics updates and icons reorg
  front/components.d.ts
  front/src/components/icons/IconCheck.vue
  front/src/components/icons/IconCopy.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapCoordinates.vue
  front/src/components/map/MapCopyLinkButton.vue
  front/src/components/map/legend/MapLegend.vue
  front/src/views/MapView.vue
Due: js-lint, js-type-check

Feat: ajouter le filtre score dans l'url + créer un bouton de partage de l'url (#726)
  front/components.d.ts
  front/src/components/icons/IconCheck.vue
  front/src/components/icons/IconCopy.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapCoordinates.vue
  front/src/components/map/MapCopyLinkButton.vue
  front/src/composables/useMapFilters.ts
  front/src/stores/map.ts
  front/src/views/MapView.vue
Due: js-lint, js-type-check

changelog: 0.37.0 (2026-09-02)
  docs/changelog/product.md
Due: none

feat: ajouter les bordures d'un espace sélectionné en vision 3D
  front/src/stores/map.ts
  front/src/utils/map.ts
Due: js-lint, js-type-check

fix: run the health check database probe off the request thread
  back/api/views/heath_views.py
Due: django-test, check-django-migrations

fix: run the health check database probe off the request thread (#743)
  back/api/views/heath_views.py
Due: django-test, check-django-migrations

fix: keep the ipave feature environment off the vege-3d port
  deploy/group_vars/feature/vars.yml
Due: none

fix: remove async playwright
  back/api/tests/test_pdf_renderer.py
  back/api/utils/pdf_renderer.py
  back/api/views/heath_views.py
Due: django-test, check-django-migrations

fix: remove async playwright (#745)
  back/api/tests/test_pdf_renderer.py
  back/api/utils/pdf_renderer.py
  back/api/views/heath_views.py
Due: django-test, check-django-migrations

matomo init
  front/.eslintrc.cjs
  front/.gitignore
  front/env.d.ts
  front/index.html
  front/package-lock.json
  front/package.json
  front/scripts/sync-tarteaucitron.mjs
  front/src/analytics/matomo.ts
  front/src/components/sidebar/SidebarComponent.vue
  front/src/main.ts
  front/src/views/LegalView.vue
Due: js-lint, js-type-check

feat(front): add matomo (#746)
  front/.eslintrc.cjs
  front/.gitignore
  front/env.d.ts
  front/index.html
  front/package-lock.json
  front/package.json
  front/scripts/sync-tarteaucitron.mjs
  front/src/analytics/matomo.ts
  front/src/components/sidebar/SidebarComponent.vue
  front/src/main.ts
  front/src/views/LegalView.vue
Due: js-lint, js-type-check

fix wrong merge from main
  back/api/views/heath_views.py
Due: django-test, check-django-migrations

chore: remove some comments
  front/.gitignore
  front/src/stores/map.ts
  front/src/utils/map.ts
Due: js-lint, js-type-check

fix: claude fixes on dead code + duplicated constant and logic
  front/src/stores/map.ts
  front/src/utils/map.ts
Due: js-lint, js-type-check

fix: chrominium async (#747)
  back/api/tests/test_pdf_renderer.py
  back/api/utils/pdf_renderer.py
  back/api/views/heath_views.py
  front/.eslintrc.cjs
  front/.gitignore
  front/env.d.ts
  front/index.html
  front/package-lock.json
  front/package.json
  front/scripts/sync-tarteaucitron.mjs
  front/src/analytics/matomo.ts
  front/src/components/sidebar/SidebarComponent.vue
  front/src/main.ts
  front/src/views/LegalView.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

maplibre 5 to 6
  front/src/components/map/MapGeocoder.vue
  front/src/main.ts
  front/src/stores/map.ts
Due: js-lint, js-type-check

feat: ajouter les bordures d'un espace sélectionné en vision 3D (#739)
  front/.gitignore
  front/src/stores/map.ts
  front/src/utils/map.ts
Due: js-lint, js-type-check

Changelog 0.37.0 (2026-09-02) : Dashboard d'export et bouton de partage
  docs/changelog/product.md
Due: none

fix(front): matomo consent handler + restore plausible
  front/index.html
  front/src/analytics/matomo.ts
Due: js-lint, js-type-check

fix: avoid block by blockers
  front/src/analytics/matomo.ts
Due: js-lint, js-type-check

fix: orphan doc file
  docs/methodology/biodiversity.md
Due: none

fix: update accordingly github actions for mkdocs
  .github/workflows/docs.yml
Due: none

fix: doc verification
  .github/workflows/checks.yml
Due: none

feat(back): add mean height vegestrate
  back/iarbre_data/migrations/0043_vegestrate_mean_height.py
  back/iarbre_data/models.py
  back/vegetation/management/commands/populate_vegestrate_mean_height.py
  back/vegetation/tests/test_populate_vegestrate_mean_height.py
Due: django-test, check-django-migrations

DB version and description
  back/.db_recover_target
  docs/changelog/database.md
Due: none

feat(back): new db version with updated vegestrate (#757)
  back/.db_recover_target
  back/iarbre_data/migrations/0043_vegestrate_mean_height.py
  back/iarbre_data/models.py
  back/vegetation/management/commands/populate_vegestrate_mean_height.py
  back/vegetation/tests/test_populate_vegestrate_mean_height.py
  docs/changelog/database.md
Due: django-test, check-django-migrations

fix: carto.com api key
  deploy/templates/frontend.env
  front/package-lock.json
  front/src/map/map-style.json
  front/src/stores/map.ts
Due: js-lint, js-type-check

encrypted apy key
  deploy/group_vars/all/cross_env_vault.yml
Due: none

fix: package-lock.json myssync
  front/package-lock.json
Due: none

Merge issues
  back/api/constants.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/raster_views.py
  back/api/views/wms_views.py
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
  front/src/stores/map.ts
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
