Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

js-lint:
  name: js-lint
  entry: npm run --prefix front lint
  pass_filenames: false
  language: system

js-type-check:
  name: js-type-check
  entry: npm run --prefix front type-check
  pass_filenames: false
  language: system

django-test:
  name: django-test
  entry: bash -c "cd back && coverage run manage.py test && coverage report --fail-under=75"
  pass_filenames: false
  language: system

check-django-migrations:
  name: Check django migrations
  entry: bash -c "cd back && python3 manage.py makemigrations --dry-run --check"
  language: system
  pass_filenames: false

simplify test
  front/cypress/components/ClimateContextDataMetrics.cy.ts
  front/cypress/components/ClimateContextDataScore.cy.ts
  front/cypress/components/ContextDataAccordionItem.cy.ts
  front/cypress/components/ContextDataItem.cy.ts
  front/cypress/components/ContextDataListContainer.cy.ts
  front/cypress/components/ContextDataScore.cy.ts
  front/cypress/components/FeedbackForm.cy.ts
  front/cypress/components/VulnerabilityContextDataList.cy.ts
  front/cypress/components/VulnerabilityContextDataScoreBadge.cy.ts
  front/cypress/components/VulnerabilityMainContextDataScore.cy.ts
  front/cypress/e2e/contextData.cy.ts
  front/src/components/map/score/ScoreTag.vue
Due: js-lint, js-type-check

repair ci
  front/package.json
Due: none

update package lock
  front/package-lock.json
Due: none

update package lock
  front/package-lock.json
  front/package.json
Due: none

update test
  front/cypress/components/PlantabilityContextDataList.cy.ts
Due: js-lint, js-type-check

update chaining operator
  front/src/components/contextData/shared/ContextDataAccordionItem.vue
Due: js-lint, js-type-check

adds coverage github action
  .github/workflows/checks.yml
Due: none

adds coverage github action
  .github/nyc-comment-template.md
  .github/workflows/checks.yml
Due: none

adds coverage github action
  front/src/components/contextData/shared/ContextDataAccordionItem.vue
Due: js-lint, js-type-check

adds coverage github action
  .github/nyc-comment-template.md
Due: none

doc(back): methodology for vulnerability x plantability
  docs/methodology/plantability_vulnerability.md
  mkdocs.yml
Due: none

feat: add deploy pr message
  .github/workflows/deploy-feature.yml
Due: none

Change preview URL structure in deploy workflow
  .github/workflows/deploy-feature.yml
Due: none

Update preview URL format in deploy workflow
  .github/workflows/deploy-feature.yml
Due: none

fix: update deploy feature to run only one time
  .github/workflows/deploy-feature.yml
Due: none

Up
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
Due: js-lint, js-type-check

Remove postgis extension creation
  deploy/backend.yml
  deploy/telescoop-deploy/tasks/install-database.yml
Due: none

fix
  .github/workflows/deploy-feature.yml
Due: none

fix: remove test
  .github/workflows/deploy-feature.yml
Due: none

feat: add deploy pr message to give preview url (#420)
  .github/workflows/deploy-feature.yml
Due: none

feat(api): add city/iris models and enhance MVT generator
  Makefile
  back/api/serializers/serializers.py
  back/api/urls.py
  back/api/utils/mvt_generator.py
  back/api/views/__init__.py
  back/api/views/division_views.py
  back/iarbre_data/migrations/0031_city_plantability_counts_iris_plantability_counts.py
  back/iarbre_data/models.py
  back/plantability/management/commands/compute_plantability_counts.py
  back/requirements.txt
Due: django-test, check-django-migrations

clean
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

WIP
  back/api/filters/__init__.py
  back/api/filters/division_filters.py
  back/api/filters/geometry_filters.py
  back/api/serializers/serializers.py
  back/api/views/division_views.py
  front/components.d.ts
  front/src/components/contextData/MapContextDataMobile.vue
  front/src/components/contextData/MapContextDataPlantability.vue
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
  front/src/components/contextData/plantability/PlantabilityContextDataScore.vue
  front/src/components/contextData/plantability/PlantabilityDistributionChart.vue
  front/src/components/contextData/vulnerability/VulnerabilityMainContextDataScore.vue
  front/src/components/division/ClickPlantabilityDivisionData.vue
  front/src/components/division/DivisionDataDisplay.vue
  front/src/components/division/PlantabilityCityCard.vue
  front/src/components/division/PlantabilityDivisionData.vue
  front/src/components/division/PlantabilityIrisCard.vue
  front/src/components/progress/CircularProgress.vue
  front/src/components/shared/CircularScore.vue
  front/src/services/divisionService.ts
  front/src/types/contextData.ts
  front/src/types/division.ts
  front/src/types/plantability.ts
  front/src/utils/plantability.ts
  front/src/utils/queryParams.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

fix
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

feat: addd message when redeploy branch
  .github/workflows/deploy-feature.yml
Due: none

feat: addd message when redeploy branch (#421)
  .github/workflows/deploy-feature.yml
Due: none

fix
  front/src/components/map/MapComponent.vue
Due: js-lint, js-type-check

fix: map split
  front/src/components/map/MapComponent.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/styles/main.css
  front/src/styles/variables.css
Due: js-lint, js-type-check

feat: update makefile
  Makefile
Due: none

refacto
  front/src/components/map/MapComponent.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/styles/main.css
  front/src/styles/variables.css
Due: js-lint, js-type-check

fix
  front/src/styles/main.css
  front/src/styles/variables.css
Due: none

fix
  front/src/styles/main.css
Due: none

fix
  front/src/components/map/MapComponent.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/styles/main.css
Due: js-lint, js-type-check

**feat(map): refactor responsive layout with CSS variables**
  front/src/components/map/MapComponent.vue
  front/src/styles/main.css
Due: js-lint, js-type-check

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
