Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

js-lint:
  name: js-lint
  entry: npm run --prefix front lint
  pass_filenames: false
  language: system

js-type-check:
  name: js-type-check
  entry: npm run --prefix front type-check
  pass_filenames: false
  language: system

django-test:
  name: django-test
  entry: bash -c "cd back && coverage run manage.py test && coverage report --fail-under=75"
  pass_filenames: false
  language: system

check-django-migrations:
  name: Check django migrations
  entry: bash -c "cd back && python3 manage.py makemigrations --dry-run --check"
  language: system
  pass_filenames: false

fix(front): remove hardcoded DL link in tests
  front/cypress/components/SidebarDownload.cy.ts
Due: js-lint, js-type-check

enh: endpoint for raster DL (#538)
  back/api/urls.py
  back/api/views/raster_views.py
  front/cypress/components/SidebarDownload.cy.ts
  front/src/utils/enum.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

up
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

up
  back/api/constants.py
Due: django-test, check-django-migrations

Update MVT generation
  back/api/management/commands/generate_mvt.py
Due: django-test, check-django-migrations

up
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

Up
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

fix tests
  back/iarbre_data/tests/test_views.py
Due: django-test, check-django-migrations

chore: remove hotspot
  back/iarbre_data/migrations/0038_delete_hotspot.py
  back/iarbre_data/models.py
Due: django-test, check-django-migrations

feat(front): add vegestrate layer in front
  front/src/components/contextData/MapContextData.vue
  front/src/components/layerSwitcher/LayerSwitcher.vue
  front/src/components/map/legend/MapLegend.vue
  front/src/composables/useMapFilters.ts
  front/src/router/index.ts
  front/src/stores/map.ts
  front/src/utils/enum.ts
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check

fix(back): simploify geom to reduce vertexes
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

OOM errors
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

chore: cleaning
  back/api/constants.py
  back/api/views/vegetation_views.py
  front/src/stores/map.ts
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

chore: cleaning
  back/api/urls.py
  back/api/views/__init__.py
Due: django-test, check-django-migrations

feat(front): add context data
  back/api/serializers/serializers.py
  back/api/views/tile_views.py
  front/components.d.ts
  front/src/components/contextData/MapContextData.vue
  front/src/components/contextData/MapContextDataVegetation.vue
  front/src/components/contextData/vegestrate/VegestrateContextDataInfo.vue
  front/src/types/vegetation.ts
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

fix: better 3D
  front/src/stores/map.ts
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check

feat: add legend filters
  front/src/components/map/legend/VegetationLegend.vue
  front/src/composables/useMapFilters.ts
Due: js-lint, js-type-check

fix: remove useless pre-commit step
  .pre-commit-config.yaml
Due: none

Améliore la visualisation du cadastre (#533)
  front/components.d.ts
  front/cypress/components/MapSidePanel.cy.ts
  front/cypress/e2e/map.cy.ts
  front/cypress/support/commands.ts
  front/cypress/support/index.d.ts
  front/src/components/contextData/MapCadastreParcelInfo.vue
  front/src/components/contextData/MapContextDataClimateZone.vue
  front/src/components/contextData/MapContextDataPlantability.vue
  front/src/components/contextData/MapContextDataPlantabilityVulnerability.vue
  front/src/components/contextData/MapContextDataVulnerability.vue
  front/src/components/contextData/shared/ContextDataMainContainer.vue
  front/src/components/contextTools/MapContextTools.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/panels/MapCadastreToggleButton.vue
  front/src/stores/map.ts
Due: js-lint, js-type-check

fix: update precommit beautysh
  .pre-commit-config.yaml
Due: none

feat: pipeline script for calque de plantabilité
  .pre-commit-config.yaml
  back/iarbre_data/management/commands/run_pipeline.py
  back/pipeline/plantability_pipeline.yaml
  back/requirements.txt
Due: django-test, check-django-migrations

Update doc accordingly
  back/README.md
  back/iarbre_data/data.md
Due: none

fix links
  back/README.md
  back/iarbre_data/data.md
Due: none

beautysh and python 3.10
  .pre-commit-config.yaml
Due: none

feat: pipeline script for calque de plantabilité (#549)
  .pre-commit-config.yaml
  back/README.md
  back/iarbre_data/data.md
  back/iarbre_data/management/commands/run_pipeline.py
  back/pipeline/plantability_pipeline.yaml
  back/requirements.txt
Due: django-test, check-django-migrations

migration
  back/iarbre_data/migrations/0039_alter_mvttile_datatype.py
Due: none

chore: cleaning legacy code
  back/iarbre_data/management/commands/import_hotspot.py
  back/iarbre_data/tests/test_import_hotspot.py
Due: django-test, check-django-migrations

update db version
  back/.db_recover_target
  docs/changelog/database.md
Due: none

feat: vector vegestrate + MVT (#539)
  back/.db_recover_target
  back/api/constants.py
  back/api/management/commands/generate_mvt.py
  back/api/serializers/serializers.py
  back/api/urls.py
  back/api/utils/mvt_generator.py
  back/api/views/__init__.py
  back/api/views/tile_views.py
  back/api/views/vegetation_views.py
  back/iarbre_data/management/commands/import_hotspot.py
  back/iarbre_data/migrations/0038_delete_hotspot.py
  back/iarbre_data/migrations/0039_alter_mvttile_datatype.py
  back/iarbre_data/models.py
  back/iarbre_data/tests/test_import_hotspot.py
  back/iarbre_data/tests/test_views.py
  back/vegetation/management/commands/add_vegestrate_data.py
  docs/changelog/database.md
  front/components.d.ts
  front/src/components/contextData/MapContextData.vue
  front/src/components/contextData/MapContextDataVegetation.vue
  front/src/components/contextData/vegestrate/VegestrateContextDataInfo.vue
  front/src/components/layerSwitcher/LayerSwitcher.vue
  front/src/components/map/legend/MapLegend.vue
  front/src/components/map/legend/VegetationLegend.vue
  front/src/composables/useMapFilters.ts
  front/src/router/index.ts
  front/src/stores/map.ts
  front/src/types/vegetation.ts
  front/src/utils/enum.ts
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

use new version
  back/api/views/raster_views.py
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

fix
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

naming
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

Update doc
  docs/methodology/vegetation.md
Due: none

enh: quicker add vegestrate data
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

add tests
  back/vegetation/tests/__init__.py
  back/vegetation/tests/test_add_vegestrate_data.py
Due: django-test, check-django-migrations

New db
  back/.db_recover_target
Due: none

Update vegestrate data (#551)
  back/.db_recover_target
  back/api/views/raster_views.py
  back/vegetation/management/commands/add_vegestrate_data.py
  back/vegetation/tests/__init__.py
  back/vegetation/tests/test_add_vegestrate_data.py
  docs/methodology/vegetation.md
Due: django-test, check-django-migrations

add django gis server from Amsterdam City
  back/iarbre_data/settings.py
Due: django-test, check-django-migrations

up
  back/requirements.txt
Due: none

Up
  back/requirements.txt
Due: none

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
