Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)

default
  front/src/router/index.ts
Due: js-lint, js-type-check

Fix tests and routing
  front/cypress/e2e/legendFiltering.cy.ts
  front/cypress/e2e/map.cy.ts
  front/src/router/index.ts
Due: js-lint, js-type-check

FIx
  front/cypress/e2e/map.cy.ts
Due: js-lint, js-type-check

More doc
  docs/methodology/vegetation.md
Due: none

Fix geocoding
  front/src/views/MapView.vue
Due: js-lint, js-type-check

Wrong Duplicate
  front/src/views/MapView.vue
Due: js-lint, js-type-check

feat: do not change url if nothing change in map (#453)
  front/cypress/e2e/legendFiltering.cy.ts
  front/cypress/e2e/map.cy.ts
  front/src/components/map/MapComponent.vue
  front/src/router/index.ts
  front/src/utils/constants.ts
  front/src/views/MapView.vue
Due: js-lint, js-type-check

fix :comments
  front/src/components/contextData/MapContextDataPlantability.vue
  front/src/components/shared/CircularScore.vue
  front/src/services/tileService.ts
  front/src/theme/iArbre.ts
  front/src/utils/color.ts
Due: js-lint, js-type-check

0.21.0 (2025-12-17)
  docs/assets/images/changelog/v0.21.0/tracage.jpg
  docs/changelog/database.md
  docs/changelog/product.md
Due: none

Add it to the router
  front/src/router/index.ts
Due: js-lint, js-type-check

enh: update basemap to positron
  front/public/map/map-style.json
Due: none

0.21.0 (2025-12-17) : Ajout de fonctionnalités de traçage et correction de bugs (#462)
  docs/assets/images/changelog/v0.21.0/tracage.jpg
  docs/changelog/database.md
  docs/changelog/product.md
  front/public/map/map-style.json
Due: none

Add limits to geom + simplify requests
  back/api/views/tile_views.py
Due: django-test, check-django-migrations

Add test for the new view
  back/api/tests/test_tile_views.py
Due: django-test, check-django-migrations

Fix
  front/components.d.ts
  front/src/components/contextData/MapContextData.vue
Due: js-lint, js-type-check

Up
  back/api/views/tile_views.py
Due: django-test, check-django-migrations

Add models following ipave branch
  back/api/constants.py
  back/iarbre_data/migrations/0033_vegestrate_city_vegetation_voirie_basse_and_more.py
  back/iarbre_data/models.py
  back/vegetation/__init__.py
  back/vegetation/management/__init__.py
  back/vegetation/management/commands/__init__.py
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

enh: use reverse
  back/api/tests/test_tile_views.py
Due: django-test, check-django-migrations

fix: move map-style from public
  front/src/map/map-style.json
  front/src/stores/map.ts
Due: js-lint, js-type-check

feat: update front to allow to use day and night with Vulnerability plantability index
  front/src/components/contextTools/MapContextTools.vue
  front/src/components/contextTools/VulnerabilityContextTool.vue
  front/src/stores/map.ts
  front/src/utils/plantability_vulnerability.ts
Due: js-lint, js-type-check

fix
  front/src/components/contextTools/VulnerabilityContextTool.vue
  front/src/stores/map.ts
Due: js-lint, js-type-check

Update VulnerabilityContextTool.vue
  front/src/components/contextTools/VulnerabilityContextTool.vue
Due: js-lint, js-type-check

feat: everything in frontend to display biosphere map
  front/components.d.ts
  front/src/components/contextData/MapContextData.vue
  front/src/components/layerSwitcher/LayerSwitcher.vue
  front/src/components/map/legend/BiosphereFunctionalIntegrityLegend.vue
  front/src/components/map/legend/MapLegend.vue
  front/src/router/index.ts
  front/src/stores/map.ts
  front/src/utils/biosphere_functional_integrity.ts
  front/src/utils/enum.ts
Due: js-lint, js-type-check

feat: create biosphere model in backend
  back/api/constants.py
  back/iarbre_data/admin.py
  back/iarbre_data/migrations/0032_biospherefunctionalintegrity_alter_mvttile_datatype_and_more.py
  back/iarbre_data/migrations/0033_biospherefunctionalintegrity_index.py
  back/iarbre_data/migrations/0034_alter_biospherefunctionalintegrity_geometry_and_more.py
  back/iarbre_data/migrations/0035_rename_index_biospherefunctionalintegrity_indice_and_more.py
  back/iarbre_data/models.py
Due: django-test, check-django-migrations

wip: piece of code to populate database from shp map
  back/api/management/commands/generate_mvt.py
  back/iarbre_data/management/commands/import_biosphere_functional_integrity.py
Due: django-test, check-django-migrations

feat: update front to allow to use day and night with Vulnerability plantability index (#475)
  front/src/components/contextTools/MapContextTools.vue
  front/src/components/contextTools/VulnerabilityContextTool.vue
  front/src/stores/map.ts
  front/src/utils/plantability_vulnerability.ts
Due: js-lint, js-type-check

feat: start add score on plantability vulnerability
  back/api/tests/test_generate_mvt.py
  back/api/utils/mvt_generator.py
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
  front/src/components/map/score/BivariateCellLabel.vue
  front/src/composables/useMapFilters.ts
  front/src/utils/plantability_vulnerability.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

ops: disable lifecycle scripts
  .github/workflows/checks.yml
  Makefile
  deploy/telescoop-deploy/tasks/setup-node-dependencies.yml
  front/.npmrc
Due: none

add whitelist
  .github/workflows/checks.yml
  Makefile
  deploy/telescoop-deploy/tasks/setup-node-dependencies.yml
  front/package-lock.json
  front/package.json
Due: none

fix: preload primechart
  front/vite.config.ts
Due: js-lint, js-type-check

fix e2e tests
  front/components.d.ts
  front/src/stores/map.ts
Due: js-lint, js-type-check

PR correct
  .github/workflows/checks.yml
  Makefile
  deploy/telescoop-deploy/tasks/setup-node-dependencies.yml
Due: none

ops: disable lifecycle scripts
  .github/workflows/checks.yml
  Makefile
  deploy/telescoop-deploy/tasks/setup-node-dependencies.yml
  front/.npmrc
  front/components.d.ts
  front/package-lock.json
  front/package.json
  front/src/stores/map.ts
  front/vite.config.ts
Due: js-lint, js-type-check

db: update db version
  back/.db_recover_target
  docs/changelog/database.md
Due: none

Revert "db: update db version"
  back/.db_recover_target
  docs/changelog/database.md
Due: none

db: update db version
  back/.db_recover_target
  back/iarbre_data/migrations/0032_alter_tile_vulnerability_idx.py
  back/iarbre_data/models.py
  docs/changelog/database.md
Due: django-test, check-django-migrations

fix: precommit error
  docs/changelog/database.md
Due: none

full metro
  back/api/views/vegetation_views.py
Due: django-test, check-django-migrations

db version
  back/.db_recover_target
Due: none
