Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

js-lint:
  name: js-lint
  entry: npm run --prefix front lint
  pass_filenames: false
  language: system

js-type-check:
  name: js-type-check
  entry: npm run --prefix front type-check
  pass_filenames: false
  language: system

django-test:
  name: django-test
  entry: bash -c "cd back && coverage run manage.py test && coverage report --fail-under=75"
  pass_filenames: false
  language: system

check-django-migrations:
  name: Check django migrations
  entry: bash -c "cd back && python3 manage.py makemigrations --dry-run --check"
  language: system
  pass_filenames: false

DB doc update
  docs/changelog/database.md
Due: none

Feat: wfs stream for plantability
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/wfs_views.py
Due: django-test, check-django-migrations

Add tests
  back/api/tests/test_wfs_views.py
  back/api/views/wfs_views.py
Due: django-test, check-django-migrations

Vegestrate WFS
  back/api/tests/test_wfs_views.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/wfs_views.py
Due: django-test, check-django-migrations

feat: add WFS stream (#556)
  back/api/tests/test_wfs_views.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/wfs_views.py
  back/iarbre_data/settings.py
  back/requirements.txt
  docs/changelog/database.md
Due: django-test, check-django-migrations

feat: add button for WFS
  front/components.d.ts
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
  front/src/components/map/panels/sidepanel/MapSidePanelDownload.vue
  front/src/components/shared/AppDialog.vue
Due: js-lint, js-type-check

Update to a single URL
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/wfs_views.py
Due: django-test, check-django-migrations

Also add REST raster download
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check

Chore: cleaning
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
  front/src/components/map/panels/sidepanel/MapSidePanelDownload.vue
Due: js-lint, js-type-check

Cleaning
  front/src/utils/enum.ts
Due: js-lint, js-type-check

Update test accordingly
  front/cypress/components/SidebarDownload.cy.ts
Due: js-lint, js-type-check

Update colors to use main.css
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check

back: update test after views changes
  back/api/tests/test_wfs_views.py
Due: django-test, check-django-migrations

fix test front
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
Due: js-lint, js-type-check

Animation
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check

rework on dashboard
  front/components.d.ts
  front/src/components/dashboard/DashboardGrid.vue
  front/src/components/dashboard/shared/DashboardArcScore.vue
  front/src/components/dashboard/shared/DashboardBubbleChart.vue
  front/src/components/dashboard/widgets/BuildingWidget.vue
  front/src/components/dashboard/widgets/HeatWidget.vue
  front/src/components/dashboard/widgets/PlantabilityWidget.vue
  front/src/components/dashboard/widgets/SurfaceTypeWidget.vue
  front/src/components/dashboard/widgets/VegetationWaterWidget.vue
  front/src/components/dashboard/widgets/VegetationWidget.vue
  front/src/composables/useD3Chart.ts
  front/src/types/dashboard.ts
Due: js-lint, js-type-check

precommit
  .pre-commit-config.yaml
  front/src/components/dashboard/DashboardHeader.vue
  front/src/components/dashboard/shared/DashboardArcScore.vue
  front/src/components/dashboard/shared/DashboardBubbleChart.vue
  front/src/components/dashboard/widgets/BuildingWidget.vue
  front/src/components/dashboard/widgets/HeatWidget.vue
  front/src/components/dashboard/widgets/PlantabilityWidget.vue
  front/src/components/dashboard/widgets/VegetationWidget.vue
  front/src/services/dashboardService.ts
  front/src/stores/dashboard.ts
Due: js-lint, js-type-check

lint precommit
  .pre-commit-config.yaml
Due: none

fix tooltip
  front/src/components/map/panels/sidepanel/MapSidePanelHeader.vue
Due: js-lint, js-type-check

adds attribution source
  front/src/components/map/legend/MapLegend.vue
Due: js-lint, js-type-check

Update attrib
  front/src/utils/enum.ts
Due: js-lint, js-type-check

Visual consistency
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check

Remove hardcoded base route
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check

Update tests
  front/cypress/components/SidebarDownload.cy.ts
Due: js-lint, js-type-check

Répare l'attribution des sources (#564)
  front/src/components/map/legend/MapLegend.vue
  front/src/utils/enum.ts
Due: js-lint, js-type-check

Répare le tooltip avec le nombre d’habitant·es (#563)
  front/src/components/map/panels/sidepanel/MapSidePanelHeader.vue
Due: js-lint, js-type-check

Update hardcoded links
  front/cypress/components/SidebarDownload.cy.ts
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check

Remove IRIS
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/boundary_views.py
  front/components.d.ts
  front/src/components/map/panels/MapBoundaryToggleButton.vue
  front/src/services/boundaryService.ts
  front/src/stores/map.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

Fix django and component test
  back/api/tests/test_boundary_views.py
  front/cypress/components/MapSidePanel.cy.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

fix mobile tutorial
  front/src/components/contextData/plantability/PlantabilityDistributionChart.vue
  front/src/components/contextData/shared/ContextDataMainContainer.vue
  front/src/components/contextTools/MapContextTools.vue
  front/src/components/layerSwitcher/MapLayerSwitcher.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapGeocoder.vue
  front/src/components/map/panels/MapConfigDrawer.vue
  front/src/components/map/panels/MapConfigDrawerToggle.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/components/mapSwitcher/MapBgSwitcher.vue
  front/src/composables/useTutorial.ts
  front/src/stores/app.ts
  front/src/stores/tutorial.ts
  front/src/styles/main.css
  front/src/types/tutorial.ts
  front/src/views/MapView.vue
Due: js-lint, js-type-check

fix tests
  front/cypress/support/component.ts
Due: js-lint, js-type-check

Update back tests
  back/api/tests/test_boundary_views.py
  back/api/views/boundary_views.py
Due: django-test, check-django-migrations

fix tests
  front/cypress/components/SidebarComponent.cy.ts
  front/cypress/support/component.ts
Due: js-lint, js-type-check

Merging mess oupsi
  front/cypress/components/MapSidePanel.cy.ts
  front/src/components/contextTools/MapContextTools.vue
  front/src/stores/map.ts
Due: js-lint, js-type-check

Oupsi
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check

fix tests
  front/components.d.ts
  front/cypress/e2e/map.cy.ts
Due: js-lint, js-type-check

feat(front): WFS description (#561)
  back/api/tests/test_wfs_views.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/wfs_views.py
  front/components.d.ts
  front/cypress/components/SidebarDownload.cy.ts
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/components/map/panels/sidepanel/MapSidePanelDownload.vue
  front/src/components/shared/AppDialog.vue
  front/src/utils/enum.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

Update picto
  front/components.d.ts
  front/src/components/icons/IconBoundary.vue
Due: js-lint, js-type-check

fix plantability/vulnerability legend
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
Due: js-lint, js-type-check

Ajoute les contours adminstratifs (#532)
  back/api/tests/test_boundary_views.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/boundary_views.py
  front/components.d.ts
  front/cypress/components/MapSidePanel.cy.ts
  front/src/components/contextTools/MapContextTools.vue
  front/src/components/icons/IconBoundary.vue
  front/src/components/map/panels/MapBoundaryToggleButton.vue
  front/src/services/boundaryService.ts
  front/src/stores/map.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
