Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)

ETQ dev je veux opti la carto avec le sidepanel (#416)
  Makefile
  front/src/components/map/MapComponent.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/styles/main.css
Due: js-lint, js-type-check

feat: add db changelog
  DATABASE_CHANGELOG.md
Due: none

fix: translate to fr
  DATABASE_CHANGELOG.md
Due: none

fix
  DATABASE_CHANGELOG.md
Due: none

feat: add db changelog (#424)
  DATABASE_CHANGELOG.md
Due: none

feat(doc): Ajout dans la doc du changelog de database
  docs/changelog/changelog.md
  docs/changelog/database_changelog.md
  mkdocs.yml
Due: none

fix path to images
  docs/changelog/changelog.md
Due: none

feat(doc): Ajout dans la doc du changelog de database (#426)
  docs/changelog/changelog.md
  docs/changelog/database_changelog.md
  mkdocs.yml
Due: none

fix
  back/README.md
Due: none

fix
  Makefile
  back/README.md
Due: none

feat: add code in deploy to easily choose db backup
  Makefile
  back/.db_recover_target
  back/README.md
  back/backup_name.py
  deploy/backend.yml
Due: django-test, check-django-migrations

fix
  Makefile
Due: none

fix
  deploy/backend.yml
Due: none

feat: add code in deploy to easily choose db backup
  deploy/backend.yml
Due: none

Update back/README.md
  back/README.md
Due: none

Fix database changelog path
  back/README.md
Due: none

Fix
  back/README.md
Due: none

chore(front): fix naming
  front/components.d.ts
  front/src/components/contextData/MapContextData.vue
  front/src/components/contextData/MapContextDataPlantabilityVulnerability.vue
  front/src/components/layerSwitcher/LayerSwitcher.vue
  front/src/components/map/legend/MapLegend.vue
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
  front/src/composables/useContextData.ts
  front/src/router/index.ts
  front/src/services/tileService.ts
  front/src/stores/map.ts
  front/src/types/vulnerability_plantability.ts
  front/src/utils/enum.ts
  front/src/utils/plantability-vulnerability.ts
Due: js-lint, js-type-check

Up
  front/components.d.ts
Due: js-lint, js-type-check

feat(front): add ContextPanel for plantability x vulnerability (#405)
  back/compute_factors.sh
  front/components.d.ts
  front/src/components/contextData/MapContextData.vue
  front/src/components/contextData/MapContextDataPlantabilityVulnerability.vue
  front/src/components/layerSwitcher/LayerSwitcher.vue
  front/src/components/map/legend/MapLegend.vue
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
  front/src/composables/useContextData.ts
  front/src/router/index.ts
  front/src/services/tileService.ts
  front/src/stores/map.ts
  front/src/types/plantability.ts
  front/src/types/vulnerability_plantability.ts
  front/src/utils/enum.ts
  front/src/utils/plant_vulnerability.ts
  front/src/utils/plantability-vulnerability.ts
Due: js-lint, js-type-check

Fix
  front/src/components/contextData/MapContextDataPlantabilityVulnerability.vue
  mkdocs.yml
Due: js-lint, js-type-check

Up
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
  front/src/components/map/score/BivariateCellLabel.vue
Due: js-lint, js-type-check

feat(front): add interaction for plantability x vulnerability (#407)
  docs/methodology/plantability_vulnerability.md
  front/components.d.ts
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
  front/src/components/map/score/BivariateCellLabel.vue
  front/src/stores/map.ts
  front/src/utils/plantability_vulnerability.ts
  mkdocs.yml
Due: js-lint, js-type-check

Remove postgis extension creation (#428)
  deploy/backend.yml
  deploy/telescoop-deploy/tasks/install-database.yml
Due: none

0.18.0 (2025-10-22) : Croisement chaleur x plantabilité et site vitrine
  docs/changelog/changelog.md
Due: none

Up
  docs/changelog/database_changelog.md
Due: none

Update plantability methodo
  back/iarbre_data/data.md
Due: none

0.18.0 (2025-10-22) : Croisement chaleur x plantabilité et site vitrine (#429)
  back/iarbre_data/data.md
  docs/changelog/changelog.md
  docs/changelog/database_changelog.md
Due: none

Update .db_recover_target
  back/.db_recover_target
Due: none

feat: add code in deploy to easily choose db backup (#425)
  Makefile
  back/.db_recover_target
  back/README.md
  back/backup_name.py
  deploy/backend.yml
Due: django-test, check-django-migrations

fix: doc string
  back/iarbre_data/models.py
Due: django-test, check-django-migrations

fix
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

feat(api): add city/iris models and enhance MVT generator
  Makefile
  back/api/serializers/serializers.py
  back/api/urls.py
  back/api/utils/mvt_generator.py
  back/api/views/__init__.py
  back/api/views/division_views.py
  back/iarbre_data/migrations/0031_city_plantability_counts_iris_plantability_counts.py
  back/iarbre_data/models.py
  back/plantability/management/commands/compute_plantability_counts.py
  back/requirements.txt
Due: django-test, check-django-migrations

fix:
  back/iarbre_data/migrations/0032_alter_city_plantability_counts_and_more.py
Due: none

clean
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

fix
  back/iarbre_data/migrations/0031_city_plantability_counts_iris_plantability_counts.py
  back/iarbre_data/migrations/0032_alter_city_plantability_counts_and_more.py
Due: none

fix
  front/src/components/contextData/shared/ContextDataScore.vue
Due: js-lint, js-type-check

fix: plantability_counts
  back/iarbre_data/migrations/0031_city_plantability_counts_iris_plantability_counts.py
  back/iarbre_data/models.py
  back/plantability/constants.py
  back/plantability/management/commands/compute_plantability_counts.py
Due: django-test, check-django-migrations
