Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

js-lint:
  name: js-lint
  entry: npm run --prefix front lint
  pass_filenames: false
  language: system

js-type-check:
  name: js-type-check
  entry: npm run --prefix front type-check
  pass_filenames: false
  language: system

django-test:
  name: django-test
  entry: bash -c "cd back && coverage run manage.py test && coverage report --fail-under=75"
  pass_filenames: false
  language: system

check-django-migrations:
  name: Check django migrations
  entry: bash -c "cd back && python3 manage.py makemigrations --dry-run --check"
  language: system
  pass_filenames: false

so long antoine
  Makefile
Due: none

add status to DL button
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check

feat: ajout d'un lien de DL pour le raster de hauteur vegestrate (#694)
  Makefile
  back/api/views/raster_views.py
  back/iarbre_data/settings.py
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

optimize requests
  back/api/views/dashboard_views.py
Due: django-test, check-django-migrations

remove ha in surface metrics from back and front
  back/api/serializers/dashboard_serializer.py
  back/api/tests/test_dashboard_views.py
  back/api/views/dashboard_views.py
  front/src/components/dashboard/DashboardHeader.vue
  front/src/types/dashboard.ts
  front/tests/dashboard.store.test.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

update tests and gdal for windows
  back/api/tests/test_dashboard_views.py
  back/api/utils/polygon.py
  back/iarbre_data/settings.py
Due: django-test, check-django-migrations

mutualize and simplify
  front/src/components/map/ShapeLiveChip.vue
  front/src/components/map/ZoneDashboardCard.vue
  front/src/composables/useMapRenderSync.ts
Due: js-lint, js-type-check

fix typo
  back/iarbre_data/settings.py
Due: django-test, check-django-migrations

small surfaces
  front/src/components/dashboard/widgets/VegetationSurfaceWidget.vue
Due: js-lint, js-type-check

Ajoute la possibilité de visualiser les données du dashboard selon la sélection d'une zone (#683)
  back/api/serializers/dashboard_serializer.py
  back/api/tests/test_dashboard_views.py
  back/api/urls.py
  back/api/utils/polygon.py
  back/api/views/dashboard_views.py
  back/api/views/tile_views.py
  back/iarbre_data/settings.py
  front/components.d.ts
  front/src/components/dashboard/DashboardHeader.vue
  front/src/components/dashboard/widgets/VegetationSurfaceWidget.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/ShapeLiveChip.vue
  front/src/components/map/ZoneDashboardCard.vue
  front/src/composables/useMapRenderSync.ts
  front/src/services/dashboardService.ts
  front/src/stores/dashboard.ts
  front/src/stores/map.ts
  front/src/stores/zone.ts
  front/src/types/dashboard.ts
  front/src/views/DashboardView.vue
  front/tests/dashboard.store.test.ts
  front/tests/zone.store.test.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

make QGIS option more salient
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check

refacto and subcomponent to simplify
  front/components.d.ts
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
  front/src/components/map/panels/sidepanel/apiDoc/AccordionSection.vue
  front/src/components/map/panels/sidepanel/apiDoc/ManualRequestSection.vue
  front/src/components/map/panels/sidepanel/apiDoc/QgisConnectionCard.vue
  front/src/components/map/panels/sidepanel/apiDoc/types.ts
Due: js-lint, js-type-check

copy animation
  front/src/components/map/panels/sidepanel/apiDoc/QgisConnectionCard.vue
Due: js-lint, js-type-check

update tests
  front/cypress/components/SidebarDownload.cy.ts
Due: js-lint, js-type-check

weasyprint in backend
  back/api/tests/test_export_views.py
  back/api/urls.py
  back/api/views/export_views.py
  back/requirements.txt
Due: django-test, check-django-migrations

front: send HTML to back for weasyprint and get PDF back
  front/src/api.ts
  front/src/components/dashboard/DashboardFooter.vue
  front/src/composables/usePdfExport.ts
  front/src/services/dashboardService.ts
Due: js-lint, js-type-check

remove testing layers
  back/api/constants.py
Due: django-test, check-django-migrations

biosphere in wfs stream
  back/api/views/wfs_views.py
Due: django-test, check-django-migrations

fix
  back/api/views/vegetation_height_views.py
Due: django-test, check-django-migrations

fix
  front/src/api.ts
  front/src/composables/usePdfExport.ts
  front/src/services/dashboardService.ts
Due: js-lint, js-type-check

more logging + fix toast
  back/api/views/export_views.py
  front/src/composables/usePdfExport.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

fix
  front/src/composables/usePdfExport.ts
Due: js-lint, js-type-check

discover WMS file with glob instead of hc
  back/api/constants.py
  back/api/tests/test_wms_views.py
  back/api/views/wms_views.py
  back/iarbre_data/management/commands/generate_calque_rasters.py
  back/iarbre_data/utils/calque_config.py
Due: django-test, check-django-migrations

Geoffrey review
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
  front/src/components/map/panels/sidepanel/MapSidePanelDownload.vue
Due: js-lint, js-type-check

UI adjustements
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
  front/src/components/map/panels/sidepanel/MapSidePanelDownload.vue
  front/src/components/map/panels/sidepanel/apiDoc/ManualRequestSection.vue
Due: js-lint, js-type-check

chore: clean list of available WMS streams (#698)
  back/api/constants.py
  back/api/tests/test_wms_views.py
  back/api/views/vegetation_height_views.py
  back/api/views/wfs_views.py
  back/api/views/wms_views.py
  back/iarbre_data/management/commands/generate_calque_rasters.py
  back/iarbre_data/utils/calque_config.py
Due: django-test, check-django-migrations

longer timeout + tailwind adjust
  front/src/composables/usePdfExport.ts
  front/src/services/dashboardService.ts
Due: js-lint, js-type-check

Fix tests
  front/cypress/components/SidebarDownload.cy.ts
Due: js-lint, js-type-check

enh(front): more salient QGIS option in DL dialog box (#697)
  front/components.d.ts
  front/cypress/components/SidebarDownload.cy.ts
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
  front/src/components/map/panels/sidepanel/MapSidePanelDownload.vue
  front/src/components/map/panels/sidepanel/apiDoc/AccordionSection.vue
  front/src/components/map/panels/sidepanel/apiDoc/ManualRequestSection.vue
  front/src/components/map/panels/sidepanel/apiDoc/QgisConnectionCard.vue
  front/src/components/map/panels/sidepanel/apiDoc/types.ts
Due: js-lint, js-type-check

more logging
  back/api/views/export_views.py
  front/src/composables/usePdfExport.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

up
  back/api/views/export_views.py
Due: django-test, check-django-migrations

up
  front/src/composables/usePdfExport.ts
Due: js-lint, js-type-check

convert svg to png
  front/src/composables/usePdfExport.ts
Due: js-lint, js-type-check

flex to grid
  front/src/composables/usePdfExport.ts
Due: js-lint, js-type-check

0.35.0
  docs/changelog/product.md
Due: none

0.35.0 (2026-07-15) : Statistiques de zone et export simplifié
  docs/changelog/product.md
Due: none

draw cross for vegestrate
  front/src/stores/map.ts
Due: js-lint, js-type-check

cross size from zoom level
  front/src/stores/map.ts
Due: js-lint, js-type-check

enh: vegestrate pointer (#703)
  front/src/stores/map.ts
Due: js-lint, js-type-check

update palette for vegestrate
  back/iarbre_data/utils/palettes.py
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
