Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

js-lint:
  name: js-lint
  entry: npm run --prefix front lint
  pass_filenames: false
  language: system

js-type-check:
  name: js-type-check
  entry: npm run --prefix front type-check
  pass_filenames: false
  language: system

django-test:
  name: django-test
  entry: bash -c "cd back && coverage run manage.py test && coverage report --fail-under=75"
  pass_filenames: false
  language: system

check-django-migrations:
  name: Check django migrations
  entry: bash -c "cd back && python3 manage.py makemigrations --dry-run --check"
  language: system
  pass_filenames: false

fix
  front/src/components/division/DivisionDataDisplay.vue
Due: js-lint, js-type-check

fix
  front/src/utils/plantability.ts
Due: js-lint, js-type-check

fix
  front/src/components/contextData/shared/ContextDataScore.vue
  front/src/types/contextData.ts
Due: js-lint, js-type-check

WIP
  back/api/filters/__init__.py
  back/api/filters/division_filters.py
  back/api/filters/geometry_filters.py
  back/api/serializers/serializers.py
  back/api/views/division_views.py
  front/components.d.ts
  front/src/components/contextData/MapContextDataMobile.vue
  front/src/components/contextData/MapContextDataPlantability.vue
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
  front/src/components/contextData/plantability/PlantabilityContextDataScore.vue
  front/src/components/contextData/plantability/PlantabilityDistributionChart.vue
  front/src/components/contextData/vulnerability/VulnerabilityMainContextDataScore.vue
  front/src/components/division/ClickPlantabilityDivisionData.vue
  front/src/components/division/DivisionDataDisplay.vue
  front/src/components/division/PlantabilityCityCard.vue
  front/src/components/division/PlantabilityDivisionData.vue
  front/src/components/division/PlantabilityIrisCard.vue
  front/src/components/progress/CircularProgress.vue
  front/src/components/shared/CircularScore.vue
  front/src/services/divisionService.ts
  front/src/types/contextData.ts
  front/src/types/division.ts
  front/src/types/plantability.ts
  front/src/utils/plantability.ts
  front/src/utils/queryParams.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

fix: do ludo fix
  back/plantability/constants.py
Due: django-test, check-django-migrations

feat: add city and iris distrib (#419)
  Makefile
  back/api/filters/__init__.py
  back/api/filters/division_filters.py
  back/api/filters/geometry_filters.py
  back/api/serializers/serializers.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/division_views.py
  back/iarbre_data/migrations/0031_city_plantability_counts_iris_plantability_counts.py
  back/iarbre_data/models.py
  back/plantability/constants.py
  back/plantability/management/commands/compute_plantability_counts.py
  back/requirements.txt
  front/components.d.ts
  front/src/components/contextData/MapContextDataMobile.vue
  front/src/components/contextData/MapContextDataPlantability.vue
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
  front/src/components/contextData/plantability/PlantabilityContextDataScore.vue
  front/src/components/contextData/plantability/PlantabilityDistributionChart.vue
  front/src/components/contextData/vulnerability/VulnerabilityMainContextDataScore.vue
  front/src/components/division/ClickPlantabilityDivisionData.vue
  front/src/components/division/DivisionDataDisplay.vue
  front/src/components/division/PlantabilityCityCard.vue
  front/src/components/division/PlantabilityDivisionData.vue
  front/src/components/division/PlantabilityIrisCard.vue
  front/src/components/progress/CircularProgress.vue
  front/src/components/shared/CircularScore.vue
  front/src/services/divisionService.ts
  front/src/types/contextData.ts
  front/src/types/division.ts
  front/src/types/plantability.ts
  front/src/utils/plantability.ts
  front/src/utils/queryParams.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

feat: update db
  back/.db_recover_target
  docs/changelog/database_changelog.md
Due: none

fix(doc): add last db dump
  docs/changelog/database_changelog.md
Due: none

Update backup timestamp in recovery target
  back/.db_recover_target
Due: none

Update backup timestamp in recovery target (#431)
  back/.db_recover_target
Due: none

fix: add debounce to avoid spam
  front/package-lock.json
  front/package.json
  front/src/components/division/ClickPlantabilityDivisionData.vue
Due: js-lint, js-type-check

fix: add debounce to avoid spam (#434)
  front/package-lock.json
  front/package.json
  front/src/components/division/ClickPlantabilityDivisionData.vue
Due: js-lint, js-type-check

feat: add meta tag for seo
  static/hugo.toml
  static/layouts/_default/baseof.html
  static/static/images/logo.jpg
Due: none

feat: update meta tag for seo
  static/layouts/_default/baseof.html
Due: none

Update static/layouts/_default/baseof.html
  static/layouts/_default/baseof.html
Due: none

fix: seo tag hardcoded
  static/hugo.toml
  static/layouts/_default/baseof.html
Due: none

Up
  .github/nyc-comment-template.md
  .github/workflows/checks.yml
  front/.nycrc.json
  front/components.d.ts
  front/cypress/components/MapComponent.cy.ts
Due: js-lint, js-type-check

Delete test that need WebGL
  front/cypress/components/MapComponent.cy.ts
Due: js-lint, js-type-check

tests(front): Improve components coverage (#417)
  .github/nyc-comment-template.md
  .github/workflows/checks.yml
  back/iarbre_data/settings.py
  front/.gitignore
  front/.nycrc.json
  front/cypress/components/CircularProgress.cy.ts
  front/cypress/components/ClimateContextDataMetrics.cy.ts
  front/cypress/components/ClimateContextDataScore.cy.ts
  front/cypress/components/ContextDataAccordionItem.cy.ts
  front/cypress/components/ContextDataItem.cy.ts
  front/cypress/components/ContextDataScore.cy.ts
  front/cypress/components/MapComponent.cy.ts
  front/cypress/components/PlantabilityContextDataList.cy.ts
  front/cypress/components/PlantabilityContextDataScore.cy.ts
  front/cypress/components/VulnerabilityContextDataList.cy.ts
  front/cypress/components/VulnerabilityContextDataScoreBadge.cy.ts
  front/cypress/components/VulnerabilityMainContextDataScore.cy.ts
  front/src/components/contextData/climate/ClimateContextDataScore.vue
  front/src/components/contextData/shared/ContextDataAccordionItem.vue
  front/src/components/map/score/ScoreTag.vue
  front/src/composables/usePlantabilityData.ts
  front/vite.config.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

enh(front): test OSM bright
  front/public/map/map-style.json
Due: none

enh(front): dark background map
  front/public/map/map-style.json
  front/src/components/mapSwitcher/MapSwitcher.vue
  front/src/stores/map.ts
  front/src/utils/enum.ts
Due: js-lint, js-type-check

init
  back/vegetation/__init__.py
  back/vegetation/management/__init__.py
  back/vegetation/management/commands/__init__.py
Due: django-test, check-django-migrations

Add data in DB
  back/iarbre_data/migrations/0032_ipave_city_vegetation_voirie_basse_and_more.py
  back/iarbre_data/models.py
  back/vegetation/management/commands/add_ipave_data.py
Due: django-test, check-django-migrations

Update settings to add new app
  back/iarbre_data/settings.py
Due: django-test, check-django-migrations

Fix OOM
  back/vegetation/management/commands/add_ipave_data.py
Due: django-test, check-django-migrations

Fix MultiPolygon
  back/vegetation/management/commands/add_ipave_data.py
Due: django-test, check-django-migrations

MVT generation for Ipave
  back/api/constants.py
  back/api/management/commands/generate_mvt.py
  back/iarbre_data/migrations/0033_alter_mvttile_datatype.py
  back/iarbre_data/models.py
Due: django-test, check-django-migrations

Fix
  back/iarbre_data/models.py
Due: django-test, check-django-migrations

Expose KPIs for City
  back/api/serializers/serializers.py
Due: django-test, check-django-migrations

front: add ipave data legend + selection
  front/components.d.ts
  front/src/components/layerSwitcher/LayerSwitcher.vue
  front/src/components/map/legend/IpaveLegend.vue
  front/src/components/map/legend/MapLegend.vue
  front/src/components/map/score/IpaveScoreLabel.vue
  front/src/router/index.ts
  front/src/stores/map.ts
  front/src/utils/enum.ts
  front/src/utils/ipave.ts
Due: js-lint, js-type-check

fix
  back/iarbre_data/models.py
  front/src/components/map/legend/MapLegend.vue
  front/src/utils/enum.ts
  front/src/utils/ipave.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

click KPIs for city + contextData for Ipave
  front/components.d.ts
  front/src/components/contextData/MapContextData.vue
  front/src/components/contextData/MapContextDataIpave.vue
  front/src/components/contextData/ipave/IpaveContextDataInfo.vue
  front/src/components/division/ClickIpaveDivisionData.vue
  front/src/components/division/IpaveDivisionData.vue
  front/src/components/division/IpaveDivisionDataDisplay.vue
  front/src/composables/useContextData.ts
  front/src/stores/map.ts
  front/src/types/contextData.ts
  front/src/types/division.ts
  front/src/types/ipave.ts
Due: js-lint, js-type-check

fix + add new base map
  front/public/map/map-style.json
  front/src/components/mapSwitcher/MapSwitcher.vue
  front/src/stores/map.ts
  front/src/utils/enum.ts
Due: js-lint, js-type-check

Add new backup
  back/.db_recover_target
Due: none

Up
  front/src/components/contextData/MapContextHeader.vue
  front/src/composables/useMapFilters.ts
  front/src/stores/map.ts
  front/src/utils/ipave.ts
Due: js-lint, js-type-check

feat(data): new DB with IPAVE data
  back/.db_recover_target
Due: none

enh(front): improve geocoding search with Komoot API
  front/src/utils/geocoder.ts
Due: js-lint, js-type-check

fix: update static
  static/layouts/_default/baseof.html
Due: none

Description
  front/src/components/contextData/MapContextDataIpave.vue
  front/src/components/contextData/MapContextHeader.vue
Due: js-lint, js-type-check

feat: add meta tag for seo (#435)
  static/hugo.toml
  static/layouts/_default/baseof.html
  static/static/images/logo.jpg
Due: none

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
