Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

js-lint:
  name: js-lint
  entry: npm run --prefix front lint
  pass_filenames: false
  language: system

js-type-check:
  name: js-type-check
  entry: npm run --prefix front type-check
  pass_filenames: false
  language: system

django-test:
  name: django-test
  entry: bash -c "cd back && coverage run manage.py test && coverage report --fail-under=75"
  pass_filenames: false
  language: system

check-django-migrations:
  name: Check django migrations
  entry: bash -c "cd back && python3 manage.py makemigrations --dry-run --check"
  language: system
  pass_filenames: false

Linter
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

up
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/components/map/panels/sidepanel/MapSidePanelDownload.vue
Due: js-lint, js-type-check

up reviews
  back/api/tests/test_orthophoto_views.py
  front/src/utils/mapStyleOptions.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

fix e2e
  front/cypress/e2e/map.cy.ts
Due: js-lint, js-type-check

Ajoute le base layer "orthophoto" (#597)
  back/api/tests/test_orthophoto_views.py
  back/api/urls.py
  back/api/utils/tile_math.py
  back/api/views/__init__.py
  back/api/views/orthophoto_views.py
  back/iarbre_data/settings.py
  front/cypress/e2e/legendFiltering.cy.ts
  front/cypress/e2e/map.cy.ts
  front/public/images/orthophoto.png
  front/src/components/map/MapBackgroundSelector.vue
  front/src/map/map-style.json
  front/src/stores/map.ts
  front/src/utils/enum.ts
  front/src/utils/mapStyleOptions.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

adds flatgeobuf
  back/api/management/commands/generate_flatgeobuf.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/raster_views.py
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

refactor
  back/api/management/commands/generate_flatgeobuf.py
  back/api/views/raster_views.py
Due: django-test, check-django-migrations

update playbook
  back/api/management/commands/generate_flatgeobuf.py
  back/pipeline/plantability_pipeline.yaml
  deploy/telescoop-deploy/tasks/install-database.yml
Due: django-test, check-django-migrations

Fix version missmatch
  back/requirements.txt
Due: none

fix path
  back/api/management/commands/generate_flatgeobuf.py
Due: django-test, check-django-migrations

Fix: rendre les QPV plus facilement visible
  front/src/stores/map.ts
  front/src/utils/mapLayers.ts
Due: js-lint, js-type-check

adds geoparquet
  back/api/management/commands/export_vectors.py
  back/api/management/commands/generate_flatgeobuf.py
  back/api/urls.py
  back/api/views/raster_views.py
  back/pipeline/plantability_pipeline.yaml
  back/requirements.txt
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

Update product changelog
  docs/changelog/product.md
Due: none

UP
  docs/changelog/product.md
Due: none

update wsf
  back/api/management/commands/export_vectors.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/raster_views.py
  back/api/views/wfs_views.py
  back/pipeline/plantability_pipeline.yaml
  back/requirements.txt
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

fix nginx config
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check

up
  back/api/views/raster_views.py
  back/iarbre_data/management/commands/generate_calque_rasters.py
  back/iarbre_data/tests/test_utils_database.py
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

fix overflow
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check

🔖 0.28.0 (2026-04-15) : Ajout du calque de biodiversité et des orthophotos en fond de carte (#621)
  docs/changelog/product.md
Due: none

update apidocdialog behavior
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check

update command to generate raster
  back/iarbre_data/management/commands/generate_calque_rasters.py
Due: django-test, check-django-migrations

fix space in wfs url
  back/iarbre_data/management/commands/generate_calque_rasters.py
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

update nginx conf
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
Due: none

fix link and adds possibility to export raster with colors
  back/iarbre_data/management/commands/generate_calque_rasters.py
  deploy/telescoop-deploy/tasks/install-database.yml
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

update nginx conf
  back/api/views/raster_views.py
  back/iarbre_data/management/commands/generate_calque_rasters.py
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

update deploy
  back/api/views/raster_views.py
  back/iarbre_data/management/commands/generate_calque_rasters.py
  deploy/backend.yml
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

refactor
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check

update button
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check

update coords
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapCoordinates.vue
Due: js-lint, js-type-check

remove popup, update width
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapCoordinates.vue
Due: js-lint, js-type-check

remove 'echelon superieur'
  front/src/components/contextData/MapContextDataPlantability.vue
Due: js-lint, js-type-check

fix visual glitch
  front/src/components/map/MapCoordinates.vue
Due: js-lint, js-type-check

enhance geocoder
  front/package-lock.json
  front/package.json
  front/src/components/map/MapGeocoder.vue
  front/src/styles/maplibre.css
  front/src/utils/geocoder.ts
Due: js-lint, js-type-check

enhance geocoder
  front/src/components/map/MapGeocoder.vue
Due: js-lint, js-type-check

fix test
  front/cypress/components/SidebarDownload.cy.ts
Due: js-lint, js-type-check

fix ci
  deploy/backend.yml
Due: none

fix test
  front/cypress/e2e/map.cy.ts
Due: js-lint, js-type-check

refactor map resolution
  front/components.d.ts
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapResolution.vue
Due: js-lint, js-type-check

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
