Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)

🔖 0.33.0 (2026-06-03) : Améliorations de l'UI de la carte
  docs/changelog/product.md
Due: none

fix(back): mock DL test to datagrandlyon as it is often down
  back/iarbre_data/tests/test_c03_data.py
Due: django-test, check-django-migrations

use fiona to avoid OOM
  back/requirements.txt
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

up
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

fix incorrect geom
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

parallel
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

add logger for vegestrate DB addition
  back/iarbre_data/settings.py
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

more logging + faster simplication
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

compute vegetation surface
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

remove make valid
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

fix
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

Update telescoop backup
  back/requirements.txt
Due: none

fix: prometheus WFS/WMS stats with 2n gunicorn
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
Due: none

Db update
  back/.db_recover_target
  docs/changelog/database.md
Due: none

feat: vegestrate v3 data
  back/.db_recover_target
  back/iarbre_data/settings.py
  back/requirements.txt
  back/vegetation/management/commands/add_vegestrate_data.py
  docs/changelog/database.md
Due: django-test, check-django-migrations

chore: DB version
  back/.db_recover_target
  docs/changelog/database.md
Due: none

back: raster vegetation height endpoint
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/vegetation_height_views.py
Due: django-test, check-django-migrations

feat: switch to raster height for vegestrate
  front/src/components/layerSwitcher/LayerSwitcher.vue
  front/src/stores/map.ts
Due: js-lint, js-type-check

adds superpower to gitignore
  .gitignore
Due: none

Switcher improvements
  front/components.d.ts
  front/src/components/contextTools/MapContextTools.vue
  front/src/components/contextTools/VegestrateContextTool.vue
  front/src/components/layerSwitcher/LayerSwitcher.vue
  front/src/components/map/MapLayerToggles.vue
  front/src/components/map/legend/VegetationLegend.vue
  front/src/styles/main.css
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check

feat(back,front): add enpoint to get vegetation raster height from click
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/vegetation_height_views.py
  front/src/components/contextData/MapContextDataVegetation.vue
  front/src/components/layerSwitcher/MapLayerSwitcher.vue
  front/src/services/vegetationService.ts
  front/src/stores/map.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

gauge
  .gitignore
  front/src/components/contextData/MapContextDataVegetation.vue
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check

Improved gauge + click handling
  front/components.d.ts
  front/src/components/contextData/MapContextDataVegetation.vue
  front/src/components/contextData/vegestrate/VegestrateHeightGauge.vue
  front/src/stores/map.ts
Due: js-lint, js-type-check

adds stats from zone
  .gitignore
  back/api/tests/test_dashboard_views.py
  back/api/urls.py
  back/api/utils/polygon.py
  back/api/views/dashboard_views.py
  back/api/views/tile_views.py
  front/src/components/contextData/MapContextData.vue
  front/src/components/dashboard/DashboardHeader.vue
  front/src/composables/useTerraDraw.ts
  front/src/services/dashboardService.ts
  front/src/stores/dashboard.ts
  front/src/stores/map.ts
  front/src/stores/zone.ts
  front/src/types/dashboard.ts
  front/src/views/DashboardView.vue
  front/tests/dashboard.store.test.ts
  front/tests/zone.store.test.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

unit and component tests
  front/cypress/components/MapContextDataVegetation.cy.ts
  front/cypress/components/VegestrateHeightGauge.cy.ts
  front/tests/unit/utils/vegetation.spec.ts
Due: js-lint, js-type-check

test: test new view and update populate
  back/api/tests/test_vegetation_height_views.py
  back/iarbre_data/management/commands/populate.py
Due: django-test, check-django-migrations

fix: fix tests
  back/api/views/vegetation_height_views.py
  front/src/components/contextData/MapContextDataVegetation.vue
  front/src/components/contextData/vegestrate/VegestrateHeightGauge.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

Tests text
  front/cypress/components/VegestrateHeightGauge.cy.ts
Due: js-lint, js-type-check

feat: add raster display for vegetation height (#682)
  .gitignore
  back/api/tests/test_vegetation_height_views.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/vegetation_height_views.py
  back/iarbre_data/management/commands/populate.py
  front/components.d.ts
  front/cypress/components/MapContextDataVegetation.cy.ts
  front/cypress/components/VegestrateHeightGauge.cy.ts
  front/src/components/contextData/MapContextDataVegetation.vue
  front/src/components/contextData/vegestrate/VegestrateHeightGauge.vue
  front/src/components/contextTools/MapContextTools.vue
  front/src/components/contextTools/VegestrateContextTool.vue
  front/src/components/layerSwitcher/MapLayerSwitcher.vue
  front/src/components/map/MapLayerToggles.vue
  front/src/components/map/legend/VegetationLegend.vue
  front/src/services/vegetationService.ts
  front/src/stores/map.ts
  front/src/styles/main.css
  front/src/utils/vegetation.ts
  front/tests/unit/utils/vegetation.spec.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

up ergo
  front/src/components/contextData/MapContextData.vue
  front/src/components/map/ShapeLiveChip.vue
Due: js-lint, js-type-check

up design
  front/components.d.ts
  front/src/components/map/MapComponent.vue
  front/src/components/map/ShapeLiveChip.vue
  front/src/components/map/ZoneDashboardCard.vue
Due: js-lint, js-type-check

up position
  front/src/components/map/ZoneDashboardCard.vue
Due: js-lint, js-type-check

up bg
  front/src/components/map/ZoneDashboardCard.vue
Due: js-lint, js-type-check

up design / z-index
  front/src/components/map/ZoneDashboardCard.vue
Due: js-lint, js-type-check

up shadow
  front/src/components/map/ZoneDashboardCard.vue
Due: js-lint, js-type-check

fix: broken link for methodo doc
  front/src/utils/enum.ts
Due: js-lint, js-type-check

0.34.0 (2026-06-17) : Ajout des dernières versions vegestrate
  docs/changelog/product.md
Due: none

add ndsm raster
  back/api/views/raster_views.py
  back/iarbre_data/settings.py
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
Due: js-lint, js-type-check, django-test, check-django-migrations
