Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)

0.23.2 fix : first style switching
  front/src/stores/map.ts
Due: js-lint, js-type-check

feat: implement aggregate when dezoomed
  back/api/management/commands/generate_mvt.py
  back/api/utils/mvt_generator.py
  front/components.d.ts
  front/src/stores/map.ts
  front/src/utils/biosphere_functional_integrity.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

perf
  back/api/management/commands/generate_mvt.py
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

backup
  back/api/management/commands/generate_mvt.py
  back/api/tests/test_generate_mvt.py
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

fix: restore scroll
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
Due: js-lint, js-type-check

fix: restore scroll (#506)
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
Due: js-lint, js-type-check

clean and resolve tests
  back/api/management/commands/generate_mvt.py
  back/api/tests/test_generate_mvt.py
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

final fix?!
  back/api/utils/mvt_generator.py
  back/iarbre_data/tests/test_views.py
Due: django-test, check-django-migrations

should fix populate
  back/api/utils/mvt_generator.py
  back/iarbre_data/management/commands/populate.py
Due: django-test, check-django-migrations

perf: use multi processing for mvt generator (#498)
  back/api/management/commands/generate_mvt.py
  back/api/tests/test_generate_mvt.py
  back/api/utils/mvt_generator.py
  back/iarbre_data/management/commands/populate.py
  back/iarbre_data/tests/test_views.py
Due: django-test, check-django-migrations

add geopackage to DB + compute surface
  back/iarbre_data/migrations/0036_rename_vegetation_voirie_basse_city_bushes_surface_and_more.py
  back/iarbre_data/models.py
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

merge and fix positions controls
  front/package-lock.json
  front/src/components/map/MapBackgroundSelector.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapGeocoder.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/components/map/panels/sidepanel/MapSidePanelHeader.vue
  front/src/stores/map.ts
  front/src/styles/main.css
  front/src/styles/maplibre.css
Due: js-lint, js-type-check

Add app and correct field name
  back/iarbre_data/settings.py
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

Revert "chore(deps): bump protobuf from 5.29.5 to 6.33.5 in /back (#509)"
  back/requirements.txt
Due: none

fix tutorial, map controls
  front/src/components/AppDrawer.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapGeocoder.vue
  front/src/components/map/panels/MapScoresDrawer.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/components/navbar/NavbarComponent.vue
  front/src/composables/useTutorial.ts
  front/src/styles/main.css
  front/src/styles/maplibre.css
  front/src/types/tutorial.ts
Due: js-lint, js-type-check

fix test
  front/cypress/components/ClimateContextDataMetrics.cy.ts
  front/cypress/components/ContextDataAccordionItem.cy.ts
  front/cypress/components/ContextDataItem.cy.ts
  front/cypress/components/ContextDataScore.cy.ts
  front/cypress/components/MapContextDataClimateZone.cy.ts
  front/cypress/components/MapContextDataPlantability.cy.ts
  front/cypress/components/MapContextDataVulnerability.cy.ts
  front/cypress/components/MapLegend.cy.ts
  front/cypress/components/MapSidePanel.cy.ts
  front/cypress/components/NavbarComponent.cy.ts
  front/cypress/components/PlantabilityContextDataList.cy.ts
  front/cypress/components/SidebarDownload.cy.ts
  front/cypress/components/SidebarFooter.cy.ts
  front/cypress/components/SidebarHeader.cy.ts
  front/cypress/components/VulnerabilityContextDataList.cy.ts
  front/cypress/components/VulnerabilityContextDataScoreBadge.cy.ts
  front/cypress/components/VulnerabilityMainContextDataScore.cy.ts
  front/cypress/support/component.ts
Due: js-lint, js-type-check

feat: vegestrate with stats and vector data
  back/api/constants.py
  back/iarbre_data/migrations/0033_vegestrate_city_vegetation_voirie_basse_and_more.py
  back/iarbre_data/migrations/0034_merge_20260121_0813.py
  back/iarbre_data/migrations/0035_merge_20260203_1020.py
  back/iarbre_data/migrations/0036_rename_vegetation_voirie_basse_city_bushes_surface_and_more.py
  back/iarbre_data/models.py
  back/iarbre_data/settings.py
  back/vegetation/__init__.py
  back/vegetation/management/__init__.py
  back/vegetation/management/commands/__init__.py
  back/vegetation/management/commands/add_vegestrate_data.py
Due: django-test, check-django-migrations

reset api url
  front/src/api.ts
Due: js-lint, js-type-check

feat: add biophonia logger
  .gitignore
  back/iarbre_data/settings.py
  back/logs/.gitkeep
Due: django-test, check-django-migrations

fix mobile
  front/components.d.ts
  front/src/api.ts
  front/src/components/contextData/MapContextDataMobile.vue
  front/src/components/division/PlantabilityDivisionData.vue
  front/src/components/icons/IconIarbreLogo.vue
  front/src/components/map/MapBackgroundSelector.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapCoordinates.vue
  front/src/components/map/MapGeocoder.vue
  front/src/components/map/legend/MapLegend.vue
  front/src/components/map/legend/PlantabilityLegend.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/components/map/panels/sidepanel/MapSidePanelHeader.vue
  front/src/components/map/score/ScoreLabel.vue
  front/src/components/shared/AppSelect.vue
  front/src/components/shared/AppToggleSwitch.vue
  front/src/components/sidebar/SidebarComponent.vue
  front/src/stores/app.ts
  front/src/styles/main.css
  front/src/styles/maplibre.css
  front/src/views/MapView.vue
Due: js-lint, js-type-check

feat: loggings in view
  back/api/filters/geometry_filters.py
  back/api/views/feedback_views.py
  back/api/views/tile_views.py
  back/api/views/vegetation_views.py
  back/iarbre_data/settings.py
Due: django-test, check-django-migrations

fix tests
  front/cypress/e2e/legendFiltering.cy.ts
  front/cypress/e2e/map.cy.ts
  front/src/components/map/MapCoordinates.vue
  front/src/components/map/legend/MapLegend.vue
  front/src/styles/maplibre.css
Due: js-lint, js-type-check

fix arrow
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
Due: js-lint, js-type-check

chore: clean useless
  back/iarbre_data/settings.py
Due: django-test, check-django-migrations

fix responsive
  docs/assets/stylesheets/extra.css
  front/src/components/contextData/shared/ContextDataMainContainer.vue
  front/src/components/sidebar/SidebarComponent.vue
Due: js-lint, js-type-check

re-enable logbar for email feedback
  back/api/views/feedback_views.py
Due: django-test, check-django-migrations

feat: add a logger (#513)
  .gitignore
  back/api/filters/geometry_filters.py
  back/api/views/feedback_views.py
  back/api/views/tile_views.py
  back/api/views/vegetation_views.py
  back/iarbre_data/settings.py
  back/logs/.gitkeep
Due: django-test, check-django-migrations

modify cadastre
  front/public/images/cadastre.png
Due: none

fix tests
  front/cypress/e2e/map.cy.ts
  front/cypress/fixtures/qpv.json
Due: js-lint, js-type-check

remove plantability iris card
  front/src/components/division/PlantabilityIrisCard.vue
Due: js-lint, js-type-check

remove text
  front/src/components/contextData/plantability/PlantabilityDistributionChart.vue
  front/src/components/division/DivisionDataDisplay.vue
Due: js-lint, js-type-check

enh: better precision and resolution for vegestrate
  back/api/views/vegetation_views.py
Due: django-test, check-django-migrations

Simplify formula
  back/api/utils/mvt_generator.py
  front/src/utils/plantability_vulnerability.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

chore: precommit
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

update content section
  front/src/components/contextData/plantability/PlantabilityContextDataList.vue
  front/src/components/contextData/shared/ContextDataMainContainer.vue
Due: js-lint, js-type-check

up tests
  front/components.d.ts
  front/cypress/e2e/map.cy.ts
  front/src/components/map/MapComponent.vue
  front/src/components/map/panels/MapConfigDrawer.vue
Due: js-lint, js-type-check

Fix
  back/api/management/commands/generate_mvt.py
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

CI triggered by submodule updates
  .github/workflows/showcase.yml
Due: none
