Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)

enh(back): add veg elevation raster endpoint"
  back/api/constants.py
  back/api/views/raster_views.py
  back/api/views/vegetation_views.py
Due: django-test, check-django-migrations

enh(front): add veg elevation with a new legend
  front/src/components/map/legend/VegetationLegend.vue
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
  front/src/stores/map.ts
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check

enh(db): raster internal tilling
  back/.db_recover_target
  docs/changelog/database.md
Due: none

Supprime 'echelon superieur' (#625)
  front/src/components/contextData/MapContextDataPlantability.vue
Due: js-lint, js-type-check

Déplace le composant des coordonnées (#624)
  front/components.d.ts
  front/src/components/map/MapComponent.vue
  front/src/components/map/MapCoordinates.vue
  front/src/components/map/MapResolution.vue
Due: js-lint, js-type-check

remove border
  front/src/components/map/MapGeocoder.vue
Due: js-lint, js-type-check

refactor style
  front/src/components/map/MapGeocoder.vue
Due: js-lint, js-type-check

fix test
  front/cypress/e2e/map.cy.ts
Due: js-lint, js-type-check

enhance geocoder
  front/src/components/map/MapGeocoder.vue
Due: js-lint, js-type-check

enhance geocoder
  front/package-lock.json
  front/package.json
  front/src/components/map/MapGeocoder.vue
  front/src/styles/maplibre.css
  front/src/utils/geocoder.ts
Due: js-lint, js-type-check

refactor(front): refactor MapGeocoder to use @apply with scoped BEM styles
  front/src/components/map/MapGeocoder.vue
Due: js-lint, js-type-check

simplify geocoder pulse
  front/src/components/map/MapGeocoder.vue
Due: js-lint, js-type-check

Style: utiliser le design system pour la couleur des QPV
  front/src/utils/mapLayers.ts
Due: js-lint, js-type-check

A11y: Ajout contour blanc pour la délimitation des villes
  front/src/stores/map.ts
  front/src/utils/mapLayers.ts
Due: js-lint, js-type-check

Feat documentation : remplacer les liens de la documentation technique vers la doc métier
  front/src/components/WelcomeMessage.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/utils/enum.ts
Due: js-lint, js-type-check

Docs: Ajouter le lien vers la doc technique dans le WelcomeMessage
  front/src/components/WelcomeMessage.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
Due: js-lint, js-type-check

ouvrir dans un autre onglet la documentation
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/utils/enum.ts
Due: js-lint, js-type-check

Améliore le composant de géocoding (#626)
  front/cypress/e2e/map.cy.ts
  front/package-lock.json
  front/package.json
  front/src/components/map/MapGeocoder.vue
  front/src/styles/maplibre.css
  front/src/utils/geocoder.ts
Due: js-lint, js-type-check

Feat(front): link to users doc instead of technical docs
  front/src/components/WelcomeMessage.vue
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/utils/enum.ts
Due: js-lint, js-type-check

0.29.0 (2026-04-29)
  docs/changelog/product.md
Due: none

doc: add biodiv doc
  docs/methodology/biosphere_functional_integrity.md
  mkdocs.yml
Due: none

add: link to biodiv user doc
  front/src/utils/enum.ts
Due: js-lint, js-type-check

add: link to biodiv user doc (#635)
  front/src/utils/enum.ts
Due: js-lint, js-type-check

Update legend text
  front/src/components/map/legend/BiosphereFunctionalIntegrityLegend.vue
Due: js-lint, js-type-check

enh: uniform UX/UI legends
  front/src/components/map/legend/ClimateZoneLegend.vue
  front/src/components/map/legend/MapLegend.vue
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
  front/src/components/map/legend/PlantabilityLegend.vue
  front/src/components/map/legend/VegetationLegend.vue
  front/src/components/map/legend/VulnerabilityLegend.vue
  front/src/styles/main.css
  front/src/utils/biosphere_functional_integrity.ts
Due: js-lint, js-type-check

enh: update color palette
  front/src/utils/biosphere_functional_integrity.ts
Due: js-lint, js-type-check

Fix: IFB circular score
  front/src/components/shared/CircularScore.vue
Due: js-lint, js-type-check

feat(back): add endpoint to provide data about landuse for biodiv
  back/api/tests/test_biosphere_views.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/biosphere_views.py
Due: django-test, check-django-migrations

up(back): 500 radius instead of point for biodiv landcover endpoint
  back/api/tests/test_biosphere_views.py
  back/api/views/biosphere_views.py
Due: django-test, check-django-migrations

feat(front): add contextdata display + service to get it
  front/components.d.ts
  front/cypress/components/MapContextDataBiosphereIntegrity.cy.ts
  front/cypress/e2e/map.cy.ts
  front/src/components/contextData/MapContextDataBiosphereIntegrity.vue
  front/src/components/contextData/biosphereIntegrity/BiosphereLandCoverInfo.vue
  front/src/composables/useContextData.ts
  front/src/services/biosphereService.ts
  front/src/stores/map.ts
  front/src/types/biosphereIntegrity.ts
Due: js-lint, js-type-check

feat(front): change click handle for biodiv data
  front/cypress/e2e/map.cy.ts
  front/src/components/contextData/MapContextDataBiosphereIntegrity.vue
  front/src/stores/map.ts
Due: js-lint, js-type-check

feat(front): add circle around click
  front/src/stores/map.ts
Due: js-lint, js-type-check

fix: QM review
  front/cypress/components/MapContextDataBiosphereIntegrity.cy.ts
  front/cypress/e2e/map.cy.ts
  front/src/components/contextData/MapContextDataBiosphereIntegrity.vue
  front/src/components/contextData/biosphereIntegrity/BiosphereLandCoverInfo.vue
  front/src/stores/map.ts
  front/src/utils/biosphere_functional_integrity.ts
Due: js-lint, js-type-check

fix: remove useless (and failing) tests
  front/cypress/e2e/map.cy.ts
Due: js-lint, js-type-check

enh, feat(front): IFB data UI and add data in sidepanel (#636)
  back/api/tests/test_biosphere_views.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/biosphere_views.py
  front/components.d.ts
  front/cypress/components/MapContextDataBiosphereIntegrity.cy.ts
  front/cypress/e2e/map.cy.ts
  front/src/components/contextData/MapContextDataBiosphereIntegrity.vue
  front/src/components/contextData/biosphereIntegrity/BiosphereLandCoverInfo.vue
  front/src/components/map/legend/BiosphereFunctionalIntegrityLegend.vue
  front/src/components/map/legend/ClimateZoneLegend.vue
  front/src/components/map/legend/MapLegend.vue
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
  front/src/components/map/legend/PlantabilityLegend.vue
  front/src/components/map/legend/VegetationLegend.vue
  front/src/components/map/legend/VulnerabilityLegend.vue
  front/src/components/shared/CircularScore.vue
  front/src/composables/useContextData.ts
  front/src/services/biosphereService.ts
  front/src/stores/map.ts
  front/src/styles/main.css
  front/src/types/biosphereIntegrity.ts
  front/src/utils/biosphere_functional_integrity.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

Up
  docs/changelog/product.md
Due: none

changelog 2026-05-06
  docs/changelog/product.md
Due: none

fix: typo
  docs/changelog/product.md
Due: none

0.30.0 (2026-05-06) : Interactivité du calque de biodiversité (#638)
  back/api/tests/test_biosphere_views.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/biosphere_views.py
  docs/changelog/product.md
  front/components.d.ts
  front/cypress/components/MapContextDataBiosphereIntegrity.cy.ts
  front/cypress/e2e/map.cy.ts
  front/src/components/contextData/MapContextDataBiosphereIntegrity.vue
  front/src/components/contextData/biosphereIntegrity/BiosphereLandCoverInfo.vue
  front/src/components/map/legend/BiosphereFunctionalIntegrityLegend.vue
  front/src/components/map/legend/ClimateZoneLegend.vue
  front/src/components/map/legend/MapLegend.vue
  front/src/components/map/legend/PlantVulnerabilityLegend.vue
  front/src/components/map/legend/PlantabilityLegend.vue
  front/src/components/map/legend/VegetationLegend.vue
  front/src/components/map/legend/VulnerabilityLegend.vue
  front/src/components/shared/CircularScore.vue
  front/src/composables/useContextData.ts
  front/src/services/biosphereService.ts
  front/src/stores/map.ts
  front/src/styles/main.css
  front/src/types/biosphereIntegrity.ts
  front/src/utils/biosphere_functional_integrity.ts
  front/src/utils/enum.ts
Due: js-lint, js-type-check, django-test, check-django-migrations
