Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

js-lint:
  name: js-lint
  entry: npm run --prefix front lint
  pass_filenames: false
  language: system

js-type-check:
  name: js-type-check
  entry: npm run --prefix front type-check
  pass_filenames: false
  language: system

django-test:
  name: django-test
  entry: bash -c "cd back && coverage run manage.py test && coverage report --fail-under=75"
  pass_filenames: false
  language: system

check-django-migrations:
  name: Check django migrations
  entry: bash -c "cd back && python3 manage.py makemigrations --dry-run --check"
  language: system
  pass_filenames: false

Changelog: 0.26.0
  docs/changelog/product.md
Due: none

Update: plantability computation (#576)
  back/iarbre_data/data_config.py
  back/plantability/management/commands/compute_plantability_raster.py
  back/plantability/tests/test_compute_plantabilty_raster.py
Due: django-test, check-django-migrations

haut niveau puis détails
  static/layouts/partials/features-grid.html
  static/layouts/partials/value-proposition.html
Due: none

Update hero-image
  static/layouts/partials/hero-main.html
  static/static/images/banner.jpg
  static/static/images/map-city.jpg
Due: none

Add to changelog
  docs/changelog/product.md
Due: none

feat(static): add value proposition section (#574)
  docs/changelog/product.md
  static/assets/sass/main.scss
  static/layouts/_default/home.html
  static/layouts/partials/features-grid.html
  static/layouts/partials/hero-main.html
  static/layouts/partials/value-proposition.html
  static/static/images/banner.jpg
  static/static/images/map-city.jpg
Due: none

Mettre en ligne version précédente
  back/.db_recover_target
Due: none

Dedicated DB
  deploy/backend.yml
  deploy/group_vars/all/vars.yml
  deploy/group_vars/feature/vars.yml
Due: none

Up
  deploy/group_vars/feature/vars.yml
Due: none

self-referential loop
  deploy/backend.yml
Due: none

DB version target
  back/.db_recover_target
  deploy/backend.yml
  deploy/group_vars/feature/vars.yml
Due: none

Restore raster
  back/.db_recover_target
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/vegetation_views.py
  front/src/stores/map.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

Doc update
  back/iarbre_data/data.md
  docs/methodology/vegetation.md
Due: none

fix: plantability data date
  front/src/utils/enum.ts
Due: js-lint, js-type-check

Fix typo
  static/layouts/partials/features-grid.html
  static/layouts/partials/value-proposition.html
Due: none

enh: make methodo more salient
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
Due: js-lint, js-type-check

SEO recommendations by Claude
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
  static/layouts/_default/baseof.html
  static/layouts/_default/news.html
  static/layouts/_default/post.html
  static/layouts/partials/about-section.html
  static/layouts/partials/hero-main.html
  static/static/images/banner.webp
  static/static/robots.txt
Due: none

enh(front, static): minor corrections (#588)
  back/iarbre_data/data.md
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
  docs/methodology/vegetation.md
  front/src/components/map/panels/sidepanel/MapSidePanel.vue
  front/src/utils/enum.ts
  static/layouts/_default/baseof.html
  static/layouts/_default/news.html
  static/layouts/_default/post.html
  static/layouts/partials/about-section.html
  static/layouts/partials/features-grid.html
  static/layouts/partials/hero-main.html
  static/layouts/partials/value-proposition.html
  static/static/images/banner.webp
  static/static/robots.txt
Due: js-lint, js-type-check

Fix NGINX config
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
Due: none

FIx
  deploy/telescoop-deploy/tasks/templates/nginx.conf.j2
Due: none

Add list of rasters + WMS stream
  back/api/constants.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/raster_views.py
  back/api/views/vegetation_views.py
  back/api/views/wms_views.py
  back/vegetation/management/commands/vegestrate_to_raster.py
  front/components.d.ts
  front/cypress/components/SidebarDownload.cy.ts
  front/src/components/contextTools/MapContextTools.vue
  front/src/components/contextTools/VegestrateContextTool.vue
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
  front/src/stores/map.ts
  front/src/utils/vegetation.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

enh(db): add severals vegestrate rasters in DB
  back/.db_recover_target
  docs/changelog/database.md
Due: none

clean certificat after merge
  deploy/cleanup.yml
Due: none

Merge dev
  back/api/serializers/serializers.py
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

Update protobuf
  back/requirements.txt
Due: none

remove rounded selection
  front/src/components/map/DrawingControls.vue
  front/src/components/map/SelectionModeToolbar.vue
  front/src/composables/useTerraDraw.ts
  front/src/utils/enum.ts
Due: js-lint, js-type-check

Fix(Ops) : clean SSL certificate after merge request (#592)
  deploy/cleanup.yml
Due: none

Merge conflicts handling
  back/api/management/commands/generate_mvt.py
  back/api/serializers/serializers.py
  back/api/utils/mvt_generator.py
  back/api/views/tile_views.py
  back/iarbre_data/management/commands/import_biosphere_functional_integrity.py
  back/iarbre_data/migrations/0040_merge_20260331_1325.py
  back/iarbre_data/models.py
  deploy/group_vars/feature/vars.yml
  docs/methodology/biodiversity.md
  docs/methodology/biosphere_functional_integrity.md
  front/src/components/contextData/MapContextData.vue
  front/src/composables/useContextData.ts
  front/src/router/index.ts
  front/src/utils/enum.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

fix(front): remove rounded selection
  front/src/components/map/DrawingControls.vue
  front/src/components/map/SelectionModeToolbar.vue
  front/src/composables/useTerraDraw.ts
  front/src/utils/enum.ts
Due: js-lint, js-type-check

Simplify and remove tests
  .github/workflows/checks.yml
  front/src/components/contextData/MapContextDataVegetation.vue
  front/src/components/layerSwitcher/LayerSwitcher.vue
  front/src/components/map/panels/sidepanel/ApiDocDialog.vue
  front/src/utils/constants.ts
  front/src/utils/enum.ts
Due: js-lint, js-type-check

fix feedback popin
  front/cypress/e2e/welcomeFeedback.cy.ts
  front/src/components/FeedbackPopin.vue
  front/src/components/WelcomeMessage.vue
  front/src/components/navbar/NavbarComponent.vue
  front/src/components/sidebar/SidebarComponent.vue
  front/src/stores/app.ts
Due: js-lint, js-type-check

0.27.0 (2026-04-01)
  docs/changelog/product.md
Due: none

0.27.0 (2026-04-01) (#595)
  docs/changelog/product.md
Due: none

fix(front): allow feedback popin from tutorial
  front/cypress/e2e/welcomeFeedback.cy.ts
  front/src/components/FeedbackPopin.vue
  front/src/components/WelcomeMessage.vue
  front/src/components/navbar/NavbarComponent.vue
  front/src/components/sidebar/SidebarComponent.vue
  front/src/stores/app.ts
Due: js-lint, js-type-check

Fix padding
  front/src/components/contextData/MapContextDataVegetation.vue
Due: js-lint, js-type-check

chore(front): broken link and dead code
  docs/methodology/vegestrate.md
  front/src/components/contextData/MapContextDataMobile.vue
  front/src/components/contextData/MapContextHeader.vue
Due: js-lint, js-type-check

chore(doc): update
  mkdocs.yml
Due: none

adds orthophoto
  back/api/tests/test_orthophoto_views.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/orthophoto_views.py
  front/cypress/e2e/map.cy.ts
  front/public/images/orthophoto.png
  front/src/components/map/MapBackgroundSelector.vue
  front/src/map/map-style.json
  front/src/stores/map.ts
  front/src/utils/enum.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
