Repository TelesCoop/iarbre: changes, and which pre-commit hooks are due for each by the changed paths.
All: js-lint, js-type-check, django-test, check-django-migrations

js-lint:
  name: js-lint
  entry: npm run --prefix front lint
  pass_filenames: false
  language: system

js-type-check:
  name: js-type-check
  entry: npm run --prefix front type-check
  pass_filenames: false
  language: system

django-test:
  name: django-test
  entry: bash -c "cd back && coverage run manage.py test && coverage report --fail-under=75"
  pass_filenames: false
  language: system

check-django-migrations:
  name: Check django migrations
  entry: bash -c "cd back && python3 manage.py makemigrations --dry-run --check"
  language: system
  pass_filenames: false

enh : update blog layout (#520)
  docs/methodology/vegetation.md
  static/archetypes/default.md
  static/assets/sass/main.scss
  static/layouts/_default/baseof.html
  static/layouts/_default/news.html
  static/layouts/_default/post.html
Due: none

feat(front): update color map to fit new index between 1 and 100
  front/src/stores/map.ts
  front/src/utils/biosphere_functional_integrity.ts
Due: js-lint, js-type-check

clean: merge all migrations into one and merge with main
  back/iarbre_data/migrations/0032_biospherefunctionalintegrity_alter_mvttile_datatype_and_more.py
  back/iarbre_data/migrations/0033_biospherefunctionalintegrity_index.py
  back/iarbre_data/migrations/0034_alter_biospherefunctionalintegrity_geometry_and_more.py
  back/iarbre_data/migrations/0036_merge_20260122_1319.py
  back/iarbre_data/migrations/0037_biospherefunctionalintegrity_alter_mvttile_datatype_and_more.py
Due: none

fix: use latest db
  back/.db_recover_target
Due: none

fix(command): changed zoom to minzoom and maxzoom in generate mvt command
  back/api/management/commands/generate_mvt.py
Due: django-test, check-django-migrations

feat: upgrade import functional integrity and vectorize raster to multiply indice
  back/iarbre_data/management/commands/import_biosphere_functional_integrity.py
  back/iarbre_data/management/commands/vectorize_raster.py
Due: django-test, check-django-migrations

feat: deactivate agggregate
  back/api/utils/mvt_generator.py
Due: django-test, check-django-migrations

feat(back): upgrade /tile view to return biosphere data
  back/api/serializers/serializers.py
  back/api/views/tile_views.py
  back/iarbre_data/models.py
Due: django-test, check-django-migrations

feat(front): create context data view (very basic) and legend
  front/components.d.ts
  front/package-lock.json
  front/src/components/contextData/MapContextData.vue
  front/src/components/contextData/MapContextDataBiosphereIntegrity.vue
  front/src/components/contextData/biosphereIntegrity/BiosphereIntegrityMainContextDataScore.vue
  front/src/components/contextData/biosphereIntegrity/ClimateContextDataMetrics.vue
  front/src/components/map/legend/BiosphereFunctionalIntegrityLegend.vue
  front/src/components/map/legend/VegetationLegend.vue
  front/src/components/shared/CircularScore.vue
  front/src/stores/map.ts
  front/src/types/biosphereIntegrity.ts
  front/src/types/contextData.ts
  front/src/utils/biosphere_functional_integrity.ts
  front/src/utils/color.ts
Due: js-lint, js-type-check

add admin contour
  back/api/tests/test_boundary_views.py
  back/api/urls.py
  back/api/views/__init__.py
  back/api/views/boundary_views.py
  front/components.d.ts
  front/src/components/contextTools/MapContextTools.vue
  front/src/components/icons/IconBoundary.vue
  front/src/components/map/legend/VegetationLegend.vue
  front/src/components/map/panels/MapBoundaryToggleButton.vue
  front/src/services/boundaryService.ts
  front/src/stores/map.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

experiment tree recommendations
  back/api/serializers/flora_serializer.py
  back/api/services/__init__.py
  back/api/services/gbif_service.py
  back/api/services/inpn_service.py
  back/api/services/species_knowledge.py
  back/api/urls.py
  back/api/views/flora_views.py
  front/components.d.ts
  front/src/components/contextData/MapContextDataPlantability.vue
  front/src/components/contextData/flora/FloraLocalSummary.vue
  front/src/components/contextData/flora/FloraRecommendationsPanel.vue
  front/src/components/contextData/flora/FloraSpeciesList.vue
  front/src/composables/useFloraRecommendations.ts
  front/src/services/floraService.ts
  front/src/types/flora.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

fix: npm version missmatch
  front/package-lock.json
  front/package.json
Due: none

clean
  back/requirements.txt
  front/src/components/contextData/biosphereIntegrity/ClimateContextDataMetrics.vue
  front/src/stores/map.ts
Due: js-lint, js-type-check

fix: add timezone to deploy articles
  static/hugo.toml
Due: none

feat(docs): add ifb methodology doc from emile
  docs/assets/images/biosphere/classification-seminaturel.png
  docs/methodology/biodiversity.md
  docs/methodology/biosphere_functional_integrity.md
Due: none

feat(front): adjust score display (between 0 and 1)
  front/components.d.ts
  front/src/components/contextData/MapContextDataBiosphereIntegrity.vue
  front/src/components/contextData/biosphereIntegrity/BiosphereIntegrityMainContextDataScore.vue
  front/src/stores/map.ts
  front/src/utils/color.ts
Due: js-lint, js-type-check

refacto: add multiply factor for vectorize raster
  back/iarbre_data/management/commands/vectorize_raster.py
Due: django-test, check-django-migrations

feat(deploy): allow to use specific db on feature
  deploy/backend.yml
  deploy/group_vars/all/vars.yml
  deploy/group_vars/feature/vars.yml
Due: none

fix deploy
  deploy/backend.yml
  deploy/group_vars/feature/vars.yml
Due: none

fix: typo
  front/src/components/shared/CircularScore.vue
Due: js-lint, js-type-check

fix tests
  front/cypress/components/SidebarComponent.cy.ts
Due: js-lint, js-type-check

adds dashboard
  back/api/serializers/dashboard_serializer.py
  back/api/serializers/serializers.py
  back/api/tests/test_dashboard_views.py
  back/api/urls.py
  back/api/views/dashboard_views.py
  back/iarbre_data/factories.py
  back/iarbre_data/migrations/0037_vegestrate_strate_surface_idx.py
  back/iarbre_data/models.py
  front/components.d.ts
  front/package-lock.json
  front/package.json
  front/src/components/contextData/plantability/PlantabilityDistributionChart.vue
  front/src/components/dashboard/DashboardGrid.vue
  front/src/components/dashboard/DashboardHeader.vue
  front/src/components/dashboard/shared/DashboardArcScore.vue
  front/src/components/dashboard/shared/DashboardWidgetCard.vue
  front/src/components/dashboard/widgets/BuildingWidget.vue
  front/src/components/dashboard/widgets/HeatWidget.vue
  front/src/components/dashboard/widgets/PlantabilityWidget.vue
  front/src/components/dashboard/widgets/SurfaceTypeWidget.vue
  front/src/components/dashboard/widgets/VegetationWaterWidget.vue
  front/src/components/dashboard/widgets/VegetationWidget.vue
  front/src/components/sidebar/SidebarComponent.vue
  front/src/router/index.ts
  front/src/services/dashboardService.ts
  front/src/stores/dashboard.ts
  front/src/types/dashboard.ts
  front/src/views/DashboardView.vue
  static/layouts/_default/_markup/render-image.html
Due: js-lint, js-type-check, django-test, check-django-migrations

adds tests
  back/api/tests/test_dashboard_views.py
Due: django-test, check-django-migrations

fix rounded
  front/src/components/dashboard/widgets/PermeabilityWidget.vue
Due: js-lint, js-type-check

update dashboard
  back/api/serializers/dashboard_serializer.py
  front/components.d.ts
  front/src/components/contextData/plantability/PlantabilityDistributionChart.vue
  front/src/components/dashboard/DashboardGrid.vue
  front/src/components/dashboard/DashboardHeader.vue
  front/src/components/dashboard/shared/DashboardArcScore.vue
  front/src/components/dashboard/shared/DashboardBubbleChart.vue
  front/src/components/dashboard/shared/DashboardDetailBars.vue
  front/src/components/dashboard/widgets/BuildingWidget.vue
  front/src/components/dashboard/widgets/HeatWidget.vue
  front/src/components/dashboard/widgets/PermeabilityWidget.vue
  front/src/components/dashboard/widgets/PlantabilityWidget.vue
  front/src/components/dashboard/widgets/SurfaceTypeWidget.vue
  front/src/components/dashboard/widgets/VegetationWaterWidget.vue
  front/src/components/dashboard/widgets/VegetationWidget.vue
  front/src/components/map/panels/sidepanel/MapSidePanelHeader.vue
  front/src/components/shared/CircularScore.vue
  front/src/types/dashboard.ts
  front/src/utils/dashboardColors.ts
  front/src/utils/enum.ts
Due: js-lint, js-type-check, django-test, check-django-migrations

fixes from reviews
  front/src/components/contextData/plantability/PlantabilityDistributionChart.vue
  front/src/components/dashboard/shared/DashboardBubbleChart.vue
  front/src/components/dashboard/widgets/HeatWidget.vue
  front/src/utils/color.ts
Due: js-lint, js-type-check

add dashboard on tutorial
  front/src/components/contextData/plantability/PlantabilityDistributionChart.vue
  front/src/components/sidebar/SidebarComponent.vue
  front/src/composables/useTutorial.ts
  front/src/types/tutorial.ts
Due: js-lint, js-type-check

update tutorial
  front/src/stores/tutorial.ts
Due: js-lint, js-type-check

fix tutorial page
  front/src/composables/useTutorial.ts
Due: js-lint, js-type-check

fix test
  front/src/composables/useTutorial.ts
Due: js-lint, js-type-check

fix package
  front/package-lock.json
  front/package.json
Due: none

adds dashboard
  back/api/tests/test_dashboard_views.py
  front/components.d.ts
  front/package-lock.json
  front/src/components/dashboard/widgets/BuildingWidget.vue
Due: js-lint, js-type-check, django-test, check-django-migrations

bump version
  front/cypress.config.ts
  front/package-lock.json
  front/package.json
Due: js-lint, js-type-check

up
  front/cypress/e2e/map.cy.ts
  front/src/components/contextData/MapCadastreParcelInfo.vue
  front/src/components/contextTools/MapContextTools.vue
  front/src/stores/map.ts
Due: js-lint, js-type-check

enhance cadastre
  front/components.d.ts
  front/cypress/components/MapSidePanel.cy.ts
  front/cypress/e2e/map.cy.ts
  front/cypress/support/commands.ts
  front/cypress/support/index.d.ts
  front/src/components/contextData/MapCadastreParcelInfo.vue
  front/src/components/contextTools/MapContextTools.vue
  front/src/components/map/MapComponent.vue
  front/src/components/map/panels/MapCadastreToggleButton.vue
  front/src/stores/map.ts
Due: js-lint, js-type-check

up
  front/cypress/support/commands.ts
  front/src/components/contextData/MapContextDataClimateZone.vue
  front/src/components/contextData/MapContextDataPlantability.vue
  front/src/components/contextData/MapContextDataPlantabilityVulnerability.vue
  front/src/components/contextData/MapContextDataVulnerability.vue
  front/src/components/contextData/shared/ContextDataMainContainer.vue
  front/src/stores/map.ts
Due: js-lint, js-type-check

fix cadastre zoom when zoom > 17
  front/src/stores/map.ts
Due: js-lint, js-type-check

enh: endpoint for raster DL
  back/api/urls.py
  back/api/views/raster_views.py
Due: django-test, check-django-migrations

front: update DL target
  front/src/utils/enum.ts
Due: js-lint, js-type-check

Path conditions:
  js-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  js-type-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.vue$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  django-test: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
  check-django-migrations: any of: \.py$, but not: ^(.*\/migrations|.*package.json|.*package-lock.json|Pipfile*)
